In [86]:
import pandas as pd

In [87]:
#6월 28일것에 29일것 추가
#전처리 후 28일것 제거
#머신러닝에 2년치 대입

In [93]:
total = pd.read_csv('../../../data/A012450분봉데이터.csv')
total1 = pd.read_csv('../../../data/A012450분봉데이터하루.csv')

for index in [total, total1]:
    index.sort_values(['date','time'], inplace=True) # 내림차순 정렬
    # index.rename(columns={'filename':'name'}, inplace=True)
    index.reset_index(inplace=True)
    index.drop('index', axis=1, inplace=True)
total, total1

(        Unnamed: 0      date  time    open    high     low   close  volume  \
 0           187689  20210630   901   47450   47500   47350   47400    3572
 1           187688  20210630   902   47350   47400   47200   47200    1382
 2           187687  20210630   903   47200   47200   47150   47200    1170
 3           187686  20210630   904   47200   47200   47150   47150     941
 4           187685  20210630   905   47200   47250   47150   47200    1224
 ...            ...       ...   ...     ...     ...     ...     ...     ...
 187685           4  20230628  1517  128000  128300  127900  128200    6046
 187686           3  20230628  1518  128200  128300  127700  128000    1057
 187687           2  20230628  1519  128000  128000  127800  127800    2326
 187688           1  20230628  1520  127800  127900  127600  127700    2079
 187689           0  20230628  1530  127700  127700  127700  127700   12394

         Accumulated sales volume  Accumulated number of contract
 0                           1705                            1866
 1                           2745                            2208
 2                           3642                            2481
 3                           4542                            2522
 4                           4817                            3471
 ...                          ...                             ...
 187685                    265805                          213450
 187686                    266452                          213860
 187687                    268013                          214625
 187688                    269339                          215378
 187689                    269339                          227387

 [187690 rows x 10 columns],
      Unnamed: 0      date  time    open    high     low   close  volume  \
 0           380  20230629   901  127100  128200  126700  126700    5714
 1           379  20230629   902  126700  127400  126100  127200    8421
 2           378  20230629   903  127200  127600  127000  127100    4328
 3           377  20230629   904  127100  127200  126400  126500    6644
 4           376  20230629   905  126500  126700  126200  126200    5442
 ..          ...       ...   ...     ...     ...     ...     ...     ...
 376           4  20230629  1517  125300  125300  125200  125300    1209
 377           3  20230629  1518  125300  125400  125200  125400    1789
 378           2  20230629  1519  125300  125400  125300  125400    2731
 379           1  20230629  1520  125400  125500  125300  125300    2449
 380           0  20230629  1530  125200  125200  125200  125200   45553

      Accumulated sales volume  Accumulated number of contract
 0                        1592                            3138
 1                        6303                            6848
 2                        7857                            9622
 3                       12058                           12065
 4                       15263                           14302
 ..                        ...                             ...
 376                    311109                          327719
 377                    311233                          329384
 378                    311538                          331810
 379                    312742                          333055
 380                    312742                          377115

 [381 rows x 10 columns])

In [94]:
total = pd.concat([total, total1])
total = total.drop(columns=total.columns[0])
total.reset_index(inplace=True)
total.drop('index', axis=1, inplace=True)
total

,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,20210630,901,47450,47500,47350,47400,3572,1705,1866
1,20210630,902,47350,47400,47200,47200,1382,2745,2208
2,20210630,903,47200,47200,47150,47200,1170,3642,2481
3,20210630,904,47200,47200,47150,47150,941,4542,2522
4,20210630,905,47200,47250,47150,47200,1224,4817,3471
...,...,...,...,...,...,...,...,...,...
188066,20230629,1517,125300,125300,125200,125300,1209,311109,327719
188067,20230629,1518,125300,125400,125200,125400,1789,311233,329384
188068,20230629,1519,125300,125400,125300,125400,2731,311538,331810
188069,20230629,1520,125400,125500,125300,125300,2449,312742,333055
188070,20230629,1530,125200,125200,125200,125200,45553,312742,377115

In [90]:
# kospi200=pd.read_csv('../../../data/kospidata/total.csv')
# kospi200.drop(kospi200[kospi200['time'].isin([1521,1522,1523,1524,1525,1526,1527,1528,1529])].index, inplace=True)
# kospi200.sort_values(['date','time'], inplace=True) # 내림차순 정렬
# kospi200.reset_index(inplace=True)
# kospi200.drop('index', axis=1, inplace=True)
# kospi200.to_csv('../../../data/kospidata/arratotal.csv')

In [95]:
kospi200 = pd.read_csv('../../../data/kospi200.csv')

# 첫 번째 데이터프레임과 두 번째 데이터프레임을 'A'와 'C' 컬럼을 기준으로 합치기
total = pd.merge(total, kospi200, left_on='date', right_on='time')
total

Empty DataFrame
Columns: [date_x, time_x, open, high, low, close_x, volume, Accumulated sales volume, Accumulated number of contract, Unnamed: 0, date_y, time_y, close_y]
Index: []

In [92]:
asdf

NameError: name 'asdf' is not defined

In [ ]:
import ta
import talib
import numpy as np
import pandas as pd
import scipy
from tqdm.notebook import tqdm
H, L, C, V = total['high'], total['low'], total['close'], total['volume']

total['MFI'] = ta.volume.money_flow_index(
    high=H, low=L, close=C, volume=V, fillna=True)

total['ADI'] = ta.volume.acc_dist_index(
    high=H, low=L, close=C, volume=V, fillna=True)

total['OBV'] = ta.volume.on_balance_volume(close=C, volume=V, fillna=True)
total['CMF'] = ta.volume.chaikin_money_flow(
    high=H, low=L, close=C, volume=V, fillna=True)

total['FI'] = ta.volume.force_index(close=C, volume=V, fillna=True)
total['EOM, EMV'] = ta.volume.ease_of_movement(
    high=H, low=L, volume=V, fillna=True)

total['VPT'] = ta.volume.volume_price_trend(close=C, volume=V, fillna=True)
total['NVI'] = ta.volume.negative_volume_index(close=C, volume=V, fillna=True)
total['VMAP'] = ta.volume.volume_weighted_average_price(
    high=H, low=L, close=C, volume=V, fillna=True)

# Volatility
total['ATR'] = ta.volatility.average_true_range(
    high=H, low=L, close=C, fillna=True)
total['BHB'] = ta.volatility.bollinger_hband(close=C, fillna=True)
total['BLB'] = ta.volatility.bollinger_lband(close=C, fillna=True)
total['KCH'] = ta.volatility.keltner_channel_hband(
    high=H, low=L, close=C, fillna=True)
total['KCL'] = ta.volatility.keltner_channel_lband(
    high=H, low=L, close=C, fillna=True)
total['KCM'] = ta.volatility.keltner_channel_mband(
    high=H, low=L, close=C, fillna=True)
total['DCH'] = ta.volatility.donchian_channel_hband(
    high=H, low=L, close=C, fillna=True)
total['DCL'] = ta.volatility.donchian_channel_lband(
    high=H, low=L, close=C, fillna=True)
total['DCM'] = ta.volatility.donchian_channel_mband(
    high=H, low=L, close=C, fillna=True)
total['UI'] = ta.volatility.ulcer_index(close=C, fillna=True)
# Trend
total['WMA'] = ta.trend.wma_indicator(close=C, fillna=True)
total['MACD'] = ta.trend.macd(close=C, fillna=True)
total['ADX'] = ta.trend.adx(high=H, low=L, close=C, fillna=True)
total['-VI'] = ta.trend.vortex_indicator_neg(
    high=H, low=L, close=C, fillna=True)
total['+VI'] = ta.trend.vortex_indicator_pos(
    high=H, low=L, close=C, fillna=True)
total['TRIX'] = ta.trend.trix(close=C, fillna=True)
total['MI'] = ta.trend.mass_index(high=H, low=L, fillna=True)
total['CCI'] = ta.trend.cci(high=H, low=L, close=C, fillna=True)
total['DPO'] = ta.trend.dpo(close=C, fillna=True)
total['KST'] = ta.trend.kst(close=C, fillna=True)
total['Ichimoku'] = ta.trend.ichimoku_a(high=H, low=L, fillna=True)
total['Parabolic SAR'] = ta.trend.psar_down(
    high=H, low=L, close=C, fillna=True)
total['STC'] = ta.trend.stc(close=C, fillna=True)
# Momentum
total['RSI'] = ta.momentum.rsi(close=C, fillna=True)
total['SRSI'] = ta.momentum.stochrsi(close=C, fillna=True)
total['TSI'] = ta.momentum.tsi(close=C, fillna=True)
total['UO'] = ta.momentum.ultimate_oscillator(
    high=H, low=L, close=C, fillna=True)
total['SR'] = ta.momentum.stoch(close=C, high=H, low=L, fillna=True)
total['WR'] = ta.momentum.williams_r(high=H, low=L, close=C, fillna=True)
total['AO'] = ta.momentum.awesome_oscillator(high=H, low=L, fillna=True)
total['KAMA'] = ta.momentum.kama(close=C, fillna=True)
total['ROC'] = ta.momentum.roc(close=C, fillna=True)
total['PPO'] = ta.momentum.ppo(close=C, fillna=True)
total['PVO'] = ta.momentum.pvo(volume=V, fillna=True)

#등락률 계산
total["close yesterday"] = total["close"].shift(1)
total["change"] = ((total["close"] - total["close yesterday"]) / total["close yesterday"])*100
total["ratio high close"] = ((total["high"] - total["close yesterday"]) / total["close yesterday"])*100
total["ratio low close"] = ((total["low"] - total["close yesterday"]) / total["close yesterday"])*100
total["ratio open close"] = (total["open"] - total["close yesterday"]) / total["close yesterday"]*100
total.drop("close yesterday", axis=1).to_clipboard(index=False)

#이동평균선
total['MA5'] = talib.SMA(total['close'], 5)
total['MA10'] = talib.SMA(total['close'], 10)
total['MA20'] = talib.SMA(total['close'], 20)
total['MA60'] = talib.SMA(total['close'], 60)
total['MA120'] = talib.SMA(total['close'], 120)

#지수평균선
total['EMA5'] = talib.EMA(total['close'], 5)
total['EMA10'] = talib.EMA(total['close'], 12)
total['EMA20'] = talib.EMA(total['close'], 20)
total['EMA60'] = talib.EMA(total['close'], 30)
total['EMA120'] = talib.EMA(total['close'], 90)

total['ratio close MA5'] = total["close"] / total["MA5"]
total['ratio close MA10'] = total["close"] / total["MA10"]
total['ratio close MA20'] = total["close"] / total["MA20"]
total['ratio close MA60'] = total["close"] / total["MA60"]
total['ratio close MA120'] = total["close"] / total["MA120"]

#이동거래평균선
total['MA5 VOLUME'] = talib.SMA(total['volume'], 5)
total['MA10 VOLUME'] = talib.SMA(total['volume'], 10)
total['MA20 VOLUME'] = talib.SMA(total['volume'], 20)
total['MA60 VOLUME'] = talib.SMA(total['volume'], 60)
total['MA120 VOLUME'] = talib.SMA(total['volume'], 120)

#mdd 구하는 것
window = 394 #하루 분봉데이터 개수
#종가에서 하루 단위 최고치 peak를 구함
peak = total['close'].rolling(window, min_periods=1).max()
# 3.최고치 대비 현재 종가가 얼마나 하락했는지 구함
drawdown = total['close']/peak - 1.0
# 4. drawdown에서 1년기간 단위로 최저치 max_dd를 구한다. 
total['mdd'] = drawdown.rolling(window, min_periods=1).min()
#mdd가 낮을수록 위험성이 적은 것이다

c:\Users\TJ\anaconda3\envs\pro64\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\TJ\anaconda3\envs\pro64\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\TJ\anaconda3\envs\pro64\lib\site-packages\pandas\core\series.py:917: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

KeyboardInterrupt:

In [ ]:
# peaks 리스트 초기화
peaks = []
# 양수 peak 찾기
peaks.extend(scipy.signal.find_peaks(total['close'], distance=5, width=10)[0])

# 음수 peak 찾기
peaks.extend(scipy.signal.find_peaks(-total['close'], distance=5, width=10)[0])
        
# 마지막 날짜가 peak인 경우 peaks에 추가
if len(total)-1 not in peaks:
    peaks.append(len(total)-1)

# 수익성, 안전성, 유동성 지표 추가
total.loc[:, 'peak_date'] = ''
total.loc[:, 'peak_close'] = np.nan
total.loc[:, 'peak_diffratio'] = np.nan
total.loc[:, 'interpeak_mdd'] = np.nan
total.loc[:, 'interpeak_trans_price_exp'] = np.nan
total.loc[:, 'trans_price_exp']=np.nan

_last_date = 0  # 이전 날짜를 저장하는 변수 초기화
for peak in peaks:  # peaks 리스트의 각 peak에 대해 반복
    _date = total.iloc[peak]['date']  # 현재 peak의 날짜 저장
    _close = total.iloc[peak]['close']  # 현재 peak의 종가 저장
    mask = (total['date'] >= _last_date) & (total['date'] <= _date)  # 이전 날짜부터 현재 peak 날짜까지의 mask 생성
    _last_date = _date  # 이전 날짜를 현재 peak의 날짜로 업데이트
    if len(total[mask]) > 0:  # mask에 해당하는 데이터가 있는 경우
        total.loc[mask, 'peak_date'] = _date  # mask에 해당하는 행의 'peak_date' 열에 현재 peak의 날짜 저장
        total.loc[mask, 'peak_close'] = _close  # mask에 해당하는 행의 'peak_close' 열에 현재 peak의 종가 저장
        _x = np.array(total.loc[mask, 'close'])  # mask에 해당하는 행의 'close' 열을 numpy 배열로 변환하여 _x에 저장
        lower = np.argmax(np.maximum.accumulate(_x) - _x)  # 최대값을 누적한 후 현재 값과의 차이 중 최대값의 인덱스를 lower에 저장
        upper = np.argmax(_x[:lower+1])  # lower 이전까지의 값 중 최대값의 인덱스를 upper에 저장
        total.loc[mask, 'interpeak_mdd'] = (_x[lower] - _x[upper]) / _x[upper]  # mask에 해당하는 행의 'interpeak_mdd' 열에 MDD 계산 결과 저장
        # total.loc[mask, 'interpeak_trans_price_exp'] = total.loc[mask, 'trans_price_exp'].mean()  # mask에 해당하는 행의 'interpeak_trans_price_exp' 열에 'trans_price_exp' 열의 평균값 저장 = nan값만 나온다
                
total.loc[:, 'peak_diffratio'] = (total.loc[:, 'peak_close'] - total.loc[:, 'close']) / total.loc[:, 'close']  # 'peak_diffratio' 열에 종가와 peak 종가의 차이 비율 계산하여 저장
total = total.drop(['peak_date', 'peak_close'], axis=1)  # 'peak_date'와 'peak_close' 열 삭제        

total

,date,time,open,high,low,close,value,peak_date,peak_close,peak_diffratio,interpeak_mdd,interpeak_trans_price_exp,trans_price_exp
0,20210628,901,47050,47400,47000,47300,812740000,,NaN,NaN,NaN,NaN,NaN
1,20210628,902,47300,47350,47100,47300,519680000,,NaN,NaN,NaN,NaN,NaN
2,20210628,903,47250,47350,47200,47250,339770000,,NaN,NaN,NaN,NaN,NaN
3,20210628,904,47250,47400,47200,47300,298840000,,NaN,NaN,NaN,NaN,NaN
4,20210628,905,47350,48350,47300,48150,1741660000,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188447,20230628,1517,128000,128300,127900,128200,774400000,,NaN,NaN,NaN,NaN,NaN
188448,20230628,1518,128200,128300,127700,128000,135220000,,NaN,NaN,NaN,NaN,NaN
188449,20230628,1519,128000,128000,127800,127800,297460000,,NaN,NaN,NaN,NaN,NaN
188450,20230628,1520,127800,127900,127600,127700,265480000,,NaN,NaN,NaN,NaN,NaN
188451,20230628,1530,127700,127700,127700,127700,1582710000,,NaN,NaN,NaN,NaN,NaN

In [ ]:
# # 데이터를 토대로 종목별, 일간 수익률, 연간수익률, 일간리스크, 연간리스크를 구하기
# # 5종목 분당 변동률
# mins_ret = total.pct_change()
# # 하루 변동률
# daily_ret = mins_ret.mean() * 394
# # 5종목 1년간 변동률 평균(252는 미국 1년 평균 개장일)
# annual_ret = daily_ret.mean() * 252
# #분당 변 리스크
# mins_ret = total.cov()
# # 5종목 연간 리스크 = cov()함수를 이용한 분당 변동률 의 공분산
# mins_cov = mins_ret.cov()
# # 5종목 1년간 리스크(252는 미국 1년 평균 개장일)
# daily_cov = mins_cov * 394
# # 5종목 1년간 리스크(252는 미국 1년 평균 개장일)
# annual_cov = daily_cov * 252


# # 1. 수익률, 리스크, 비중 list 생성
# # 수익률 = port_ret
# # 리스크 = port_risk
# # 비  중 = port_weights
# port_ret = []
# port_risk = []
# port_weights = []
# # 샤프지수 추가
# shape_ratio = []

# for i in range(20000):
#     # 2. 랜덤 숫자 4개 생성 - 랜덤숫자 4개의 합 = 1이되도록 생성
#     weights = np.random.random(len(total))
#     weights /= np.sum(weights)
    
#     # 3. 랜덤 생성된 종목뵹 비중 배열과 종목별 연간 수익률을 곱해 포트폴리오의 전체 수익률(returns)를 구한다.
#     returns = np.dot(weights, daily_ret)

#     # 4. 종목별 연간공분산과 종목별 비중배열 곱하고, 다시 종목별 비중의 전치로 곱한다.
#     # 결과값의 제곱근을 sqrt()함수로 구하면 해당 포트폴리오 전체 risk가 구해진다. 
#     risk = np.sqrt(np.dot(weights.T, np.dot(daily_ret, weights)))

#     # 5. 20,000개 포트폴리오의 수익률, 리스크, 종목별 비중을 각각 리스트에 추가한다.
#     port_ret.append(returns)
#     port_risk.append(risk)
#     port_weights.append(weights)
#     shape_ratio.append(returns/risk)

# # 포트폴리오 결과에 샤프지수 추가
# portfolio = {'Returns' : port_ret, 'Risk' : port_risk, 'Shape' : shape_ratio}
# for j, s in enumerate(stocks):
#     # 6. portfolio 4종목의 가중치 weights를 1개씩 가져온다.
#     portfolio[s] = [weight[j] for weight in port_weights]

# # 7. 최종 df는 시총 상위 5종목의 보유 비중에 따른 risk와 예상 수익률을 확인할 수 있다.
# df = pd.DataFrame(portfolio)
# df = df[['Returns', 'Risk', 'Shape'] + [s for s in stocks]]


# # 8. 샤프지수로 위험단위당 예측 수익률이 가장 높은 포트폴리오 구하기
# # 샤프지수 칼럼에서 가장 높은 샤프지수 구하기
# max_shape = df.loc[df['Shape'] == df['Shape'].max()]

0       20230622
1       20230622
2       20230622
3       20230622
4       20230622
          ...
1828    20230630
1829    20230630
1830    20230630
1831    20230630
1832    20230630
Name: date, Length: 1833, dtype: int64

In [ ]:
total.describe()

,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,MFI,ADI,...,ratio close MA5,ratio close MA10,ratio close MA20,ratio close MA60,ratio close MA120,MA5 VOLUME,MA10 VOLUME,MA20 VOLUME,MA60 VOLUME,MA120 VOLUME
count,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,...,1829.000000,1824.000000,1814.000000,1774.000000,1714.000000,1829.000000,1824.000000,1814.000000,1774.000000,1714.000000
mean,1192.153846,1699.241680,1700.337152,1698.009274,1699.435352,753.698309,56948.047463,49380.698854,41.567578,54539.106688,...,1.000015,1.000040,1.000073,1.000056,0.999990,752.792674,751.428728,752.321803,755.234602,761.610161
std,192.632403,34.530506,34.669522,34.336974,34.572598,1575.154087,32965.328522,36984.407272,30.234385,51304.111444,...,0.002205,0.002868,0.003754,0.005834,0.007804,819.420328,638.335319,508.355100,320.284248,223.702715
min,901.000000,1622.000000,1622.000000,1620.000000,1620.000000,1.000000,0.000000,758.000000,0.000000,-11546.194232,...,0.989373,0.987257,0.985758,0.980141,0.976290,2.800000,28.500000,90.300000,246.083333,298.441667
25%,1020.000000,1668.000000,1669.000000,1667.000000,1669.000000,13.000000,30396.000000,22816.000000,14.713427,23287.239102,...,0.998949,0.998495,0.997981,0.996623,0.994720,219.800000,281.175000,384.487500,540.041667,578.145833
50%,1209.000000,1694.000000,1695.000000,1692.000000,1694.000000,136.000000,53942.000000,34561.000000,36.612401,37188.054830,...,1.000117,1.000179,1.000102,1.000005,0.999809,435.000000,558.950000,612.800000,683.966667,763.095833
75%,1346.000000,1729.000000,1730.000000,1728.000000,1729.000000,800.000000,80149.000000,60630.000000,67.821704,52850.854830,...,1.001140,1.001425,1.001775,1.003074,1.005256,999.000000,1042.275000,958.600000,957.691667,932.425000
max,1530.000000,1773.000000,1775.000000,1766.000000,1774.000000,26786.000000,144066.000000,178724.000000,99.906753,193327.801064,...,1.022635,1.024469,1.025834,1.023640,1.024840,7853.600000,5192.800000,3573.150000,1713.866667,1228.025000

In [ ]:
# chart_data.index = pd.to_datetime(chart_data.date) 
# chart_data = chart_data.iloc[:, 1:]

# a = chart_data.isnull().sum(0)
# nullCol = [x for x in a.index if a[x] != 0]

# if len(nullCol) > 0:
#     for c in nullCol:
#         print('{} has Null'.format(c))
#         chart_data[c] = chart_data[c].interpolate(method='time')


# total = total.iloc[:, 1:]

# a = total.isnull().sum(0) 
# nullCol = [x for x in a.index if a[x] != 0]
# if len(nullCol) > 0:
#     for c in nullCol:
#         print('{} has Null'.format(c))
#         total[c] = total[c].interpolate(method='time')

shift has Null

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex