In [1]:
# !pip install konlpy
# !pip install pymysql

In [2]:
import pandas as pd
import pymysql

conn = pymysql.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8'
)
cur = conn.cursor()

In [3]:
# cur.execute('''
# SELECT DISTINCT * FROM Stock_Price
# ''')
# result = cur.fetchall()
# CSV 파일 읽기
df = pd.read_csv('./A012450.csv', index_col=0)

# df = pd.DataFrame(result, columns=['stock_id', 'date', 'closing_price', 'market_price', 'high_price', 'low_price'])

df = df.sort_values(ascending=False, by='date_time').reset_index(drop=True)

stock_id = '012450'

df.insert(0, 'stock_id', stock_id)

In [4]:
df

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0
...,...,...,...,...,...,...,...,...,...
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0

In [5]:
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S')

In [6]:
df

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0
...,...,...,...,...,...,...,...,...,...
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0

In [7]:
# cur.execute('''
# SELECT DISTINCT NewsDates, NewsTitles, NewsContents FROM past_news_hanwhaairospace
# ''')
# news = cur.fetchall()
# news = pd.DataFrame(news, columns=['NewsDates', 'NewsTitles', 'NewsContents'])
# news

news = pd.read_csv('./경제_merge.csv', index_col=0)

# df = pd.DataFrame(result, columns=['stock_id', 'date', 'closing_price', 'market_price', 'high_price', 'low_price'])

news = news.sort_values(ascending=False, by=['date']).reset_index(drop=True)

stock_id = '012450'
news.insert(0, 'stock_id', stock_id)

In [8]:
news['date'] = news['date'].astype(str)

In [9]:
news['date'][1917][:]

'2022.10.24. 오후 12:04'

In [10]:
news.head(30)

,stock_id,date,title,content
0,012450,2023.02.28. 오후 4:56,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...
1,012450,2023.02.27. 오후 8:31,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...
2,012450,2023.02.27. 오후 7:29,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...
3,012450,2023.02.26. 오후 4:31,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...
4,012450,2023.02.25. 오후 9:01,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...
5,012450,2023.02.23. 오후 5:26,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...
6,012450,2023.02.22. 오전 7:31,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...
7,012450,2023.02.22. 오전 7:11,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...
8,012450,2023.02.21. 오후 9:52,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...
9,012450,2023.02.21. 오후 5:01,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...
10,012450,2023.02.17. 오후 2:24,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...
11,012450,2023.02.14. 오후 4:27,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...
12,012450,2023.02.12. 오전 11:28,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...
13,012450,2023-02-28 23:13:01,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...
14,012450,2023-02-28 22:17:08,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...
15,012450,2023-02-28 22:11:01,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...
16,012450,2023-02-28 21:49:37,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...
17,012450,2023-02-28 21:44:38,한성원입니다 촬영기자최영준그래픽최윤우,한성원입니다 촬영기자최영준그래픽최윤우
18,012450,2023-02-28 21:04:01,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...
19,012450,2023-02-28 21:02:18,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...
20,012450,2023-02-28 19:52:23,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...
21,012450,2023-02-28 19:01:01,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...
22,012450,2023-02-28 18:52:09,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...
23,012450,2023-02-28 18:17:04,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...
24,012450,2023-02-28 18:16:03,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...
25,012450,2023-02-28 18:15:01,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...
26,012450,2023-02-28 18:13:05,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...
27,012450,2023-02-28 18:10:04,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...
28,012450,2023-02-28 17:53:49,기자가 선출됐다,기자가 선출됐다
29,012450,2023-02-28 17:52:18,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...

In [11]:
for i, row in news.iterrows():
    date_str = row['date']
    if (('오후' in date_str ) and (date_str[-5:-3] == '12')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + date_str[-5:-3] + ':' + date_str[-2:] + ':00'
    if (('오전' in date_str ) and (date_str[-5:-3] == '12')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + str((int(date_str[-5:-3])-12)) + ':' + date_str[-2:] + ':00'
    if (('오후' in date_str ) and (date_str[-5:-3] not in ' ') and (date_str[-5:-3] != '12')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + str((int(date_str[-5:-3])+12)) + ':' + date_str[-2:] + ':00'
    if (('오전' in date_str ) and (date_str[-5:-4] == ' ')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' 0' + date_str[-4:-3] + ':' + date_str[-2:] + ':00'
    elif (('오전' in date_str) and (date_str[-5:-4] != ' ')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + date_str[-5:-3] + ':' + date_str[-2:] + ':00'

In [12]:
news.head(49)

,stock_id,date,title,content
0,012450,2023-02-28 16:56:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...
1,012450,2023-02-27 20:31:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...
2,012450,2023-02-27 19:29:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...
3,012450,2023-02-26 16:31:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...
4,012450,2023-02-25 21:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...
5,012450,2023-02-23 17:26:00,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...
6,012450,2023-02-22 07:31:00,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...
7,012450,2023-02-22 07:11:00,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...
8,012450,2023-02-21 21:52:00,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...
9,012450,2023-02-21 17:01:00,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...
10,012450,2023-02-17 14:24:00,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...
11,012450,2023-02-14 16:27:00,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...
12,012450,2023-02-12 11:28:00,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...
13,012450,2023-02-28 23:13:01,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...
14,012450,2023-02-28 22:17:08,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...
15,012450,2023-02-28 22:11:01,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...
16,012450,2023-02-28 21:49:37,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...
17,012450,2023-02-28 21:44:38,한성원입니다 촬영기자최영준그래픽최윤우,한성원입니다 촬영기자최영준그래픽최윤우
18,012450,2023-02-28 21:04:01,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...
19,012450,2023-02-28 21:02:18,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...
20,012450,2023-02-28 19:52:23,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...
21,012450,2023-02-28 19:01:01,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...
22,012450,2023-02-28 18:52:09,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...
23,012450,2023-02-28 18:17:04,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...
24,012450,2023-02-28 18:16:03,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...
25,012450,2023-02-28 18:15:01,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...
26,012450,2023-02-28 18:13:05,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...
27,012450,2023-02-28 18:10:04,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...
28,012450,2023-02-28 17:53:49,기자가 선출됐다,기자가 선출됐다
29,012450,2023-02-28 17:52:18,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...
30,012450,2023-02-28 17:41:05,한국노총 협상보다 투쟁민주노총 건설노조 도심 시위거리행진으로 교통혼잡 극심민주노총에...,한국노총 협상보다 투쟁민주노총 건설노조 도심 시위거리행진으로 교통혼잡 극심민주노총에...
31,012450,2023-02-28 17:40:04,매일경제는 지난 일 매경미디어센터에서 제기 오피니언 리더 자문위원단 발족식을 열었...,매일경제는 지난 일 매경미디어센터에서 제기 오피니언 리더 자문위원단 발족식을 열었...
32,012450,2023-02-28 17:26:03,자료 세계 위 경제대국 미국의 가계부채가 급증하면서 사실상 미국 국민의 상당수가 ...,자료 세계 위 경제대국 미국의 가계부채가 급증하면서 사실상 미국 국민의 상당수가 ...
33,012450,2023-02-28 17:21:07,플랫폼부,플랫폼부
34,012450,2023-02-28 17:20:01,경기신보 제공헤럴드경제수원박정규 기자경기신용보증재단이사장 시석중은 경기침체 장기화 ...,경기신보 제공헤럴드경제수원박정규 기자경기신용보증재단이사장 시석중은 경기침체 장기화 ...
35,012450,2023-02-28 17:14:01,설악산 국립공원 오색케이블카 설치 사업이 년 만에 첫 삽을 뜰 수 있게 됐다 환경부...,설악산 국립공원 오색케이블카 설치 사업이 년 만에 첫 삽을 뜰 수 있게 됐다 환경부...
36,012450,2023-02-28 17:10:18,강승남 기자 제주 경제에 빨간불이 켜졌다지역경제 핵심인 관광업과 건설업 차산업 모...,강승남 기자 제주 경제에 빨간불이 켜졌다지역경제 핵심인 관광업과 건설업 차산업 모...
37,012450,2023-02-28 17:01:42,대통령실 핵심 관계자는 이날 기자들과 만난 자리에서 미국이 전기차법에 이어서 반도...,대통령실 핵심 관계자는 이날 기자들과 만난 자리에서 미국이 전기차법에 이어서 반도...
38,012450,2023-02-28 16:58:45,민선희 기자 미국이 대중국 금융제재를 시행할 경우 우리 경제에 미치는 영향은 제한...,민선희 기자 미국이 대중국 금융제재를 시행할 경우 우리 경제에 미치는 영향은 제한...
39,012450,2023-02-28 16:58:20,가 됩니다카카오톡 검색해 채널 추가전화 메일,가 됩니다카카오톡 검색해 채널 추가전화 메일
40,012450,2023-02-28 16:55:01,전 세계적으로 공급망 등 경제안보 중요성이 커지고 있는 가운데 한미일 국이 글로벌 ...,전 세계적으로 공급망 등 경제안보 중요성이 커지고 있는 가운데 한미일 국이 글로벌 ...
41,012450,2023-02-28 16:43:02,데일리안 오명근 기자 경기 연천군이 올 연말 경원선 전철 개통을 앞두고 역세권 개발...,데일리안 오명근 기자 경기 연천군이 올 연말 경원선 전철 개통을 앞두고 역세권 개발...
42,012450,2023-02-28 16:38:58,해외 거래처 발굴 수출 실적 확대 위한 지원여수광양항만공사사장 박성현 는 지역내 사...,해외 거래처 발굴 수출 실적 확대 위한 지원여수광양항만공사사장 박성현 는 지역내 사...
43,012450,2023-02-28 16:30:03,서울뉴시스 대통령실 호놀룰루에서 한미일 경제안보대화 개최 네이버에서 뉴시스 구독하기...,서울뉴시스 대통령실 호놀룰루에서 한미일 경제안보대화 개최 네이버에서 뉴시스 구독하기...
44,012450,2023-02-28 16:27:01,해외 거래처 발굴 맞춤형헤럴드경제광양박대성 기자 여수광양항만공사사장 박성현 는 지역...,해외 거래처 발굴 맞춤형헤럴드경제광양박대성 기자 여수광양항만공사사장 박성현 는 지역...
45,012450,2023-02-28 16:21:44,NaN,NaN
46,012450,2023-02-28 16:21:19,가 됩니다카카오톡 검색해 채널 추가전화 메일,가 됩니다카카오톡 검색해 채널 추가전화 메일
47,012450,2023-02-28 16:21:11,기사내용 요약후생성 발표통계 시작된 이래 최소치 기록도쿄뉴시스지난 월일 일본 도쿄역...,기사내용 요약후생성 발표통계 시작된 이래 최소치 기록도쿄뉴시스지난 월일 일본 도쿄역...
48,012450,2023-02-28 16:13:02,대통령실 호놀룰루에서 한미일 경제안보대화 개최,대통령실 호놀룰루에서 한미일 경제안보대화 개최

In [13]:
news['date'][1917][-8:-6]

'12'

In [14]:
from datetime import datetime

# 'date' 컬럼 변환
news['date'] = pd.to_datetime(news['date'])

In [15]:
import re

def clean_text(d):
  text = re.sub(r'\([^)]*\)', '', d)
  text = re.sub(r'\[[^]]*\]', '', text)
  text = re.sub(r'\<[^>]*\>', '', text)
  pattern = r'[^가-힣0-9a-zA-Z\s]'
  text = re.sub(pattern, ' ', text)
  text = re.sub(r'사진', ' ', text)
  text = re.sub(r'.*뉴스', ' ', text)
  text = re.sub("\n", ' ', text)
  text = re.sub("  +", " ", text)
  return text

def text_clean(text):
    pattern = '([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)' # E-mail제거
    text = re.sub(pattern, '', text)
    pattern = '(http|ftp|https)://(?:[-\w.]|(?:%[\da-fA-F]{2}))+' # URL제거
    text = re.sub(pattern, '', text)
    pattern = '[a-zA-Z0-9]'    # 숫자와 알파벳 제거
    text = re.sub(pattern, '', text)
    pattern = '([ㄱ-ㅎㅏ-ㅣ]+)'  # 한글 자음, 모음 제거
    text = re.sub(pattern, '', text)
    pattern = '<[^>]*>'         # HTML 태그 제거
    text = re.sub(pattern, '', text)
    pattern = '[^\w\s]'         # 특수기호제거
    text = re.sub(pattern, '', text)
    pattern = '[\n]'            # \n제거
    text = re.sub(pattern, '', text)
    pattern = '[\t]'            # \n제거
    text = re.sub(pattern, '', text)
    return text

In [16]:
news['content'] = news.content.apply(text_clean)
news['content'] = news.content.apply(clean_text)
news

TypeError: expected string or bytes-like object

In [ ]:
from konlpy.tag import Kkma
from tqdm import tqdm, tqdm_pandas
tagger = Kkma()

In [ ]:
news.loc[(news["content"] == '') | (news["content"] == ' '), 'content'] = None
news.isnull().sum()

stock_id     0
date         2
title        2
content     33
dtype: int64

In [ ]:
news = news.dropna(axis=0)
news.isnull().sum()

stock_id    0
date        0
title       0
content     0
dtype: int64

In [ ]:
def token(news):
    return tagger.morphs(news)
tqdm.pandas()
news['token'] = news.content.progress_apply(token)

100%|██████████| 1788/1788 [09:16<00:00,  3.21it/s]
/var/folders/j6/q03gf6y53_72jb_wzwbp2b140000gn/T/ipykernel_34605/2451806588.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['token'] = news.content.progress_apply(token)

In [ ]:
news['date'] = pd.to_datetime(news['date'], format='%Y-%m-%d %H:%M:%S')
print()
news.to_csv("./Token.csv", index=True)

/var/folders/j6/q03gf6y53_72jb_wzwbp2b140000gn/T/ipykernel_34605/3420423641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['date'] = pd.to_datetime(news['date'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
from tqdm import tqdm
import datetime

for i in tqdm(range(0,len(df),75)):
  for j in range(75):
    if i + j >= len(df):
      break
    if df.loc[i+j][2] <= df.loc[i+j][5]:
      df.loc[i+j, 'label'] = 1
    elif df.loc[i+j][2] > df.loc[i+j][5]:
      df.loc[i+j, 'label'] = 0

100%|██████████| 2498/2498 [00:19<00:00, 126.20it/s]

In [ ]:
df.sort_values(by='date_time')

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,0.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0,0.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0,1.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0,0.0
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0,1.0
...,...,...,...,...,...,...,...,...,...,...
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0,1.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0,1.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0,0.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0,0.0
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0,0.0

In [ ]:
# df.loc[len(df)-1, 'label2'] = -1
df.loc[len(df)-1, 'label'] = -1

In [ ]:
df

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0,0.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0,0.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0,0.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0,1.0
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0,1.0
...,...,...,...,...,...,...,...,...,...,...
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0,1.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0,0.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0,1.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0,0.0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1.0

In [ ]:
# from tqdm import tqdm_pandas, tqdm
# import datetime
# for i in tqdm(range(0,len(df),75)):
#   for j in range(75):
#     if df.loc[i+j][2] < df.loc[i+j+1][5]:
#       df.loc[i+j, 'label2'] = 0
#     elif df.loc[i+j][2] >= df.loc[i+j+1][5]:
#       df.loc[i+j, 'label2'] = 1

In [ ]:
df['label'] = df.label.astype('int64')
df.tail(40)

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
187300,012450,2021-06-30 09:40:00,46900.0,46900.0,46850.0,46850.0,251.0,60297.0,27847.0,0
187301,012450,2021-06-30 09:39:00,46800.0,46850.0,46750.0,46850.0,4861.0,60234.0,27659.0,1
187302,012450,2021-06-30 09:38:00,46800.0,46800.0,46750.0,46750.0,804.0,60037.0,22995.0,0
187303,012450,2021-06-30 09:37:00,46750.0,46800.0,46750.0,46800.0,120.0,59714.0,22514.0,1
187304,012450,2021-06-30 09:36:00,46800.0,46800.0,46750.0,46800.0,384.0,59647.0,22461.0,1
187305,012450,2021-06-30 09:35:00,46750.0,46800.0,46700.0,46800.0,564.0,59419.0,22305.0,1
187306,012450,2021-06-30 09:34:00,46750.0,46750.0,46700.0,46750.0,577.0,59384.0,21776.0,1
187307,012450,2021-06-30 09:33:00,46700.0,46800.0,46700.0,46800.0,3814.0,59163.0,21420.0,1
187308,012450,2021-06-30 09:32:00,46750.0,46800.0,46700.0,46750.0,3032.0,55715.0,21054.0,1
187309,012450,2021-06-30 09:31:00,46800.0,46800.0,46700.0,46700.0,7289.0,54277.0,19460.0,0
187310,012450,2021-06-30 09:30:00,47000.0,47000.0,46800.0,46850.0,8381.0,47750.0,18698.0,0
187311,012450,2021-06-30 09:29:00,47000.0,47050.0,46950.0,47000.0,2192.0,40217.0,17850.0,1
187312,012450,2021-06-30 09:28:00,47000.0,47000.0,46950.0,46950.0,489.0,40053.0,15822.0,0
187313,012450,2021-06-30 09:27:00,46950.0,47000.0,46950.0,47000.0,416.0,39827.0,15559.0,1
187314,012450,2021-06-30 09:26:00,46950.0,46950.0,46900.0,46950.0,1170.0,39773.0,15197.0,1
187315,012450,2021-06-30 09:25:00,46950.0,47000.0,46900.0,46950.0,737.0,39461.0,14339.0,1
187316,012450,2021-06-30 09:24:00,47000.0,47000.0,46950.0,47000.0,182.0,38827.0,14236.0,1
187317,012450,2021-06-30 09:23:00,46900.0,47000.0,46900.0,47000.0,1549.0,38717.0,14164.0,1
187318,012450,2021-06-30 09:22:00,47000.0,47000.0,46950.0,46950.0,3425.0,37575.0,13757.0,0
187319,012450,2021-06-30 09:21:00,47100.0,47100.0,47000.0,47000.0,627.0,35096.0,12811.0,0
187320,012450,2021-06-30 09:20:00,47100.0,47100.0,47050.0,47100.0,249.0,34834.0,12446.0,1
187321,012450,2021-06-30 09:19:00,46950.0,47100.0,46950.0,47050.0,512.0,34719.0,12312.0,1
187322,012450,2021-06-30 09:18:00,47000.0,47000.0,46950.0,46950.0,1443.0,34601.0,11918.0,0
187323,012450,2021-06-30 09:17:00,47050.0,47100.0,47000.0,47050.0,1026.0,33172.0,11904.0,1
187324,012450,2021-06-30 09:16:00,47100.0,47100.0,47050.0,47050.0,252.0,32153.0,11897.0,0
187325,012450,2021-06-30 09:15:00,47050.0,47100.0,47050.0,47100.0,399.0,32132.0,11666.0,1
187326,012450,2021-06-30 09:14:00,47000.0,47000.0,46950.0,47000.0,2254.0,31778.0,11621.0,1
187327,012450,2021-06-30 09:13:00,47000.0,47000.0,46950.0,47000.0,145.0,31327.0,9818.0,1
187328,012450,2021-06-30 09:12:00,46950.0,47100.0,46950.0,47000.0,1723.0,31277.0,9723.0,1
187329,012450,2021-06-30 09:11:00,46900.0,46900.0,46850.0,46900.0,2814.0,29751.0,9526.0,1
187330,012450,2021-06-30 09:10:00,47050.0,47150.0,46850.0,46850.0,3724.0,27360.0,9103.0,0
187331,012450,2021-06-30 09:09:00,46950.0,47250.0,46850.0,47200.0,3875.0,23848.0,8891.0,1
187332,012450,2021-06-30 09:08:00,47350.0,47350.0,46800.0,47000.0,19112.0,20488.0,8376.0,0
187333,012450,2021-06-30 09:07:00,47250.0,47300.0,47250.0,47300.0,382.0,5624.0,4128.0,1
187334,012450,2021-06-30 09:06:00,47150.0,47300.0,47150.0,47250.0,1082.0,5503.0,3867.0,1
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0,1
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0,0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0,1
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0,0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [ ]:
news.reset_index(drop=True, inplace=True)
news

,stock_id,date,title,content,token
0,012450,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ..."
1,012450,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한..."
2,012450,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,..."
3,012450,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ..."
4,012450,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김..."
...,...,...,...,...,...
1783,012450,2021-06-29 04:30:19,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ..."
1784,012450,2021-06-28 17:38:03,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ..."
1785,012450,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ..."
1786,012450,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미..."
1787,012450,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,..."

In [ ]:
news.insert(1, 'date_str', pd.to_datetime(news['date']).dt.strftime('%Y%m%d%H%M%S'))
news.insert(2, 'date_int', pd.to_datetime(news['date']).dt.strftime('%Y%m%d%H%M'))
news = news.astype({'date_str':'string', 'date_int':'int64'})
news.loc[news['date_str'].str.endswith('00'), 'date_str'] = news['date_str'].str[:12]
news

,stock_id,date_str,date_int,date,title,content,token
0,012450,20230703151401,202307031514,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ..."
1,012450,20230703143203,202307031432,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한..."
2,012450,20230703113703,202307031137,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,..."
3,012450,20230703112901,202307031129,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ..."
4,012450,20230703111718,202307031117,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김..."
...,...,...,...,...,...,...,...
1783,012450,20210629043019,202106290430,2021-06-29 04:30:19,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ..."
1784,012450,20210628173803,202106281738,2021-06-28 17:38:03,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ..."
1785,012450,20210628143503,202106281435,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ..."
1786,012450,20210628102438,202106281024,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미..."
1787,012450,20210628000402,202106280004,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,..."

In [ ]:
list = []

for da in news['date_str']:
    list.append(len(da))

news['len'] = list
news.loc[news['len']==14, 'date_int'] = news['date_int'] + 1

In [ ]:
news['str'] = news['date_str'].str[:10]
news = news.astype({'str':'int64'})
news['len'].unique()

array([14, 12])

In [ ]:
news

,stock_id,date_str,date_int,date,title,content,token,len,str
0,012450,20230703151401,202307031515,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ...",14,2023070315
1,012450,20230703143203,202307031433,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한...",14,2023070314
2,012450,20230703113703,202307031138,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,...",14,2023070311
3,012450,20230703112901,202307031130,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ...",14,2023070311
4,012450,20230703111718,202307031118,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김...",14,2023070311
...,...,...,...,...,...,...,...,...,...
1783,012450,20210629043019,202106290431,2021-06-29 04:30:19,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ...",14,2021062904
1784,012450,20210628173803,202106281739,2021-06-28 17:38:03,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ...",14,2021062817
1785,012450,20210628143503,202106281436,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ...",14,2021062814
1786,012450,20210628102438,202106281025,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미...",14,2021062810
1787,012450,20210628000402,202106280005,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,...",14,2021062800

In [ ]:
news.loc[news['date_str'].str[10:12]=='59', 'date_int'] = news['str']+ 1
news = news.astype({'date_int':'string'})
news.loc[news['date_str'].str[10:12]=='59', 'date_int'] = news['date_int'].str[:8] + news['date_int'].str[8:] +'00'
news[news['date_str'].str[10:12]=='59']

,stock_id,date_str,date_int,date,title,content,token,len,str
542,012450,20230607165901,202306071700,2023-06-07 16:59:01,한화오션 부스 찾은 김동관 부회장…경영정상화 힘 싣는다 [가봤어요],거제사업장 방문 이후 깜짝 등장시너지 확신 자신감김동관 한화그룹 부회장이 일 부산 ...,"[거제, 사업장, 방문, 이후, 깜짝, 등장, 시너지, 확신, 자신감, 김, 동관,...",14,2023060716
543,012450,20230607165901,202306071700,2023-06-07 16:59:01,한화오션 부스 찾은 김동관 부회장…경영정상화 힘 싣는다 [가봤어요],거제사업장 방문 이후 깜짝 등장시너지 확신 자신감김동관 한화그룹 부회장이 일 부산 ...,"[거제, 사업장, 방문, 이후, 깜짝, 등장, 시너지, 확신, 자신감, 김, 동관,...",14,2023060716
544,012450,20230607165901,202306071700,2023-06-07 16:59:01,한화오션 부스 찾은 김동관 부회장…경영정상화 힘 싣는다 [가봤어요],거제사업장 방문 이후 깜짝 등장시너지 확신 자신감김동관 한화그룹 부회장이 일 부산 ...,"[거제, 사업장, 방문, 이후, 깜짝, 등장, 시너지, 확신, 자신감, 김, 동관,...",14,2023060716
692,012450,20230605075904,202306050800,2023-06-05 07:59:04,"[다가오는 수소경제]생산부터 공급까지…한화, 7개 계열사 수직계열화 완성",년까지 조원 투자수소혼소 관련 기술 갖춰한화그룹은 수소 생산부터 저장 운송 유통 충...,"[년, 까지, 조원, 투자, 수소, 혼소, 관련, 기술, 갖추, 어, 한화, 그룹,...",14,2023060507
693,012450,20230605075904,202306050800,2023-06-05 07:59:04,"[다가오는 수소경제]생산부터 공급까지…한화, 7개 계열사 수직계열화 완성",년까지 조원 투자수소혼소 관련 기술 갖춰한화그룹은 수소 생산부터 저장 운송 유통 충...,"[년, 까지, 조원, 투자, 수소, 혼소, 관련, 기술, 갖추, 어, 한화, 그룹,...",14,2023060507
749,012450,20230531105949,202305311100,2023-05-31 10:59:49,분향하는 어성철 한화시스템 대표,어성철 한화시스템 대표가 지난 일 임직원들과 서울 동작구 국립현충원을 찾아 참배를...,"[어, 어, 성철, 한화, 시스템, 대표, 가, 지나, ㄴ, 일, 임직원, 들, 과...",14,2023053110
790,012450,20230530105901,202305301100,2023-05-30 10:59:01,"'나노코팅' 美 스타트업 투자..한화에어로스페이스 ""UAM, 선박 등 시너지""",한화에어로스페이스가 이차전지의 수명을 연장하는 정밀 나노 코팅 기술을 보유한 미국...,"[한화, 에, 어로, 스페이스, 가, 이차, 전지, 의, 수명, 을, 연장, 하, ...",14,2023053010
1226,012450,20230227075901,202302270800,2023-02-27 07:59:01,"한화에어로스페이스, 올해 안정적 공급인프라로 시장점유율 유지-NH",이데일리 양지윤 기자 투자증권은 일 한화에어로스페이스에 대해 올해 공급망 정상화에 ...,"[이, 데일리, 양지, 윤, 기자, 투자, 증권, 은, 일, 한화, 에, 어로, 스...",14,2023022707
1227,012450,20230227075901,202302270800,2023-02-27 07:59:01,"한화에어로스페이스, 올해 안정적 공급인프라로 시장점유율 유지-NH",이데일리 양지윤 기자 투자증권은 일 한화에어로스페이스에 대해 올해 공급망 정상화에 ...,"[이, 데일리, 양지, 윤, 기자, 투자, 증권, 은, 일, 한화, 에, 어로, 스...",14,2023022707
1233,012450,20230224175901,202302241800,2023-02-24 17:59:01,"한화에어로스페이스, 폴란드 업고 ‘好好’… “올해 방산 시너지 극대화”",매출 조억원 영업익 억 전년 증가폴란드 자주포 차 계약 납품물량 반영올 월 한화 방...,"[매출, 조, 억, 원, 영, 업익, 억, 전년, 증가, 폴란드, 자주포, 차, 계...",14,2023022417
1234,012450,20230224175901,202302241800,2023-02-24 17:59:01,"한화에어로스페이스, 폴란드 업고 ‘好好’… “올해 방산 시너지 극대화”",매출 조억원 영업익 억 전년 증가폴란드 자주포 차 계약 납품물량 반영올 월 한화 방...,"[매출, 조, 억, 원, 영, 업익, 억, 전년, 증가, 폴란드, 자주포, 차, 계...",14,2023022417
1348,012450,20221124185931,202211241900,2022-11-24 18:59:31,한화에어로스페이스 방문한 윤석열 대통령,가치나 화제성이 있다고 판단되는 또는 영상을 뉴시스 영상부로 보내주시면 적극 반영...,"[가치, 나, 화제, 성, 이, 있, 다고, 판단, 되, 는, 또는, 영상, 을, ...",14,2022112418
1349,012450,20221124185931,202211241900,2022-11-24 18:59:31,한화에어로스페이스 방문한 윤석열 대통령,가치나 화제성이 있다고 판단되는 또는 영상을 뉴시스 영상부로 보내주시면 적극 반영...,"[가치, 나, 화제, 성, 이, 있, 다고, 판단, 되, 는, 또는, 영상, 을, ...",14,2022112418
1495,012450,20220823145946,202208231500,2022-08-23 14:59:46,팔고 합치고 '확장보다 슬림화'…'R 공포'에 재계 '선택과 집중',한화는 방산 포스코 에너지유사 사업 합쳐 시너지 창출그룹 내 중첩된 사업을 합쳐 ...,"[한화, 는, 방산, 포스, 코, 에너지, 유사, 사업, 합치, 어, 시너지, 창출...",14,2022082314
1561,012450,20220721075901,202207210800,2022-07-21 07:59:01,"한화에어로스페이스, 영국 버티컬 에어로스페이스와 공동협력의향서 체결",이데일리 김지완 기자 한화에어로스페이스가 지난 일 영국의 체계개발 업체인 버티컬 에...,"[이, 데일리, 김, 지, 와, ㄴ, 기자, 한화, 에, 어로, 스페이스, 가, 지...",14,2022072107
1568,012450,20220718155955,202207181600,2022-07-18 15:59:55,"한화에어로스페이스, KAI와 783억 규모 T-50 부품공급 계약",한화에어로스페이스는 한국항공우주와 계열의 부품공급 계약을 체결했다고 일 공시했다이...,"[한화, 에, 어로, 스페이스, 는, 한국, 항공, 우주, 와, 계열, 의, 부품,...",14,2022071815
1569,012450,20220718155955,202207181600,2022-07-18 15:59:55,"한화에어로스페이스, KAI와 783억 규모 T-50 부품공급 계약",한화에어로스페이스는 한국항공우주와 계열의 부품공급 계약을 체결했다고 일 공시했다이...,"[한화, 에, 어로, 스페이스, 는, 한국, 항공, 우주, 와, 계열, 의, 부품,...",14,2022071815
1641,012450,20220502085901,202205020900,2022-05-02 08:59:01,"한화에어로스페이스, 해외수주 호조로 실적 개선 전망…목표가↑-한화證",목표주가 만원만원한화투자증권은 일 한화에어로스페이스의 목표주가를 기존 만천원에서 만...,"[목표, 주가, 만원, 만원, 하, ㄴ, 화투, 자, 증권, 은, 일, 한화, 에,...",14,2022050208
1642,012450,20220502085901,202205020900,2022-05-02 08:59:01,"한화에어로스페이스, 해외수주 호조로 실적 개선 전망…목표가↑-한화證",목표주가 만원만원한화투자증권은 일 한화에어로스페이스의 목표주가를 기존 만천원에서 만...,"[목표, 주가, 만원, 만원, 하, ㄴ, 화투, 자, 증권, 은, 일, 한화, 에,...",14,2022050208

In [ ]:
list = []

for da in news['date_int']:
    list.append(len(da))

news['len2'] = list
news['len2'].unique()

array([12])

In [ ]:
news['date_int'] = news['date_int'].str[:4] + '-' + news['date_int'].str[4:6] + '-' + news['date_int'].str[6:8] + ' ' + news['date_int'].str[8:10] + ':' + news['date_int'].str[10:12] + ':' + '00'
news

,stock_id,date_str,date_int,date,title,content,token,len,str,len2
0,012450,20230703151401,2023-07-03 15:15:00,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ...",14,2023070315,12
1,012450,20230703143203,2023-07-03 14:33:00,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한...",14,2023070314,12
2,012450,20230703113703,2023-07-03 11:38:00,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,...",14,2023070311,12
3,012450,20230703112901,2023-07-03 11:30:00,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ...",14,2023070311,12
4,012450,20230703111718,2023-07-03 11:18:00,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김...",14,2023070311,12
...,...,...,...,...,...,...,...,...,...,...
1783,012450,20210629043019,2021-06-29 04:31:00,2021-06-29 04:30:19,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ...",14,2021062904,12
1784,012450,20210628173803,2021-06-28 17:39:00,2021-06-28 17:38:03,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ...",14,2021062817,12
1785,012450,20210628143503,2021-06-28 14:36:00,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ...",14,2021062814,12
1786,012450,20210628102438,2021-06-28 10:25:00,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미...",14,2021062810,12
1787,012450,20210628000402,2021-06-28 00:05:00,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,...",14,2021062800,12

In [ ]:
news.to_csv("./Token.csv", index=True)

In [ ]:
news.loc[news['date_int'].str.endswith('24:00:00'), 'date_int']

Series([], Name: date_int, dtype: string)

In [ ]:
len(news.loc[news['date_int'].str.endswith('24:00:00'), 'date_int'])

0

In [ ]:
news

,stock_id,date_str,date_int,date,title,content,token,len,str,len2
0,012450,20230703151401,2023-07-03 15:15:00,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ...",14,2023070315,12
1,012450,20230703143203,2023-07-03 14:33:00,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한...",14,2023070314,12
2,012450,20230703113703,2023-07-03 11:38:00,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,...",14,2023070311,12
3,012450,20230703112901,2023-07-03 11:30:00,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ...",14,2023070311,12
4,012450,20230703111718,2023-07-03 11:18:00,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김...",14,2023070311,12
...,...,...,...,...,...,...,...,...,...,...
1783,012450,20210629043019,2021-06-29 04:31:00,2021-06-29 04:30:19,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ...",14,2021062904,12
1784,012450,20210628173803,2021-06-28 17:39:00,2021-06-28 17:38:03,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ...",14,2021062817,12
1785,012450,20210628143503,2021-06-28 14:36:00,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ...",14,2021062814,12
1786,012450,20210628102438,2021-06-28 10:25:00,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미...",14,2021062810,12
1787,012450,20210628000402,2021-06-28 00:05:00,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,...",14,2021062800,12

In [ ]:
news['date_time'] = pd.to_datetime(news['date_int'])

In [ ]:
news.drop(labels=['date_str', 'date_int', 'date', 'len', 'len2', 'str'], axis=1, inplace=True)

In [ ]:
news

,stock_id,title,content,token,date_time
0,012450,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ...",2023-07-03 15:15:00
1,012450,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한...",2023-07-03 14:33:00
2,012450,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,...",2023-07-03 11:38:00
3,012450,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ...",2023-07-03 11:30:00
4,012450,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김...",2023-07-03 11:18:00
...,...,...,...,...,...
1783,012450,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ...",2021-06-29 04:31:00
1784,012450,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ...",2021-06-28 17:39:00
1785,012450,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ...",2021-06-28 14:36:00
1786,012450,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미...",2021-06-28 10:25:00
1787,012450,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,...",2021-06-28 00:05:00

In [ ]:
# 열 순서를 변경하여 DataFrame 재정렬
news = news.reindex(columns=['stock_id', 'date_time', 'title', 'content', 'token'])

# 결과 출력
news.to_csv("./Token.csv", index=True)

In [ ]:
news = pd.read_csv('./Token.csv', index_col=0)

In [ ]:
news['date_time'] = pd.to_datetime(news['date_time'])

# 범위 내의 데이터만 처리하고, 범위를 벗어나면 다음 날의 시작 시간으로 날짜 변경
start_time = pd.to_datetime('09:01:00').time()
end_time = pd.to_datetime('15:20:00').time()
next_day_start_time = pd.to_datetime('09:01:00') + pd.DateOffset(days=1)

mask = (news['date_time'].dt.time < start_time) | (news['date_time'].dt.time > end_time)
news.loc[mask, 'date_time'] = news.loc[mask, 'date_time'].apply(lambda x: x + pd.DateOffset(days=1)).dt.strftime('%Y-%m-%d') + ' ' + next_day_start_time.strftime('%H:%M:%S')

# 결과 출력
news

,stock_id,date_time,title,content,token
0,12450,2023-07-03 15:15:00,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"['전국', '경제인', '연합회', '와', '국가', '보훈', '부', '한화..."
1,12450,2023-07-03 14:33:00,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"['현대', '로템', '은', '지난달', '일', '방위', '사업', '청과'..."
2,12450,2023-07-03 11:38:00,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"['전쟁', '이', '진행', '중이', '덜', 'ㄴ', '년', '월', '설..."
3,12450,2023-07-03 11:30:00,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"['폴란드', '석', '박사', '명', '년', '까지', '스', '어', '..."
4,12450,2023-07-03 11:18:00,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"['월말', '수호자', '발걸음', '프로젝트', '보훈', '부와', '복지',..."
...,...,...,...,...,...
1783,12450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',..."
1784,12450,2021-06-29 09:01:00,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"['항공기', '엔진', '부품', '수혜', '전망', '두', '닿', 'ㄹ새'..."
1785,12450,2021-06-28 14:36:00,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"['한화', '가', '해외', '에서', '수입', '하', '더', 'ㄴ', '..."
1786,12450,2021-06-28 10:25:00,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"['저장성', '이원', '추진제', '추력', '기', '이미지', '주한', '..."
1787,12450,2021-06-29 09:01:00,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"['위원', '분의', '이상', '사외', '이사', '로', '금', '호석',..."

In [ ]:
news.sort_values(by='date_time')
news['stock_id'] = '012450'

In [ ]:
df

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0,0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0,0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0,0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0,1
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0,1
...,...,...,...,...,...,...,...,...,...,...
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0,1
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0,0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0,1
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0,0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [ ]:
news_all = pd.merge(news, df, on=['date_time', 'stock_id'])

In [ ]:
news_all.sort_values(by='date_time')

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
1406,012450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
1405,012450,2021-07-01 09:01:00,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,대한민국 혁신기업 플랫폼미래기술 혁신기업한화솔루션에어로스페이스미래기술 부문에 이름...,"['대한민국', '혁신', '기업', '플랫폼', '미래', '기술', '혁신', ...",46900.0,47000.0,46850.0,46850.0,4322.0,1719.0,2529.0,0
1404,012450,2021-07-26 10:38:00,"한화에어로스페이스, 다음 달 10일 기업설명회(IR) 개최 예정",서울뉴시스 김제이 기자 한화에어로스페이스는 다음 달 일 오후 시에 투자자 증권사 애...,"['서울', '뉴', '시스', '김', '제이', '기자', '한화', '에', ...",51200.0,51300.0,51200.0,51200.0,165.0,95579.0,37613.0,1
1403,012450,2021-07-30 09:01:00,"백년기업 향하는 한화, 차세대 키워드는 '우주'",미래 모빌리티 항공우주 그린수소 에너지 디지털 금융 솔루션 등 신규 사업에도 세계를...,"['미래', '모', '빌리티', '항공', '우주', '그린', '수소', '에너...",51700.0,51800.0,51400.0,51800.0,5087.0,1975.0,3112.0,1
1402,012450,2021-08-06 09:01:00,"한화에어로스페이스, 2분기 1천326억원 흑자…작년보다 89％↑(종합)",김철선 기자 한화에어로스페이스는 올해 분기 연결기준 매출 조천억원 영업이익 천억원...,"['김', '철선', '기자', '한화', '에', '어로', '스페이스', '는'...",53700.0,53700.0,53500.0,53700.0,12754.0,1501.0,11252.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0

In [ ]:
news_all

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,012450,2021-08-06 09:01:00,"한화에어로스페이스, 2분기 1천326억원 흑자…작년보다 89％↑(종합)",김철선 기자 한화에어로스페이스는 올해 분기 연결기준 매출 조천억원 영업이익 천억원...,"['김', '철선', '기자', '한화', '에', '어로', '스페이스', '는'...",53700.0,53700.0,53500.0,53700.0,12754.0,1501.0,11252.0,1
1403,012450,2021-07-30 09:01:00,"백년기업 향하는 한화, 차세대 키워드는 '우주'",미래 모빌리티 항공우주 그린수소 에너지 디지털 금융 솔루션 등 신규 사업에도 세계를...,"['미래', '모', '빌리티', '항공', '우주', '그린', '수소', '에너...",51700.0,51800.0,51400.0,51800.0,5087.0,1975.0,3112.0,1
1404,012450,2021-07-26 10:38:00,"한화에어로스페이스, 다음 달 10일 기업설명회(IR) 개최 예정",서울뉴시스 김제이 기자 한화에어로스페이스는 다음 달 일 오후 시에 투자자 증권사 애...,"['서울', '뉴', '시스', '김', '제이', '기자', '한화', '에', ...",51200.0,51300.0,51200.0,51200.0,165.0,95579.0,37613.0,1
1405,012450,2021-07-01 09:01:00,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,대한민국 혁신기업 플랫폼미래기술 혁신기업한화솔루션에어로스페이스미래기술 부문에 이름...,"['대한민국', '혁신', '기업', '플랫폼', '미래', '기술', '혁신', ...",46900.0,47000.0,46850.0,46850.0,4322.0,1719.0,2529.0,0
1406,012450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [ ]:
news_all.to_csv("./Label.csv", index=True)

In [ ]:
news_all

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,012450,2021-08-06 09:01:00,"한화에어로스페이스, 2분기 1천326억원 흑자…작년보다 89％↑(종합)",김철선 기자 한화에어로스페이스는 올해 분기 연결기준 매출 조천억원 영업이익 천억원...,"['김', '철선', '기자', '한화', '에', '어로', '스페이스', '는'...",53700.0,53700.0,53500.0,53700.0,12754.0,1501.0,11252.0,1
1403,012450,2021-07-30 09:01:00,"백년기업 향하는 한화, 차세대 키워드는 '우주'",미래 모빌리티 항공우주 그린수소 에너지 디지털 금융 솔루션 등 신규 사업에도 세계를...,"['미래', '모', '빌리티', '항공', '우주', '그린', '수소', '에너...",51700.0,51800.0,51400.0,51800.0,5087.0,1975.0,3112.0,1
1404,012450,2021-07-26 10:38:00,"한화에어로스페이스, 다음 달 10일 기업설명회(IR) 개최 예정",서울뉴시스 김제이 기자 한화에어로스페이스는 다음 달 일 오후 시에 투자자 증권사 애...,"['서울', '뉴', '시스', '김', '제이', '기자', '한화', '에', ...",51200.0,51300.0,51200.0,51200.0,165.0,95579.0,37613.0,1
1405,012450,2021-07-01 09:01:00,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,대한민국 혁신기업 플랫폼미래기술 혁신기업한화솔루션에어로스페이스미래기술 부문에 이름...,"['대한민국', '혁신', '기업', '플랫폼', '미래', '기술', '혁신', ...",46900.0,47000.0,46850.0,46850.0,4322.0,1719.0,2529.0,0
1406,012450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [ ]:
news_all['label'] = news_all.label.astype('int64')
news_all

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,012450,2021-08-06 09:01:00,"한화에어로스페이스, 2분기 1천326억원 흑자…작년보다 89％↑(종합)",김철선 기자 한화에어로스페이스는 올해 분기 연결기준 매출 조천억원 영업이익 천억원...,"['김', '철선', '기자', '한화', '에', '어로', '스페이스', '는'...",53700.0,53700.0,53500.0,53700.0,12754.0,1501.0,11252.0,1
1403,012450,2021-07-30 09:01:00,"백년기업 향하는 한화, 차세대 키워드는 '우주'",미래 모빌리티 항공우주 그린수소 에너지 디지털 금융 솔루션 등 신규 사업에도 세계를...,"['미래', '모', '빌리티', '항공', '우주', '그린', '수소', '에너...",51700.0,51800.0,51400.0,51800.0,5087.0,1975.0,3112.0,1
1404,012450,2021-07-26 10:38:00,"한화에어로스페이스, 다음 달 10일 기업설명회(IR) 개최 예정",서울뉴시스 김제이 기자 한화에어로스페이스는 다음 달 일 오후 시에 투자자 증권사 애...,"['서울', '뉴', '시스', '김', '제이', '기자', '한화', '에', ...",51200.0,51300.0,51200.0,51200.0,165.0,95579.0,37613.0,1
1405,012450,2021-07-01 09:01:00,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,대한민국 혁신기업 플랫폼미래기술 혁신기업한화솔루션에어로스페이스미래기술 부문에 이름...,"['대한민국', '혁신', '기업', '플랫폼', '미래', '기술', '혁신', ...",46900.0,47000.0,46850.0,46850.0,4322.0,1719.0,2529.0,0
1406,012450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [ ]:
news_all['label'] = news_all.label.astype('int64')
news_all['stock_id'] = news_all.stock_id.astype('str')
news_all

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,012450,2021-08-06 09:01:00,"한화에어로스페이스, 2분기 1천326억원 흑자…작년보다 89％↑(종합)",김철선 기자 한화에어로스페이스는 올해 분기 연결기준 매출 조천억원 영업이익 천억원...,"['김', '철선', '기자', '한화', '에', '어로', '스페이스', '는'...",53700.0,53700.0,53500.0,53700.0,12754.0,1501.0,11252.0,1
1403,012450,2021-07-30 09:01:00,"백년기업 향하는 한화, 차세대 키워드는 '우주'",미래 모빌리티 항공우주 그린수소 에너지 디지털 금융 솔루션 등 신규 사업에도 세계를...,"['미래', '모', '빌리티', '항공', '우주', '그린', '수소', '에너...",51700.0,51800.0,51400.0,51800.0,5087.0,1975.0,3112.0,1
1404,012450,2021-07-26 10:38:00,"한화에어로스페이스, 다음 달 10일 기업설명회(IR) 개최 예정",서울뉴시스 김제이 기자 한화에어로스페이스는 다음 달 일 오후 시에 투자자 증권사 애...,"['서울', '뉴', '시스', '김', '제이', '기자', '한화', '에', ...",51200.0,51300.0,51200.0,51200.0,165.0,95579.0,37613.0,1
1405,012450,2021-07-01 09:01:00,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,대한민국 혁신기업 플랫폼미래기술 혁신기업한화솔루션에어로스페이스미래기술 부문에 이름...,"['대한민국', '혁신', '기업', '플랫폼', '미래', '기술', '혁신', ...",46900.0,47000.0,46850.0,46850.0,4322.0,1719.0,2529.0,0
1406,012450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [ ]:
news_all['stock_id'] = news_all.stock_id.apply(lambda x : x.zfill(6))
news_all.head(30)

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1
5,012450,2023-06-28 11:22:00,"“수성이냐, 부활이냐” HD현대 vs 한화오션 8000억 수주 승부",현대중공업이 국제해양방위산업전 에서 선보인 차세대 한국형 구축함 모형한화오션이 국제...,"['현대', '중공업', '이', '국제', '해양', '방위', '산업', '전'...",129900.0,129900.0,129700.0,129800.0,449.0,106608.0,97608.0,0
6,012450,2023-06-28 11:22:00,"“수성이냐, 부활이냐” HD현대 vs 한화오션 8000억 수주 승부",현대중공업이 국제해양방위산업전 에서 선보인 차세대 한국형 구축함 모형한화오션이 국제...,"['현대', '중공업', '이', '국제', '해양', '방위', '산업', '전'...",129900.0,129900.0,129700.0,129800.0,449.0,106608.0,97608.0,0
7,012450,2023-06-28 11:07:00,K-방산수도 대전에서 ‘첨단 국방부품·장비 전시전’ 개막,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사까지 다채로운 프로그램 마련...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",129600.0,129700.0,129600.0,129600.0,319.0,101659.0,93447.0,1
8,012450,2023-06-28 10:03:00,“삼성은 癌” 이건희가 LG창원공장 봤다면 뭐라고 했을까 [+영상],이건희 경영 년 시점에서 대한민국 미래 년 보다 년 전 이미 망한 회사라고 호통 ...,"['이', '것', '은', '희', '경영', '녀', 'ㄴ', '시점', '에서...",130700.0,131600.0,130600.0,130900.0,9298.0,68553.0,68251.0,1
9,012450,2023-06-28 09:24:00,"[최현호의 무기인사이드] 한화의 레드백, 미 육군 OMFV에서 탈락",년 에서 공개된 의 그리핀 기술실증차량 출처 국내에서도 많은 관심을 보이고 있는 ...,"['년', '에서', '공개', '되', 'ㄴ', '의', '그리핀', '기술', ...",130500.0,130800.0,130400.0,130700.0,2327.0,38107.0,33549.0,1
10,012450,2023-06-28 09:24:00,"[최현호의 무기인사이드] 한화의 레드백, 미 육군 OMFV에서 탈락",년 에서 공개된 의 그리핀 기술실증차량 출처 국내에서도 많은 관심을 보이고 있는 ...,"['년', '에서', '공개', '되', 'ㄴ', '의', '그리핀', '기술', ...",130500.0,130800.0,130400.0,130700.0,2327.0,38107.0,33549.0,1
11,012450,2023-06-28 09:24:00,"[최현호의 무기인사이드] 한화의 레드백, 미 육군 OMFV에서 탈락",년 에서 공개된 의 그리핀 기술실증차량 출처 국내에서도 많은 관심을 보이고 있는 ...,"['년', '에서', '공개', '되', 'ㄴ', '의', '그리핀', '기술', ...",130500.0,130800.0,130400.0,130700.0,2327.0,38107.0,33549.0,1
12,012450,2023-06-28 09:01:00,"한화에어로스페이스, K9·천무 폴란드 계약만 8조…한국형 발사체 사업도 주도",진격의 방산한화에어로스페이스의 장갑차 레드백다목적 무인차량인 아리온스멧서울경제 한화...,"['진격', '의', '방산', '한화', '에', '어로', '스페이스', '의'...",131500.0,132000.0,131400.0,131900.0,7632.0,658.0,6957.0,1
13,012450,2023-06-28 09:01:00,"한화에어로스페이스, K9·천무 폴란드 계약만 8조…한국형 발사체 사업도 주도",진격의 방산한화에어로스페이스의 장갑차 레드백다목적 무인차량인 아리온스멧서울경제 한화...,"['진격', '의', '방산', '한화', '에', '어로', '스페이스', '의'...",131500.0,132000.0,131400.0,131900.0,7632.0,658.0,6957.0,1
14,012450,2023-06-28 09:01:00,"한화에어로스페이스, K9·천무 폴란드 계약만 8조…한국형 발사체 사업도 주도",진격의 방산한화에어로스페이스의 장갑차 레드백다목적 무인차량인 아리온스멧서울경제 한화...,"['진격', '의', '방산', '한화', '에', '어로', '스페이스', '의'...",131500.0,132000.0,131400.0,131900.0,7632.0,658.0,6957.0,1
15,012450,2023-06-28 09:01:00,"납기 석달 당기고 가성비까지…K방산, 유럽 이어 북미 시장도 뚫는다",우크라 전쟁 이후 방산 수요 폭증 등 조기납품에 전세계 깜짝정부 올 수출목표 억 로...,"['우', '크', '라', '전쟁', '이후', '방산', '수요', '폭증', ...",131500.0,132000.0,131400.0,131900.0,7632.0,658.0,6957.0,1
16,012450,2023-06-27 14:09:00,"웰템·아크웰, 한국폴리텍VII대학에 교육훈련장비 기증",웰템아크웰 한국폴리텍대학에 교육훈련장비 기증 및 업무협약 재판매 및 금지창원뉴시스 ...,"['웨', 'ㄹ', '템', '아크', '웨', 'ㄹ', '한국', '폴리텍', '...",130600.0,130600.0,130300.0,130400.0,514.0,202142.0,162835.0,0
17,012450,2023-06-27 10:42:00,"한화에어로, 한국전쟁 호주 참전용사들에 ""고귀한 희생 영원히 기억"" 감사패",한화에어로스페이스는 정전 협정 주년을 맞아 전쟁 당시 최대 격전지 중 한 곳인 가...,"['한화', '에', '어로', '스페이스', '는', '정전', '협정', '주년...",129700.0,129900.0,129700.0,129800.0,946.0,143727.0,101420.0,1
18,012450,2023-06-27 10:38:00,"한화에어로스페이스, 6·25 호주 참전 용사에 사진액자 전달",코리아 제공 재판매 및 금지,"['코리아', '제공', '재판매', '및', '금지']",129500.0,129600.0,129300.0,129400.0,622.0,141839.0,98479.0,0
19,012450,2023-06-27 10:38:00,"한화에어로스페이스, 6·25 호주 참전 용사에 사진액자 전달",코리아 제공 재판매 및 금지,"['코리아', '제공', '재판매', '및', '금지']",129500.0,129600.0,129300.0,129400.0,622.0,141839.0,98479.0,0
20,012450,2023-06-27 10:38:00,"한화에어로스페이스, 6·25 호주 참전 용사에 사진액자 전달",코리아 제공 재판매 및 금지,"['코리아', '제공', '재판매', '및', '금지']",129500.0,129600.0,129300.0,129400.0,622.0,141839.0,98479.0,0
21,012450,2023-06-27 10:18:00,"한화에어로, 6·25전쟁 참전 호주 용사에 사진액자 전달",가평 전투 생존 참전용사 명 등 촬영한국전 당시 가평전투에 참전했던 레이먼드 디드씨...,"['가평', '전투', '생존', '참전', '용사', '명', '등', '촬영',...",129500.0,129600.0,129500.0,129600.0,1802.0,117335.0,85199.0,1
22,012450,2023-06-27 09:02:00,시속 320㎞ ‘하늘 위 택시’ UAM… 완성체 속속 공개,한화그룹과 미국 오버에어 사가 공동 개발 중인 도심항공모빌리티 시제기 버터플라이의 ...,"['한화', '그룹', '과', '미국', '오버', '에', '어', '어', '...",132000.0,132000.0,131500.0,131800.0,2236.0,2298.0,6299.0,0
23,012450,2023-06-27 09:02:00,시속 320㎞ ‘하늘 위 택시’ UAM… 완성체 속속 공개,한화그룹과 미국 오버에어 사가 공동 개발 중인 도심항공모빌리티 시제기 버터플라이의 ...,"['한화', '그룹', '과', '미국', '오버', '에', '어', '어', '...",132000.0,132000.0,131500.0,131800.0,2236.0,2298.0,6299.0,0
24,012450,2023-06-27 09:02:00,시속 320㎞ ‘하늘 위 택시’ UAM… 완성체 속속 공개,한화그룹과 미국 오버에어 사가 공동 개발 중인 도심항공모빌리티 시제기 버터플라이의 ...,"['한화', '그룹', '과', '미국', '오버', '에', '어', '어', '...",132000.0,132000.0,131500.0,131800.0,2236.0,2298.0,6299.0,0
25,012450,2023-06-27 09:01:00,"軍, 2.4조 투입해 ‘K-방산 대표선수’ K9자주포 성능 끌어올린다",레이더 제회 방위사업추진위 결정최대발사속도 회 승무원도 명 줄어화력강화 통해 영국 ...,"['레이더', '제회', '방위', '사업', '추진위', '결정', '최대', '...",131500.0,132200.0,131300.0,131900.0,6986.0,828.0,5533.0,1
26,012450,2023-06-27 09:01:00,"軍, 2.4조 투입해 ‘K-방산 대표선수’ K9자주포 성능 끌어올린다",레이더 제회 방위사업추진위 결정최대발사속도 회 승무원도 명 줄어화력강화 통해 영국 ...,"['레이더', '제회', '방위', '사업', '추진위', '결정', '최대', '...",131500.0,132200.0,131300.0,131900.0,6986.0,828.0,5533.0,1
27,012450,2023-06-27 09:01:00,'팔자' 나선 외국인…車·방산株는 담아,거래일 코스피 억 매도호실적 한화에어로는 순매수현대차두산에너빌리티도 찜코스피지수가 ...,"['거래일', '코스', '피', '억', '매도', '호', '실적', '한화',...",131500.0,132200.0,131300.0,131900.0,6986.0,828.0,5533.0,1
28,012450,2023-06-27 09:01:00,"“수성이냐, 부활이냐” HD현대 vs. 한화오션 자존심 건 ‘8000억’ 수주 승부...",억원 차세대 호위함 수주 놓고 신경전 가열방사청 일 입찰 후 이르면 월 최종 선정 ...,"['억', '원', '차세대', '호위함', '수주', '놓', '고', '신경전'...",131500.0,132200.0,131300.0,131900.0,6986.0,828.0,5533.0,1
29,012450,2023-06-27 09:01:00,"“수성이냐, 부활이냐” HD현대 vs. 한화오션 자존심 건 ‘8000억’ 수주 승부...",억원 차세대 호위함 수주 놓고 신경전 가열방사청 일 입찰 후 이르면 월 최종 선정 ...,"['억', '원', '차세대', '호위함', '수주', '놓', '고', '신경전'...",131500.0,132200.0,131300.0,131900.0,6986.0,828.0,5533.0,1

In [ ]:
# from tqdm import tqdm

# for row in tqdm(news.itertuples()):

#     sql = (row[1], row[2], row[3], row[4], row[5])
#     cur.execute('INSERT IGNORE INTO Token (stock_id, text, date, token, label) VALUES (%s ,%s, %s, %s, %s)', sql)
#     conn.commit()
# conn.close()

In [ ]:
# sql = 'SELECT stock_id, text, date, token, label FROM Token'
# news = pd.read_sql(sql, conn)
# news

In [ ]:
from konlpy.tag import Okt
from tqdm import tqdm
tqdm.pandas()
news_all['token_okt'] = news_all.content.progress_apply(Okt().morphs)
news_all

100%|██████████| 1407/1407 [00:56<00:00, 24.83it/s]

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label,token_okt
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0,[사이트]
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1,"[한화, 에어로, 임원, 인도, 현지, 언론, 과, 인터뷰, 잠수함, 용, 리튬이온..."
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1,"[한화, 에어로, 임원, 인도, 현지, 언론, 과, 인터뷰, 잠수함, 용, 리튬이온..."
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1,"[방산, 일자리, 박람회, 수출, 상담, 회, 기술, 교류, 회, 시민, 체험, 행..."
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1,"[방위산업, 부품, 장비, 대전, 및, 첨단, 국방, 산업, 전, 대전, 서, 개막..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,012450,2021-08-06 09:01:00,"한화에어로스페이스, 2분기 1천326억원 흑자…작년보다 89％↑(종합)",김철선 기자 한화에어로스페이스는 올해 분기 연결기준 매출 조천억원 영업이익 천억원...,"['김', '철선', '기자', '한화', '에', '어로', '스페이스', '는'...",53700.0,53700.0,53500.0,53700.0,12754.0,1501.0,11252.0,1,"[김철, 선, 기자, 한화, 에어로, 스페이스, 는, 올해, 분기, 연결, 기준, ..."
1403,012450,2021-07-30 09:01:00,"백년기업 향하는 한화, 차세대 키워드는 '우주'",미래 모빌리티 항공우주 그린수소 에너지 디지털 금융 솔루션 등 신규 사업에도 세계를...,"['미래', '모', '빌리티', '항공', '우주', '그린', '수소', '에너...",51700.0,51800.0,51400.0,51800.0,5087.0,1975.0,3112.0,1,"[미래, 모빌리티, 항공우주, 그린, 수소, 에너지, 디지털, 금융, 솔루션, 등,..."
1404,012450,2021-07-26 10:38:00,"한화에어로스페이스, 다음 달 10일 기업설명회(IR) 개최 예정",서울뉴시스 김제이 기자 한화에어로스페이스는 다음 달 일 오후 시에 투자자 증권사 애...,"['서울', '뉴', '시스', '김', '제이', '기자', '한화', '에', ...",51200.0,51300.0,51200.0,51200.0,165.0,95579.0,37613.0,1,"[서울, 뉴시스, 김제, 이, 기자, 한화, 에어로, 스페이스, 는, 다음, 달, ..."
1405,012450,2021-07-01 09:01:00,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,대한민국 혁신기업 플랫폼미래기술 혁신기업한화솔루션에어로스페이스미래기술 부문에 이름...,"['대한민국', '혁신', '기업', '플랫폼', '미래', '기술', '혁신', ...",46900.0,47000.0,46850.0,46850.0,4322.0,1719.0,2529.0,0,"[대한민국, 혁신, 기업, 플랫폼, 미래, 기술, 혁신, 기업, 한화, 솔루션, 에..."
1406,012450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1,"[내준, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아플까, 삼, 성, 그룹, ..."

In [ ]:
news_all.to_csv('./La.csv')

In [ ]:
from tqdm import tqdm
def stopword(x):
  stopword = [r'상승.*', r'하락.*', r'급등.*', r'급락.*', '상승세', '하락세', '폭등', '폭락', '오름세', '약세', '강세', '의', '가', '이', '은', '들', '는', '좀', '잘', '걍', '과', '도', '를', '으로', '자', '에', '와', '한', '하다', '에', '은', '는', '하']
  return [i for i in x if i not in stopword]
tqdm.pandas()
news_all["token_okt"] = news_all.token.progress_apply(stopword)
news_all

100%|██████████| 1407/1407 [00:01<00:00, 1035.11it/s]

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label,token_okt
0,012450,2023-06-28 14:53:00,"2023 방위산업 부품 장비대전 및 첨단국방산업전, 28일 개막",사이트,['사이트'],127000.0,127100.0,126900.0,126900.0,2860.0,250497.0,187111.0,0,"[[, ', 사, 트, ', ]]"
1,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1,"[[, ', 화, ', ,, , ', ', ,, , ', 어, 로, ', ,, ..."
2,012450,2023-06-28 14:20:00,"한화에어로, K9 이어 ‘잠수함 배터리’로 인도 시장 정조준 [비즈360]",한화에어로 임원 인도 현지 언론과 인터뷰잠수함용 리튬이온배터리 수출 적극 검토한화에...,"['한화', '에', '어로', '임원', '인도', '현지', '언론', '과',...",127400.0,127500.0,127400.0,127500.0,436.0,220243.0,166780.0,1,"[[, ', 화, ', ,, , ', ', ,, , ', 어, 로, ', ,, ..."
3,012450,2023-06-28 14:01:00,K-방산수도 대전서 첨단 국방부품·장비 전시 막 올랐다,방산 일자리 박람회 수출상담회 기술교류회 시민 체험행사 등 방위산업 부품장비대전 및...,"['방산', '일자리', '박람회', '수출', '상담', '회', '기술', '교...",127300.0,127400.0,127200.0,127300.0,959.0,210666.0,154389.0,1,"[[, ', 방, 산, ', ,, , ', 일, 리, ', ,, , ', 박, ..."
4,012450,2023-06-28 13:31:00,"과학도시 대전, K-방산의 중심으로 우뚝",방위산업 부품장비대전 및 첨단국방산업전 대전서 개막무인헬기 등 혁신기술 탑재한 제품...,"['방위', '산업', '부품', '장비', '대전', '및', '첨단', '국방'...",128000.0,128000.0,127900.0,128000.0,251.0,198735.0,144178.0,1,"[[, ', 방, 위, ', ,, , ', 산, 업, ', ,, , ', 부, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,012450,2021-08-06 09:01:00,"한화에어로스페이스, 2분기 1천326억원 흑자…작년보다 89％↑(종합)",김철선 기자 한화에어로스페이스는 올해 분기 연결기준 매출 조천억원 영업이익 천억원...,"['김', '철선', '기자', '한화', '에', '어로', '스페이스', '는'...",53700.0,53700.0,53500.0,53700.0,12754.0,1501.0,11252.0,1,"[[, ', 김, ', ,, , ', 철, 선, ', ,, , ', 기, ', ..."
1403,012450,2021-07-30 09:01:00,"백년기업 향하는 한화, 차세대 키워드는 '우주'",미래 모빌리티 항공우주 그린수소 에너지 디지털 금융 솔루션 등 신규 사업에도 세계를...,"['미래', '모', '빌리티', '항공', '우주', '그린', '수소', '에너...",51700.0,51800.0,51400.0,51800.0,5087.0,1975.0,3112.0,1,"[[, ', 미, 래, ', ,, , ', 모, ', ,, , ', 빌, 리, ..."
1404,012450,2021-07-26 10:38:00,"한화에어로스페이스, 다음 달 10일 기업설명회(IR) 개최 예정",서울뉴시스 김제이 기자 한화에어로스페이스는 다음 달 일 오후 시에 투자자 증권사 애...,"['서울', '뉴', '시스', '김', '제이', '기자', '한화', '에', ...",51200.0,51300.0,51200.0,51200.0,165.0,95579.0,37613.0,1,"[[, ', 서, 울, ', ,, , ', 뉴, ', ,, , ', 시, 스, ..."
1405,012450,2021-07-01 09:01:00,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,대한민국 혁신기업 플랫폼미래기술 혁신기업한화솔루션에어로스페이스미래기술 부문에 이름...,"['대한민국', '혁신', '기업', '플랫폼', '미래', '기술', '혁신', ...",46900.0,47000.0,46850.0,46850.0,4322.0,1719.0,2529.0,0,"[[, ', 대, 민, 국, ', ,, , ', 혁, 신, ', ,, , ', ..."
1406,012450,2021-06-30 09:01:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1,"[[, ', 내, 주, ', ,, , ', ㄴ, ', ,, , ', 사, 업, ..."

In [ ]:
from tensorflow import keras
import pandas as pd
import numpy as np
import pymysql
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Embedding, Dense, GRU, Bidirectional, Conv1D, GlobalMaxPooling1D, Dropout
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
news = pd.read_csv('./Token.csv', index_col=0)

In [ ]:
news

,stock_id,date_time,title,content,token
0,12450,2023-07-03 15:15:00,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"['전국', '경제인', '연합회', '와', '국가', '보훈', '부', '한화..."
1,12450,2023-07-03 14:33:00,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"['현대', '로템', '은', '지난달', '일', '방위', '사업', '청과'..."
2,12450,2023-07-03 11:38:00,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"['전쟁', '이', '진행', '중이', '덜', 'ㄴ', '년', '월', '설..."
3,12450,2023-07-03 11:30:00,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"['폴란드', '석', '박사', '명', '년', '까지', '스', '어', '..."
4,12450,2023-07-03 11:18:00,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"['월말', '수호자', '발걸음', '프로젝트', '보훈', '부와', '복지',..."
...,...,...,...,...,...
1783,12450,2021-06-29 04:31:00,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"['내주', 'ㄴ', '사업', '승승장구', '에', '삼성', '은', '배',..."
1784,12450,2021-06-28 17:39:00,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"['항공기', '엔진', '부품', '수혜', '전망', '두', '닿', 'ㄹ새'..."
1785,12450,2021-06-28 14:36:00,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"['한화', '가', '해외', '에서', '수입', '하', '더', 'ㄴ', '..."
1786,12450,2021-06-28 10:25:00,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"['저장성', '이원', '추진제', '추력', '기', '이미지', '주한', '..."
1787,12450,2021-06-28 00:05:00,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"['위원', '분의', '이상', '사외', '이사', '로', '금', '호석',..."