In [358]:
# !pip install konlpy
# !pip install pymysql

In [359]:
import pandas as pd
import pymysql

conn = pymysql.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8'
)
cur = conn.cursor()

In [360]:
# cur.execute('''
# SELECT DISTINCT * FROM Stock_Price
# ''')
# result = cur.fetchall()
# CSV 파일 읽기
df = pd.read_csv('./A012450분봉데이터.csv', index_col=0)

# df = pd.DataFrame(result, columns=['stock_id', 'date', 'closing_price', 'market_price', 'high_price', 'low_price'])

df = df.sort_values(ascending=False, by=['date', 'time']).reset_index(drop=True)

stock_id = '012450'

df.insert(0, 'stock_id', stock_id)

In [361]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

In [362]:
df

,stock_id,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,012450,2023-06-28,1530,127700,127700,127700,127700,12394,269339,227387
1,012450,2023-06-28,1520,127800,127900,127600,127700,2079,269339,215378
2,012450,2023-06-28,1519,128000,128000,127800,127800,2326,268013,214625
3,012450,2023-06-28,1518,128200,128300,127700,128000,1057,266452,213860
4,012450,2023-06-28,1517,128000,128300,127900,128200,6046,265805,213450
...,...,...,...,...,...,...,...,...,...,...
187685,012450,2021-06-30,905,47200,47250,47150,47200,1224,4817,3471
187686,012450,2021-06-30,904,47200,47200,47150,47150,941,4542,2522
187687,012450,2021-06-30,903,47200,47200,47150,47200,1170,3642,2481
187688,012450,2021-06-30,902,47350,47400,47200,47200,1382,2745,2208
187689,012450,2021-06-30,901,47450,47500,47350,47400,3572,1705,1866

In [363]:
# cur.execute('''
# SELECT DISTINCT NewsDates, NewsTitles, NewsContents FROM past_news_hanwhaairospace
# ''')
# news = cur.fetchall()
# news = pd.DataFrame(news, columns=['NewsDates', 'NewsTitles', 'NewsContents'])
# news

news = pd.read_csv('./한화에어로스페이스_test.csv', index_col=0)

# df = pd.DataFrame(result, columns=['stock_id', 'date', 'closing_price', 'market_price', 'high_price', 'low_price'])

news = news.sort_values(ascending=False, by=['date']).reset_index(drop=True)

news

,date,title,link,content
0,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",https://n.news.naver.com/mnews/article/032/000...,"[\n\t\t\t전국경제인연합회와 국가보훈부, 한화에어로스페이스는 이달 말 국군과 ..."
1,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",https://n.news.naver.com/mnews/article/022/000...,"[\n\t\t\t현대로템은 지난달 30일 방위사업청과 한국과학기술원(KAIST), ..."
2,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,https://n.news.naver.com/mnews/article/021/000...,[\n\n\n\n\n6·25전쟁이 진행 중이던 1951년 5월 설악산 근무 중 다리...
3,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원",https://n.news.naver.com/mnews/article/119/000...,"[\n폴란드 석·박사 50명, 2030년까지 KAIST서 교육한-폴 인적 교류 확대..."
4,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,https://n.news.naver.com/mnews/article/016/000...,[\n월말 ‘수호자 발걸음’ 프로젝트보훈부와 복지증진 업무협약\n\n\n\n김병준(...
...,...,...,...,...
1816,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",https://n.news.naver.com/mnews/article/014/000...,[\n궤도∙자세 제어 핵심 기술인 '저장성 이원추진제 추력기' 개발 나서 \n\n\...
1817,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",https://n.news.naver.com/mnews/article/293/000...,[\n\n\n\n\n저장성 이원추진제 추력기(이미지=(주)한화.)한화그룹이 미래 먹...
1818,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,https://n.news.naver.com/mnews/article/025/000...,[\n위원 3분의 2 이상 사외이사로SK·LG·금호석화도 운영 중 \n\n\n\n...
1819,NaN,NaN,https://n.news.naver.com/mnews/article/417/000...,[]
1820,NaN,NaN,https://n.news.naver.com/mnews/article/417/000...,[]

In [364]:
news.insert(0, 'stock_id', stock_id)
news.drop('link', axis=1, inplace=True)

In [365]:
news

,stock_id,date,title,content
0,012450,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정","[\n\t\t\t전국경제인연합회와 국가보훈부, 한화에어로스페이스는 이달 말 국군과 ..."
1,012450,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원","[\n\t\t\t현대로템은 지난달 30일 방위사업청과 한국과학기술원(KAIST), ..."
2,012450,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,[\n\n\n\n\n6·25전쟁이 진행 중이던 1951년 5월 설악산 근무 중 다리...
3,012450,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원","[\n폴란드 석·박사 50명, 2030년까지 KAIST서 교육한-폴 인적 교류 확대..."
4,012450,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,[\n월말 ‘수호자 발걸음’ 프로젝트보훈부와 복지증진 업무협약\n\n\n\n김병준(...
...,...,...,...,...
1816,012450,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",[\n궤도∙자세 제어 핵심 기술인 '저장성 이원추진제 추력기' 개발 나서 \n\n\...
1817,012450,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",[\n\n\n\n\n저장성 이원추진제 추력기(이미지=(주)한화.)한화그룹이 미래 먹...
1818,012450,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,[\n위원 3분의 2 이상 사외이사로SK·LG·금호석화도 운영 중 \n\n\n\n...
1819,012450,NaN,NaN,[]
1820,012450,NaN,NaN,[]

In [366]:
import re

def clean_text(d):
  text = re.sub(r'\([^)]*\)', '', d)
  text = re.sub(r'\[[^]]*\]', '', text)
  text = re.sub(r'\<[^>]*\>', '', text)
  pattern = r'[^가-힣0-9a-zA-Z\s]'
  text = re.sub(pattern, ' ', text)
  text = re.sub(r'사진', ' ', text)
  text = re.sub(r'.*뉴스', ' ', text)
  text = re.sub("\n", ' ', text)
  text = re.sub("  +", " ", text)
  return text

def text_clean(text):
    pattern = '([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)' # E-mail제거
    text = re.sub(pattern, '', text)
    pattern = '(http|ftp|https)://(?:[-\w.]|(?:%[\da-fA-F]{2}))+' # URL제거
    text = re.sub(pattern, '', text)
    pattern = '[a-zA-Z0-9]'    # 숫자와 알파벳 제거
    text = re.sub(pattern, '', text)
    pattern = '([ㄱ-ㅎㅏ-ㅣ]+)'  # 한글 자음, 모음 제거
    text = re.sub(pattern, '', text)
    pattern = '<[^>]*>'         # HTML 태그 제거
    text = re.sub(pattern, '', text)
    pattern = '[^\w\s]'         # 특수기호제거
    text = re.sub(pattern, '', text)
    pattern = '[\n]'            # \n제거
    text = re.sub(pattern, '', text)
    pattern = '[\t]'            # \n제거
    text = re.sub(pattern, '', text)
    return text

In [367]:
news['content'] = news.content.apply(text_clean)
news['content'] = news.content.apply(clean_text)
news

,stock_id,date,title,content
0,012450,2023-07-03 15:14:01,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...
1,012450,2023-07-03 14:32:03,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...
2,012450,2023-07-03 11:37:03,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...
3,012450,2023-07-03 11:29:01,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...
4,012450,2023-07-03 11:17:18,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...
...,...,...,...,...
1816,012450,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...
1817,012450,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...
1818,012450,2021-06-28 00:04:02,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...
1819,012450,NaN,NaN,
1820,012450,NaN,NaN,

In [368]:
from konlpy.tag import Kkma
from tqdm import tqdm, tqdm_pandas
tagger = Kkma()

In [369]:
news.loc[(news["content"] == '') | (news["content"] == ' '), 'content'] = None
news.isnull().sum()

stock_id     0
date         2
title        2
content     33
dtype: int64

In [370]:
news = news.dropna(axis=0)
news.isnull().sum()

stock_id    0
date        0
title       0
content     0
dtype: int64

In [371]:
def token(news):
    return tagger.morphs(news)
tqdm.pandas()
news['token'] = news.content.progress_apply(token)

100%|██████████| 1788/1788 [06:41<00:00,  4.45it/s]
/var/folders/j6/q03gf6y53_72jb_wzwbp2b140000gn/T/ipykernel_26007/2451806588.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['token'] = news.content.progress_apply(token)

In [376]:
news['date'] = pd.to_datetime(news['date'], format='%Y-%m-%d %H:%M:%S')
print()
news.to_csv("./Token.csv", index=True)

/var/folders/j6/q03gf6y53_72jb_wzwbp2b140000gn/T/ipykernel_26007/3420423641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['date'] = pd.to_datetime(news['date'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
ㅁㄴㅇㄹ
from tqdm import tqdm
import datetime

for i in tqdm(range(0,len(df),75)):
  for j in range(75):
    if i + j >= len(df):
      break
    if df.loc[i+j][3] <= df.loc[i+j][6]:
      df.loc[i+j, 'label1'] = 1
    elif df.loc[i+j][3] > df.loc[i+j][6]:
      df.loc[i+j, 'label1'] = 0

100%|██████████| 2503/2503 [00:18<00:00, 132.22it/s]

In [ ]:
df.sort_values(by=['date', 'time'])

,stock_id,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label1
187689,012450,2021-06-30,901,47450,47500,47350,47400,3572,1705,1866,0.0
187688,012450,2021-06-30,902,47350,47400,47200,47200,1382,2745,2208,0.0
187687,012450,2021-06-30,903,47200,47200,47150,47200,1170,3642,2481,1.0
187686,012450,2021-06-30,904,47200,47200,47150,47150,941,4542,2522,0.0
187685,012450,2021-06-30,905,47200,47250,47150,47200,1224,4817,3471,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4,012450,2023-06-28,1517,128000,128300,127900,128200,6046,265805,213450,1.0
3,012450,2023-06-28,1518,128200,128300,127700,128000,1057,266452,213860,0.0
2,012450,2023-06-28,1519,128000,128000,127800,127800,2326,268013,214625,0.0
1,012450,2023-06-28,1520,127800,127900,127600,127700,2079,269339,215378,0.0
0,012450,2023-06-28,1530,127700,127700,127700,127700,12394,269339,227387,1.0

In [ ]:
df.loc[len(df)-1, 'label2'] = -1
df.loc[len(df)-1, 'label1'] = -1

In [ ]:
df

,stock_id,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label1,label2
0,012450,2023-06-28,1530,127700,127700,127700,127700,12394,269339,227387,1.0,NaN
1,012450,2023-06-28,1520,127800,127900,127600,127700,2079,269339,215378,0.0,NaN
2,012450,2023-06-28,1519,128000,128000,127800,127800,2326,268013,214625,0.0,NaN
3,012450,2023-06-28,1518,128200,128300,127700,128000,1057,266452,213860,0.0,NaN
4,012450,2023-06-28,1517,128000,128300,127900,128200,6046,265805,213450,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
187685,012450,2021-06-30,905,47200,47250,47150,47200,1224,4817,3471,1.0,NaN
187686,012450,2021-06-30,904,47200,47200,47150,47150,941,4542,2522,0.0,NaN
187687,012450,2021-06-30,903,47200,47200,47150,47200,1170,3642,2481,1.0,NaN
187688,012450,2021-06-30,902,47350,47400,47200,47200,1382,2745,2208,0.0,NaN
187689,012450,2021-06-30,901,47450,47500,47350,47400,3572,1705,1866,-1.0,-1.0

In [ ]:
from tqdm import tqdm_pandas, tqdm
import datetime
for i in tqdm(range(0,len(df)-1,75)):
  for j in range(75):
    if i + j >= len(df):
      break
    if df.loc[i+j][3] < df.loc[i+j+1][6]:
      df.loc[i+j, 'label2'] = 0
    elif df.loc[i+j][3] >= df.loc[i+j+1][6]:
      df.loc[i+j, 'label2'] = 1

100%|█████████▉| 2502/2503 [00:24<00:00, 100.60it/s]

KeyError: 187690

In [ ]:
df['label1'] = df.label1.astype('int64')
df['label2'] = df.label2.astype('int64')
df

,stock_id,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label1,label2
0,012450,2023-06-28,1530,127700,127700,127700,127700,12394,269339,227387,1,1
1,012450,2023-06-28,1520,127800,127900,127600,127700,2079,269339,215378,0,1
2,012450,2023-06-28,1519,128000,128000,127800,127800,2326,268013,214625,0,1
3,012450,2023-06-28,1518,128200,128300,127700,128000,1057,266452,213860,0,1
4,012450,2023-06-28,1517,128000,128300,127900,128200,6046,265805,213450,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
187685,012450,2021-06-30,905,47200,47250,47150,47200,1224,4817,3471,1,1
187686,012450,2021-06-30,904,47200,47200,47150,47150,941,4542,2522,0,1
187687,012450,2021-06-30,903,47200,47200,47150,47200,1170,3642,2481,1,1
187688,012450,2021-06-30,902,47350,47400,47200,47200,1382,2745,2208,0,0
187689,012450,2021-06-30,901,47450,47500,47350,47400,3572,1705,1866,-1,-1

In [ ]:
news.reset_index(drop=True, inplace=True)
news

,stock_id,date,title,content,token
0,012450,2023-06-28,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ..."
1,012450,2023-06-28,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한..."
2,012450,2023-06-28,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,..."
3,012450,2023-06-28,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ..."
4,012450,2023-06-28,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김..."
...,...,...,...,...,...
1783,012450,2023-06-22,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ..."
1784,012450,2023-06-22,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ..."
1785,012450,2023-06-22,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ..."
1786,012450,2023-06-22,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미..."
1787,012450,2023-06-22,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,..."

In [ ]:
import datetime
from datetime import time
from datetime import timedelta


for i in tqdm(range(len(news))):
  if len(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == news.loc[i][1].date())]) == 0:
    for j in range(1, 7):
      if len(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == (news.loc[i][1] + timedelta(days=j)).date())]) == 0:
        continue
      news.loc[i, 'label'] = int(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == (news.loc[i][1] + timedelta(days=j)).date())]['label2'])
    continue
  if news.loc[i][1].weekday() == 4 and news.loc[i][1].time() > datetime.time(18,0):
    for j in range(1, 7):
      if len(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == (news.loc[i][1] + timedelta(days=j)).date())]) == 0:
        continue
      news.loc[i, 'label'] = int(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == (news.loc[i][1] + timedelta(days=j)).date())]['label2'])
  elif news.loc[i][1].weekday() == 4 and news.loc[i][1].time() <= datetime.time(18,0):
    news.loc[i, 'label'] = int(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == news.loc[i][1].date())]['label1'])
  else:
    if news.loc[i][1].time() > datetime.time(18):
      news.loc[i, 'label'] = int(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == news.loc[i][1].date())]['label2'])
    elif news.loc[i][1].time() <= datetime.time(18):
      news.loc[i, 'label'] = int(df.loc[(df["stock_id"] == news.loc[i][0]) & (df["date"] == news.loc[i][1].date())]['label1'])

100%|██████████| 1788/1788 [00:52<00:00, 33.76it/s]

In [ ]:
news.to_csv("./Label.csv", index=True)

In [ ]:
news

,stock_id,date,title,content,token
0,012450,2023-06-28,"전경련·보훈부·한화, 참전용사 300명에 맞춤 신발 헌정",전국경제인연합회와 국가보훈부 한화에어로스페이스는 이달 말 국군과 유엔군 참전용사의 ...,"[전국, 경제인, 연합회, 와, 국가, 보훈, 부, 한화, 에, 어로, 스페이스, ..."
1,012450,2023-06-28,"현대로템, 폴란드 석박사 50명 육성한다… 학비·연구비 60억원 지원",현대로템은 지난달 일 방위사업청과 한국과학기술원 한화에어로스페이스 한국항공우주산업과...,"[현대, 로템, 은, 지난달, 일, 방위, 사업, 청과, 한국, 과학, 기술원, 한..."
2,012450,2023-06-28,전쟁중 뒤틀려진 발… 300명에 ‘영웅의 신발’ 헌정,전쟁이 진행 중이던 년 월 설악산 근무 중 다리에 총을 맞는 등 최일선에서 격전을 ...,"[전쟁, 이, 진행, 중이, 덜, ㄴ, 년, 월, 설악산, 근무, 중, 다리, 에,..."
3,012450,2023-06-28,"현대로템, 폴란드 방산 분야 인재 양성 지원",폴란드 석박사 명 년까지 서 교육한폴 인적 교류 확대해 신뢰 구축방산 협력 기여앞줄...,"[폴란드, 석, 박사, 명, 년, 까지, 스, 어, 교육, 하, ㄴ, 폴, 인적, ..."
4,012450,2023-06-28,전경련 “나라 헌신한 300명에 맞춤형 신발”,월말 수호자 발걸음 프로젝트보훈부와 복지증진 업무협약김병준왼쪽 전경련 회장직무대행과...,"[월말, 수호자, 발걸음, 프로젝트, 보훈, 부와, 복지, 증진, 업무, 협약, 김..."
...,...,...,...,...,...
1783,012450,2023-06-22,"한화-삼성 빅딜, 누가 승자였을까",내준 사업 승승장구에삼성은 배 안 아플까삼성그룹 또한 한화와 빅딜로 플러스 효과를...,"[내주, ㄴ, 사업, 승승장구, 에, 삼성, 은, 배, 안, 아프, ㄹ까, 삼성, ..."
1784,012450,2023-06-22,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,항공기 엔진 부품 수혜 전망두달새 주가 넘게 올라 올 하반기 실적 호조 지속 전망에...,"[항공기, 엔진, 부품, 수혜, 전망, 두, 닿, ㄹ새, 주가, 넘, 게, 오르, ..."
1785,012450,2023-06-22,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",한화가 해외에서 수입하던 인공위성 핵심 부품의 국산화에 나선다 우주 사업을 미래 ...,"[한화, 가, 해외, 에서, 수입, 하, 더, ㄴ, 인공위성, 핵심, 부품, 의, ..."
1786,012450,2023-06-22,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",저장성 이원추진제 추력기이미지주한화한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확...,"[저장성, 이원, 추진제, 추력, 기, 이미지, 주한, 화한, 화, 그룹, 이, 미..."
1787,012450,2023-06-22,한화그룹 “계열사 7곳 내달까지 ESG위원회 설치”,위원 분의 이상 사외이사로금호석화도 운영 중 지난달 출범한 한화그룹 위원회가 첫 활...,"[위원, 분의, 이상, 사외, 이사, 로, 금, 호석, 화도, 운영, 중, 지난달,..."

In [ ]:
news['label'] = news.label.astype('int64')
news

AttributeError: 'DataFrame' object has no attribute 'label'

In [ ]:
import pandas as pd

news = pd.read_csv("./Label.csv", index_col=0)

In [ ]:
news['label'] = news.label.astype('int64')
news['stock_id'] = news.stock_id.astype('str')
news

AttributeError: 'DataFrame' object has no attribute 'label'

In [ ]:
news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111619 entries, 0 to 111618
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   stock_id  111619 non-null  object
 1   text      111619 non-null  object
 2   date      111619 non-null  object
 3   token     111619 non-null  object
 4   label     111619 non-null  int64
dtypes: int64(1), object(4)
memory usage: 5.1+ MB

In [ ]:
news['stock_id'] = news.stock_id.apply(lambda x : x.zfill(6))
news

,stock_id,text,date,token,label
0,000060,2500억 모집액 못 채우고 미달 3년물 2200억에 1710억 모집 5년물 전액 ...,2022-07-15 19:54:00,"['2500', '억', '모집', '액', '못', '채우', '고', '미달',...",1
1,000060,메리츠증권은 14일 아모레G에 대해 아모레퍼시픽 부진으로 투자 매력도가 상대적으로 ...,2022-07-14 08:36:00,"['메리츠증권', '은', '14', '일', '아모레', 'G', '에', '대하...",0
2,000060,증시 과매도 PER 종목 쏟아진다 30개 PER 1 2배로 떨어져 PER 낮은 기업...,2022-07-13 17:36:00,"['증시', '과', '매도', 'PER', '종목', '쏟아지', 'ㄴ다', '3...",1
3,000060,투자의견 매수 목표주가 7만5000원 유지 메리츠증권이 13일 SK텔레콤에 대해 2...,2022-07-13 08:18:00,"['투자', '의견', '매수', '목표', '주가', '7', '만', '5000...",0
4,000060,금감원 손보사에 유사암 일반암 진단비 자료 요구 올해들어 손보사 유사암 경쟁 진단비...,2022-07-13 06:01:00,"['금감원', '손보사', '에', '유사', '암', '일반', '암', '진단'...",0
...,...,...,...,...,...
111614,402340,앱출석 후 회원가입시 80만명 한정 선착순국내 최초 가상자산 거래소 코빗이 4월 한...,2022-04-01 11:17:00,"['앱', '출석', '후', '회원', '가', '입시', '80', '만', '...",1
111615,402340,SK그룹 투자회사 SK스퀘어의 연결대상 종속회사 원스토어와 SK쉴더스가 증권신고서를...,2022-04-01 11:06:00,"['SK', '그룹', '투자', '회사', 'SK', '스퀘어', '의', '연결...",1
111616,402340,31일 증권신고서 제출 4월 기관 수요예측 SK스퀘어 자회사들인 토종 앱스토어 원스...,2022-04-01 09:00:00,"['31', '일', '증권', '신고서', '제출', '4', '월', '기관',...",1
111617,402340,삼부토건 제3자 배정증자 방식으로 SK에코플랜트에 보통주 11만 6106주 유상증...,2022-04-01 07:01:00,"['삼부', '토건', '제', '3', '자', '배정', '증자', '방식', ...",1
111618,402340,1Q 상장한 21개 종목 중 8개 종목은 공모가 하회 금리인상 우려에 우크라이나까지...,2022-04-01 06:06:00,"['1', 'Q', '상장', '하', 'ㄴ', '21', '개', '종목', '중...",1

In [ ]:
from tqdm import tqdm

for row in tqdm(news.itertuples()):

    sql = (row[1], row[2], row[3], row[4], row[5])
    cur.execute('INSERT IGNORE INTO Token (stock_id, text, date, token, label) VALUES (%s ,%s, %s, %s, %s)', sql)
    conn.commit()
conn.close()

111619it [18:13:58,  1.70it/s]

In [ ]:
sql = 'SELECT stock_id, text, date, token, label FROM Token'
news = pd.read_sql(sql, conn)
news

/opt/anaconda3/envs/jupyter/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,stock_id,text,date,token,label
0,000060,2500억 모집액 못 채우고 미달 3년물 2200억에 1710억 모집 5년물 전액 ...,2022-07-15 19:54:00,"['2500', '억', '모집', '액', '못', '채우', '고', '미달',...",1
1,000060,메리츠증권은 14일 아모레G에 대해 아모레퍼시픽 부진으로 투자 매력도가 상대적으로 ...,2022-07-14 08:36:00,"['메리츠증권', '은', '14', '일', '아모레', 'G', '에', '대하...",0
2,000060,증시 과매도 PER 종목 쏟아진다 30개 PER 1 2배로 떨어져 PER 낮은 기업...,2022-07-13 17:36:00,"['증시', '과', '매도', 'PER', '종목', '쏟아지', 'ㄴ다', '3...",1
3,000060,투자의견 매수 목표주가 7만5000원 유지 메리츠증권이 13일 SK텔레콤에 대해 2...,2022-07-13 08:18:00,"['투자', '의견', '매수', '목표', '주가', '7', '만', '5000...",0
4,000060,금감원 손보사에 유사암 일반암 진단비 자료 요구 올해들어 손보사 유사암 경쟁 진단비...,2022-07-13 06:01:00,"['금감원', '손보사', '에', '유사', '암', '일반', '암', '진단'...",0
...,...,...,...,...,...
111614,402340,앱출석 후 회원가입시 80만명 한정 선착순국내 최초 가상자산 거래소 코빗이 4월 한...,2022-04-01 11:17:00,"['앱', '출석', '후', '회원', '가', '입시', '80', '만', '...",1
111615,402340,SK그룹 투자회사 SK스퀘어의 연결대상 종속회사 원스토어와 SK쉴더스가 증권신고서를...,2022-04-01 11:06:00,"['SK', '그룹', '투자', '회사', 'SK', '스퀘어', '의', '연결...",1
111616,402340,31일 증권신고서 제출 4월 기관 수요예측 SK스퀘어 자회사들인 토종 앱스토어 원스...,2022-04-01 09:00:00,"['31', '일', '증권', '신고서', '제출', '4', '월', '기관',...",1
111617,402340,삼부토건 제3자 배정증자 방식으로 SK에코플랜트에 보통주 11만 6106주 유상증...,2022-04-01 07:01:00,"['삼부', '토건', '제', '3', '자', '배정', '증자', '방식', ...",1
111618,402340,1Q 상장한 21개 종목 중 8개 종목은 공모가 하회 금리인상 우려에 우크라이나까지...,2022-04-01 06:06:00,"['1', 'Q', '상장', '하', 'ㄴ', '21', '개', '종목', '중...",1

In [ ]:
from konlpy.tag import Okt
from tqdm import tqdm
tqdm.pandas()
news['token_okt'] = news.text.progress_apply(Okt().morphs)
news

 70%|██████▉   | 77777/111619 [5:32:36<53:51:22,  5.73s/it]IOStream.flush timed out
 70%|███████   | 78204/111619 [6:06:39<464:17:35, 50.02s/it]IOStream.flush timed out
 70%|███████   | 78345/111619 [6:41:59<146:32:26, 15.85s/it]

:

In [ ]:
from tqdm import tqdm
def stopword(x):
  stopword = [r'상승.*', r'하락.*', r'급등.*', r'급락.*', '상승세', '하락세', '폭등', '폭락', '오름세', '약세', '강세', '의', '가', '이', '은', '들', '는', '좀', '잘', '걍', '과', '도', '를', '으로', '자', '에', '와', '한', '하다', '에', '은', '는', '하']
  return [i for i in x if i not in stopword]
tqdm.pandas()
news["token_okt"] = news.token.progress_apply(stopword)
news

100%|██████████| 111619/111619 [07:21<00:00, 252.57it/s]

,stock_id,text,date,token,label,token_okt
0,000060,2500억 모집액 못 채우고 미달 3년물 2200억에 1710억 모집 5년물 전액 ...,2022-07-15 19:54:00,"['2500', '억', '모집', '액', '못', '채우', '고', '미달',...",1,"[[, ', 2, 5, 0, 0, ', ,, , ', 억, ', ,, , ', ..."
1,000060,메리츠증권은 14일 아모레G에 대해 아모레퍼시픽 부진으로 투자 매력도가 상대적으로 ...,2022-07-14 08:36:00,"['메리츠증권', '은', '14', '일', '아모레', 'G', '에', '대하...",0,"[[, ', 메, 리, 츠, 증, 권, ', ,, , ', ', ,, , ', ..."
2,000060,증시 과매도 PER 종목 쏟아진다 30개 PER 1 2배로 떨어져 PER 낮은 기업...,2022-07-13 17:36:00,"['증시', '과', '매도', 'PER', '종목', '쏟아지', 'ㄴ다', '3...",1,"[[, ', 증, 시, ', ,, , ', ', ,, , ', 매, ', ,, ..."
3,000060,투자의견 매수 목표주가 7만5000원 유지 메리츠증권이 13일 SK텔레콤에 대해 2...,2022-07-13 08:18:00,"['투자', '의견', '매수', '목표', '주가', '7', '만', '5000...",0,"[[, ', 투, ', ,, , ', 견, ', ,, , ', 매, 수, ', ..."
4,000060,금감원 손보사에 유사암 일반암 진단비 자료 요구 올해들어 손보사 유사암 경쟁 진단비...,2022-07-13 06:01:00,"['금감원', '손보사', '에', '유사', '암', '일반', '암', '진단'...",0,"[[, ', 금, 감, 원, ', ,, , ', 손, 보, 사, ', ,, , ..."
...,...,...,...,...,...,...
111614,402340,앱출석 후 회원가입시 80만명 한정 선착순국내 최초 가상자산 거래소 코빗이 4월 한...,2022-04-01 11:17:00,"['앱', '출석', '후', '회원', '가', '입시', '80', '만', '...",1,"[[, ', 앱, ', ,, , ', 출, 석, ', ,, , ', 후, ', ..."
111615,402340,SK그룹 투자회사 SK스퀘어의 연결대상 종속회사 원스토어와 SK쉴더스가 증권신고서를...,2022-04-01 11:06:00,"['SK', '그룹', '투자', '회사', 'SK', '스퀘어', '의', '연결...",1,"[[, ', S, K, ', ,, , ', 그, 룹, ', ,, , ', 투, ..."
111616,402340,31일 증권신고서 제출 4월 기관 수요예측 SK스퀘어 자회사들인 토종 앱스토어 원스...,2022-04-01 09:00:00,"['31', '일', '증권', '신고서', '제출', '4', '월', '기관',...",1,"[[, ', 3, 1, ', ,, , ', 일, ', ,, , ', 증, 권, ..."
111617,402340,삼부토건 제3자 배정증자 방식으로 SK에코플랜트에 보통주 11만 6106주 유상증...,2022-04-01 07:01:00,"['삼부', '토건', '제', '3', '자', '배정', '증자', '방식', ...",1,"[[, ', 삼, 부, ', ,, , ', 토, 건, ', ,, , ', 제, ..."
111618,402340,1Q 상장한 21개 종목 중 8개 종목은 공모가 하회 금리인상 우려에 우크라이나까지...,2022-04-01 06:06:00,"['1', 'Q', '상장', '하', 'ㄴ', '21', '개', '종목', '중...",1,"[[, ', 1, ', ,, , ', Q, ', ,, , ', 상, 장, ', ..."

In [ ]:
for row in tqdm(news.itertuples()):

    sql = (row[3], str(row[6]), row[5])
    cur.execute('INSERT IGNORE INTO Okt_Token2 (date, token, label) VALUES (%s, %s, %s)', sql)
    conn.commit()
conn.close()

0it [00:00, ?it/s]

OperationalError: (1054, "Unknown column 'date' in 'field list'")