In [24]:
# !pip install konlpy
# !pip install pymysql

In [25]:
import pandas as pd
import pymysql

conn = pymysql.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8'
)
cur = conn.cursor()

In [26]:
# cur.execute('''
# SELECT DISTINCT * FROM Stock_Price
# ''')
# result = cur.fetchall()
# CSV 파일 읽기
df = pd.read_csv('./A012450.csv', index_col=0)

# df = pd.DataFrame(result, columns=['stock_id', 'date', 'closing_price', 'market_price', 'high_price', 'low_price'])

df = df.sort_values(ascending=False, by='date_time').reset_index(drop=True)

stock_id = '012450'

df.insert(0, 'stock_id', stock_id)

In [27]:
df

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0
...,...,...,...,...,...,...,...,...,...
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0

In [28]:
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S')

In [29]:
df

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0
...,...,...,...,...,...,...,...,...,...
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0

In [30]:
# cur.execute('''
# SELECT DISTINCT NewsDates, NewsTitles, NewsContents FROM past_news_hanwhaairospace
# ''')
# news = cur.fetchall()
# news = pd.DataFrame(news, columns=['NewsDates', 'NewsTitles', 'NewsContents'])
# news

news = pd.read_csv('./경제_merge.csv', index_col=0)

# df = pd.DataFrame(result, columns=['stock_id', 'date', 'closing_price', 'market_price', 'high_price', 'low_price'])

news = news.sort_values(ascending=False, by=['date']).reset_index(drop=True)

stock_id = '012450'
news.insert(0, 'stock_id', stock_id)

In [31]:
news['date'] = news['date'].astype(str)

In [32]:
news['date'][1917][:]

'2022.10.24. 오후 12:04'

In [33]:
news.head(30)

,stock_id,date,title,content
0,012450,2023.02.28. 오후 4:56,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...
1,012450,2023.02.27. 오후 8:31,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...
2,012450,2023.02.27. 오후 7:29,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...
3,012450,2023.02.26. 오후 4:31,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...
4,012450,2023.02.25. 오후 9:01,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...
5,012450,2023.02.23. 오후 5:26,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...
6,012450,2023.02.22. 오전 7:31,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...
7,012450,2023.02.22. 오전 7:11,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...
8,012450,2023.02.21. 오후 9:52,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...
9,012450,2023.02.21. 오후 5:01,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...
10,012450,2023.02.17. 오후 2:24,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...
11,012450,2023.02.14. 오후 4:27,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...
12,012450,2023.02.12. 오전 11:28,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...
13,012450,2023-02-28 23:13:01,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...
14,012450,2023-02-28 22:17:08,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...
15,012450,2023-02-28 22:11:01,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...
16,012450,2023-02-28 21:49:37,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...
17,012450,2023-02-28 21:44:38,한성원입니다 촬영기자최영준그래픽최윤우,한성원입니다 촬영기자최영준그래픽최윤우
18,012450,2023-02-28 21:04:01,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...
19,012450,2023-02-28 21:02:18,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...
20,012450,2023-02-28 19:52:23,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...
21,012450,2023-02-28 19:01:01,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...
22,012450,2023-02-28 18:52:09,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...
23,012450,2023-02-28 18:17:04,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...
24,012450,2023-02-28 18:16:03,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...
25,012450,2023-02-28 18:15:01,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...
26,012450,2023-02-28 18:13:05,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...
27,012450,2023-02-28 18:10:04,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...
28,012450,2023-02-28 17:53:49,기자가 선출됐다,기자가 선출됐다
29,012450,2023-02-28 17:52:18,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...

In [34]:
for i, row in news.iterrows():
    date_str = row['date']
    if (('오후' in date_str ) and (date_str[-5:-3] == '12')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + date_str[-5:-3] + ':' + date_str[-2:] + ':00'
    if (('오전' in date_str ) and (date_str[-5:-3] == '12')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + str((int(date_str[-5:-3])-12)) + ':' + date_str[-2:] + ':00'
    if (('오후' in date_str ) and (date_str[-5:-3] not in ' ') and (date_str[-5:-3] != '12')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + str((int(date_str[-5:-3])+12)) + ':' + date_str[-2:] + ':00'
    if (('오전' in date_str ) and (date_str[-5:-4] == ' ')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' 0' + date_str[-4:-3] + ':' + date_str[-2:] + ':00'
    elif (('오전' in date_str) and (date_str[-5:-4] != ' ')):
        news['date'][i] = date_str[:4] + '-' + date_str[5:7] + '-' + date_str[8:10] + ' ' + date_str[-5:-3] + ':' + date_str[-2:] + ':00'

In [35]:
news.head(49)

,stock_id,date,title,content
0,012450,2023-02-28 16:56:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...
1,012450,2023-02-27 20:31:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...
2,012450,2023-02-27 19:29:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...
3,012450,2023-02-26 16:31:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...
4,012450,2023-02-25 21:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...
5,012450,2023-02-23 17:26:00,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...
6,012450,2023-02-22 07:31:00,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...
7,012450,2023-02-22 07:11:00,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...
8,012450,2023-02-21 21:52:00,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...
9,012450,2023-02-21 17:01:00,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...
10,012450,2023-02-17 14:24:00,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...
11,012450,2023-02-14 16:27:00,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...
12,012450,2023-02-12 11:28:00,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...
13,012450,2023-02-28 23:13:01,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...
14,012450,2023-02-28 22:17:08,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...
15,012450,2023-02-28 22:11:01,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...
16,012450,2023-02-28 21:49:37,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...
17,012450,2023-02-28 21:44:38,한성원입니다 촬영기자최영준그래픽최윤우,한성원입니다 촬영기자최영준그래픽최윤우
18,012450,2023-02-28 21:04:01,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...
19,012450,2023-02-28 21:02:18,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...
20,012450,2023-02-28 19:52:23,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...
21,012450,2023-02-28 19:01:01,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...
22,012450,2023-02-28 18:52:09,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...
23,012450,2023-02-28 18:17:04,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...
24,012450,2023-02-28 18:16:03,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...
25,012450,2023-02-28 18:15:01,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...
26,012450,2023-02-28 18:13:05,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...
27,012450,2023-02-28 18:10:04,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...
28,012450,2023-02-28 17:53:49,기자가 선출됐다,기자가 선출됐다
29,012450,2023-02-28 17:52:18,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...
30,012450,2023-02-28 17:41:05,한국노총 협상보다 투쟁민주노총 건설노조 도심 시위거리행진으로 교통혼잡 극심민주노총에...,한국노총 협상보다 투쟁민주노총 건설노조 도심 시위거리행진으로 교통혼잡 극심민주노총에...
31,012450,2023-02-28 17:40:04,매일경제는 지난 일 매경미디어센터에서 제기 오피니언 리더 자문위원단 발족식을 열었...,매일경제는 지난 일 매경미디어센터에서 제기 오피니언 리더 자문위원단 발족식을 열었...
32,012450,2023-02-28 17:26:03,자료 세계 위 경제대국 미국의 가계부채가 급증하면서 사실상 미국 국민의 상당수가 ...,자료 세계 위 경제대국 미국의 가계부채가 급증하면서 사실상 미국 국민의 상당수가 ...
33,012450,2023-02-28 17:21:07,플랫폼부,플랫폼부
34,012450,2023-02-28 17:20:01,경기신보 제공헤럴드경제수원박정규 기자경기신용보증재단이사장 시석중은 경기침체 장기화 ...,경기신보 제공헤럴드경제수원박정규 기자경기신용보증재단이사장 시석중은 경기침체 장기화 ...
35,012450,2023-02-28 17:14:01,설악산 국립공원 오색케이블카 설치 사업이 년 만에 첫 삽을 뜰 수 있게 됐다 환경부...,설악산 국립공원 오색케이블카 설치 사업이 년 만에 첫 삽을 뜰 수 있게 됐다 환경부...
36,012450,2023-02-28 17:10:18,강승남 기자 제주 경제에 빨간불이 켜졌다지역경제 핵심인 관광업과 건설업 차산업 모...,강승남 기자 제주 경제에 빨간불이 켜졌다지역경제 핵심인 관광업과 건설업 차산업 모...
37,012450,2023-02-28 17:01:42,대통령실 핵심 관계자는 이날 기자들과 만난 자리에서 미국이 전기차법에 이어서 반도...,대통령실 핵심 관계자는 이날 기자들과 만난 자리에서 미국이 전기차법에 이어서 반도...
38,012450,2023-02-28 16:58:45,민선희 기자 미국이 대중국 금융제재를 시행할 경우 우리 경제에 미치는 영향은 제한...,민선희 기자 미국이 대중국 금융제재를 시행할 경우 우리 경제에 미치는 영향은 제한...
39,012450,2023-02-28 16:58:20,가 됩니다카카오톡 검색해 채널 추가전화 메일,가 됩니다카카오톡 검색해 채널 추가전화 메일
40,012450,2023-02-28 16:55:01,전 세계적으로 공급망 등 경제안보 중요성이 커지고 있는 가운데 한미일 국이 글로벌 ...,전 세계적으로 공급망 등 경제안보 중요성이 커지고 있는 가운데 한미일 국이 글로벌 ...
41,012450,2023-02-28 16:43:02,데일리안 오명근 기자 경기 연천군이 올 연말 경원선 전철 개통을 앞두고 역세권 개발...,데일리안 오명근 기자 경기 연천군이 올 연말 경원선 전철 개통을 앞두고 역세권 개발...
42,012450,2023-02-28 16:38:58,해외 거래처 발굴 수출 실적 확대 위한 지원여수광양항만공사사장 박성현 는 지역내 사...,해외 거래처 발굴 수출 실적 확대 위한 지원여수광양항만공사사장 박성현 는 지역내 사...
43,012450,2023-02-28 16:30:03,서울뉴시스 대통령실 호놀룰루에서 한미일 경제안보대화 개최 네이버에서 뉴시스 구독하기...,서울뉴시스 대통령실 호놀룰루에서 한미일 경제안보대화 개최 네이버에서 뉴시스 구독하기...
44,012450,2023-02-28 16:27:01,해외 거래처 발굴 맞춤형헤럴드경제광양박대성 기자 여수광양항만공사사장 박성현 는 지역...,해외 거래처 발굴 맞춤형헤럴드경제광양박대성 기자 여수광양항만공사사장 박성현 는 지역...
45,012450,2023-02-28 16:21:44,NaN,NaN
46,012450,2023-02-28 16:21:19,가 됩니다카카오톡 검색해 채널 추가전화 메일,가 됩니다카카오톡 검색해 채널 추가전화 메일
47,012450,2023-02-28 16:21:11,기사내용 요약후생성 발표통계 시작된 이래 최소치 기록도쿄뉴시스지난 월일 일본 도쿄역...,기사내용 요약후생성 발표통계 시작된 이래 최소치 기록도쿄뉴시스지난 월일 일본 도쿄역...
48,012450,2023-02-28 16:13:02,대통령실 호놀룰루에서 한미일 경제안보대화 개최,대통령실 호놀룰루에서 한미일 경제안보대화 개최

In [36]:
news['date'][1917][-8:-6]

'12'

In [37]:
from datetime import datetime

# 'date' 컬럼 변환
news['date'] = pd.to_datetime(news['date'])

In [38]:
import re

def clean_text(d):
  text = re.sub(r'\([^)]*\)', '', d)
  text = re.sub(r'\[[^]]*\]', '', text)
  text = re.sub(r'\<[^>]*\>', '', text)
  pattern = r'[^가-힣0-9a-zA-Z\s]'
  text = re.sub(pattern, ' ', text)
  text = re.sub(r'사진', ' ', text)
  text = re.sub(r'.*뉴스', ' ', text)
  text = re.sub("\n", ' ', text)
  text = re.sub("  +", " ", text)
  return text

def text_clean(text):
    pattern = '([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)' # E-mail제거
    text = re.sub(pattern, '', text)
    pattern = '(http|ftp|https)://(?:[-\w.]|(?:%[\da-fA-F]{2}))+' # URL제거
    text = re.sub(pattern, '', text)
    pattern = '[a-zA-Z0-9]'    # 숫자와 알파벳 제거
    text = re.sub(pattern, '', text)
    pattern = '([ㄱ-ㅎㅏ-ㅣ]+)'  # 한글 자음, 모음 제거
    text = re.sub(pattern, '', text)
    pattern = '<[^>]*>'         # HTML 태그 제거
    text = re.sub(pattern, '', text)
    pattern = '[^\w\s]'         # 특수기호제거
    text = re.sub(pattern, '', text)
    pattern = '[\n]'            # \n제거
    text = re.sub(pattern, '', text)
    pattern = '[\t]'            # \n제거
    text = re.sub(pattern, '', text)
    return text

In [39]:
news['content'] = news['content'].astype(str)

In [40]:
news['content'] = news.content.apply(text_clean)
news['content'] = news.content.apply(clean_text)

In [41]:
news.head(40)

,stock_id,date,title,content
0,012450,2023-02-28 16:56:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...
1,012450,2023-02-27 20:31:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...
2,012450,2023-02-27 19:29:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...
3,012450,2023-02-26 16:31:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...
4,012450,2023-02-25 21:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...
5,012450,2023-02-23 17:26:00,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...,한국신문협회회장 임채청는 일 한국프레스센터에서 제차 이사회를 열고 장승준 매일경제...
6,012450,2023-02-22 07:31:00,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...,스포츠조선 조윤선 기자 트로트 가수 진성이 아내에게 경제권 를 넘긴 이유를 털어놨...
7,012450,2023-02-22 07:11:00,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...,황수연 기자 가수 진성이 세에 은퇴하고 싶다는 바람을 드러냈다 일 방송된 박원숙의...
8,012450,2023-02-21 21:52:00,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...,이지현 기자 진성이 경제권을 아내에게 넘겼다고 밝혔다 일 오후 방송된 예능 프로그...
9,012450,2023-02-21 17:01:00,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...,한상오 서울경제 보도국장보도본부장 직무대행 별세 이희경에세콘씨 남편상 유나연동 어...
10,012450,2023-02-17 14:24:00,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...,정서희 기자 아나운서 출신 방송인 윤영미가 남편 황능준과 경제적 갈등을 겪고 있다...
11,012450,2023-02-14 16:27:00,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...,이수만 엔터테인먼트이데일리 스타 김현식 기자 엔터테인먼트이하 이수만 전 총괄 프로...
12,012450,2023-02-12 11:28:00,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...,서울뉴시스 집사부일체 제공 재판매 및 금지 재판매 및 금지서울뉴시스이윤진 기자 억...
13,012450,2023-02-28 23:13:01,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...,월일까지월 주간 교육이데일리 김형욱 기자 정부 출연 연구기관 에너지경제연구원이하 연...
14,012450,2023-02-28 22:17:08,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...,튀르키예 올해 경제 성장률이 를 기록한 지난해의 절반 수준이 까지 떨어질 것이라는 ...
15,012450,2023-02-28 22:11:01,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...,농협경제지주는 일 제주에서 자재사업 계통활성화 워크숍을 열고 계통판매 확대를 위한 ...
16,012450,2023-02-28 21:49:37,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...,춘천강원창조경제혁신센터는 오늘일 한림대학교 도헌글로벌스쿨에서 신청사 이전 개소식을...
17,012450,2023-02-28 21:44:38,한성원입니다 촬영기자최영준그래픽최윤우,한성원입니다 촬영기자최영준그래픽최윤우
18,012450,2023-02-28 21:04:01,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...,앵커고물가로 요즘 너나 없이 힘든 시기를 보내고 있습니다실업률과 소비자물가 상승률을...
19,012450,2023-02-28 21:02:18,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...,앵커제주 차 산업 경제지도의 주축이 될 전국동시조합장 선거까지 열흘도 채 남지 않았...
20,012450,2023-02-28 19:52:23,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...,대구이달 대구경북 기업의 경기가 더욱 악화한 것으로 나타났습니다한국은행 대구경북본...
21,012450,2023-02-28 19:01:01,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...,편집자주우리나라는 에너지 부족 국가이면서도 탄소중립과 에너지안보라는 두 목표를 동시...
22,012450,2023-02-28 18:52:09,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...,윤석열 대통령 제회 국무회의 윤석열 대통령이 지난 일 노동 유연성 확보를 강조하며 ...
23,012450,2023-02-28 18:17:04,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...,북아일랜드 통상 조항 개정 서 오는 물품 검역통관 면제 수낵 총리 법 거부권 얻어내...
24,012450,2023-02-28 18:16:03,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...,상생이웃 해오름동맹위대한 울산을 완성하려면 자체 경쟁력을 강화함과 동시에 단일 행정...
25,012450,2023-02-28 18:15:01,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...,민주운동 기념식 참석 위해 대구 찾아 통합신공항 달빛고속철도 아시안게임 유치 등 대...
26,012450,2023-02-28 18:13:05,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...,거세지는 대중 압박 규정 준수 미비점 지적비시장적 접근 갈수록 늘어나서울경제 미국...
27,012450,2023-02-28 18:10:04,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...,일자리정책 추진단 출범맞춤형 일자리 창출 등 일자리정책 총괄 추진취업박람회 자료 정...
28,012450,2023-02-28 17:53:49,기자가 선출됐다,기자가 선출됐다
29,012450,2023-02-28 17:52:18,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 화요일 대담 오정근 한국금융융...
30,012450,2023-02-28 17:41:05,한국노총 협상보다 투쟁민주노총 건설노조 도심 시위거리행진으로 교통혼잡 극심민주노총에...,한국노총 협상보다 투쟁민주노총 건설노조 도심 시위거리행진으로 교통혼잡 극심민주노총에...
31,012450,2023-02-28 17:40:04,매일경제는 지난 일 매경미디어센터에서 제기 오피니언 리더 자문위원단 발족식을 열었...,매일경제는 지난 일 매경미디어센터에서 제기 오피니언 리더 자문위원단 발족식을 열었...
32,012450,2023-02-28 17:26:03,자료 세계 위 경제대국 미국의 가계부채가 급증하면서 사실상 미국 국민의 상당수가 ...,자료 세계 위 경제대국 미국의 가계부채가 급증하면서 사실상 미국 국민의 상당수가 ...
33,012450,2023-02-28 17:21:07,플랫폼부,플랫폼부
34,012450,2023-02-28 17:20:01,경기신보 제공헤럴드경제수원박정규 기자경기신용보증재단이사장 시석중은 경기침체 장기화 ...,경기신보 제공헤럴드경제수원박정규 기자경기신용보증재단이사장 시석중은 경기침체 장기화 ...
35,012450,2023-02-28 17:14:01,설악산 국립공원 오색케이블카 설치 사업이 년 만에 첫 삽을 뜰 수 있게 됐다 환경부...,설악산 국립공원 오색케이블카 설치 사업이 년 만에 첫 삽을 뜰 수 있게 됐다 환경부...
36,012450,2023-02-28 17:10:18,강승남 기자 제주 경제에 빨간불이 켜졌다지역경제 핵심인 관광업과 건설업 차산업 모...,강승남 기자 제주 경제에 빨간불이 켜졌다지역경제 핵심인 관광업과 건설업 차산업 모...
37,012450,2023-02-28 17:01:42,대통령실 핵심 관계자는 이날 기자들과 만난 자리에서 미국이 전기차법에 이어서 반도...,대통령실 핵심 관계자는 이날 기자들과 만난 자리에서 미국이 전기차법에 이어서 반도...
38,012450,2023-02-28 16:58:45,민선희 기자 미국이 대중국 금융제재를 시행할 경우 우리 경제에 미치는 영향은 제한...,민선희 기자 미국이 대중국 금융제재를 시행할 경우 우리 경제에 미치는 영향은 제한...
39,012450,2023-02-28 16:58:20,가 됩니다카카오톡 검색해 채널 추가전화 메일,가 됩니다카카오톡 검색해 채널 추가전화 메일

In [42]:
from konlpy.tag import Kkma

In [43]:
news.loc[(news["content"] == '') | (news["content"] == ' '), 'content'] = None
news.isnull().sum()

stock_id       0
date           0
title        230
content     2307
dtype: int64

In [44]:
news = news.dropna(axis=0)
news.isnull().sum()

stock_id    0
date        0
title       0
content     0
dtype: int64

In [45]:
def token(news):
    return tagger.morphs(news)
tqdm.pandas()
news['token'] = news.content.progress_apply(token)

100%|██████████| 31917/31917 [1:51:44<00:00,  4.76it/s]

In [46]:
news['date'] = pd.to_datetime(news['date'], format='%Y-%m-%d %H:%M:%S')
print()
news.to_csv("./Token.csv", index=True)

In [47]:
from tqdm import tqdm
import datetime

for i in tqdm(range(0,len(df),75)):
  for j in range(75):
    if i + j >= len(df):
      break
    if df.loc[i+j][2] <= df.loc[i+j][5]:
      df.loc[i+j, 'label'] = 1
    elif df.loc[i+j][2] > df.loc[i+j][5]:
      df.loc[i+j, 'label'] = 0

100%|██████████| 2498/2498 [00:18<00:00, 132.17it/s]

In [48]:
df.sort_values(by='date_time')

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,0.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0,0.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0,1.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0,0.0
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0,1.0
...,...,...,...,...,...,...,...,...,...,...
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0,1.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0,1.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0,0.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0,0.0
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0,0.0

In [49]:
# df.loc[len(df)-1, 'label2'] = -1
df.loc[len(df)-1, 'label'] = -1

In [50]:
df

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-06-28 15:20:00,127800.0,127900.0,127600.0,127700.0,2079.0,269339.0,215378.0,0.0
1,012450,2023-06-28 15:19:00,128000.0,128000.0,127800.0,127800.0,2326.0,268013.0,214625.0,0.0
2,012450,2023-06-28 15:18:00,128200.0,128300.0,127700.0,128000.0,1057.0,266452.0,213860.0,0.0
3,012450,2023-06-28 15:17:00,128000.0,128300.0,127900.0,128200.0,6046.0,265805.0,213450.0,1.0
4,012450,2023-06-28 15:16:00,127400.0,128000.0,127300.0,128000.0,4223.0,264014.0,209195.0,1.0
...,...,...,...,...,...,...,...,...,...,...
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0,1.0
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0,0.0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0,1.0
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0,0.0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1.0

In [51]:
# from tqdm import tqdm_pandas, tqdm
# import datetime
# for i in tqdm(range(0,len(df),75)):
#   for j in range(75):
#     if df.loc[i+j][2] < df.loc[i+j+1][5]:
#       df.loc[i+j, 'label2'] = 0
#     elif df.loc[i+j][2] >= df.loc[i+j+1][5]:
#       df.loc[i+j, 'label2'] = 1

In [52]:
df['label'] = df.label.astype('int64')
df.tail(40)

,stock_id,date_time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
187300,012450,2021-06-30 09:40:00,46900.0,46900.0,46850.0,46850.0,251.0,60297.0,27847.0,0
187301,012450,2021-06-30 09:39:00,46800.0,46850.0,46750.0,46850.0,4861.0,60234.0,27659.0,1
187302,012450,2021-06-30 09:38:00,46800.0,46800.0,46750.0,46750.0,804.0,60037.0,22995.0,0
187303,012450,2021-06-30 09:37:00,46750.0,46800.0,46750.0,46800.0,120.0,59714.0,22514.0,1
187304,012450,2021-06-30 09:36:00,46800.0,46800.0,46750.0,46800.0,384.0,59647.0,22461.0,1
187305,012450,2021-06-30 09:35:00,46750.0,46800.0,46700.0,46800.0,564.0,59419.0,22305.0,1
187306,012450,2021-06-30 09:34:00,46750.0,46750.0,46700.0,46750.0,577.0,59384.0,21776.0,1
187307,012450,2021-06-30 09:33:00,46700.0,46800.0,46700.0,46800.0,3814.0,59163.0,21420.0,1
187308,012450,2021-06-30 09:32:00,46750.0,46800.0,46700.0,46750.0,3032.0,55715.0,21054.0,1
187309,012450,2021-06-30 09:31:00,46800.0,46800.0,46700.0,46700.0,7289.0,54277.0,19460.0,0
187310,012450,2021-06-30 09:30:00,47000.0,47000.0,46800.0,46850.0,8381.0,47750.0,18698.0,0
187311,012450,2021-06-30 09:29:00,47000.0,47050.0,46950.0,47000.0,2192.0,40217.0,17850.0,1
187312,012450,2021-06-30 09:28:00,47000.0,47000.0,46950.0,46950.0,489.0,40053.0,15822.0,0
187313,012450,2021-06-30 09:27:00,46950.0,47000.0,46950.0,47000.0,416.0,39827.0,15559.0,1
187314,012450,2021-06-30 09:26:00,46950.0,46950.0,46900.0,46950.0,1170.0,39773.0,15197.0,1
187315,012450,2021-06-30 09:25:00,46950.0,47000.0,46900.0,46950.0,737.0,39461.0,14339.0,1
187316,012450,2021-06-30 09:24:00,47000.0,47000.0,46950.0,47000.0,182.0,38827.0,14236.0,1
187317,012450,2021-06-30 09:23:00,46900.0,47000.0,46900.0,47000.0,1549.0,38717.0,14164.0,1
187318,012450,2021-06-30 09:22:00,47000.0,47000.0,46950.0,46950.0,3425.0,37575.0,13757.0,0
187319,012450,2021-06-30 09:21:00,47100.0,47100.0,47000.0,47000.0,627.0,35096.0,12811.0,0
187320,012450,2021-06-30 09:20:00,47100.0,47100.0,47050.0,47100.0,249.0,34834.0,12446.0,1
187321,012450,2021-06-30 09:19:00,46950.0,47100.0,46950.0,47050.0,512.0,34719.0,12312.0,1
187322,012450,2021-06-30 09:18:00,47000.0,47000.0,46950.0,46950.0,1443.0,34601.0,11918.0,0
187323,012450,2021-06-30 09:17:00,47050.0,47100.0,47000.0,47050.0,1026.0,33172.0,11904.0,1
187324,012450,2021-06-30 09:16:00,47100.0,47100.0,47050.0,47050.0,252.0,32153.0,11897.0,0
187325,012450,2021-06-30 09:15:00,47050.0,47100.0,47050.0,47100.0,399.0,32132.0,11666.0,1
187326,012450,2021-06-30 09:14:00,47000.0,47000.0,46950.0,47000.0,2254.0,31778.0,11621.0,1
187327,012450,2021-06-30 09:13:00,47000.0,47000.0,46950.0,47000.0,145.0,31327.0,9818.0,1
187328,012450,2021-06-30 09:12:00,46950.0,47100.0,46950.0,47000.0,1723.0,31277.0,9723.0,1
187329,012450,2021-06-30 09:11:00,46900.0,46900.0,46850.0,46900.0,2814.0,29751.0,9526.0,1
187330,012450,2021-06-30 09:10:00,47050.0,47150.0,46850.0,46850.0,3724.0,27360.0,9103.0,0
187331,012450,2021-06-30 09:09:00,46950.0,47250.0,46850.0,47200.0,3875.0,23848.0,8891.0,1
187332,012450,2021-06-30 09:08:00,47350.0,47350.0,46800.0,47000.0,19112.0,20488.0,8376.0,0
187333,012450,2021-06-30 09:07:00,47250.0,47300.0,47250.0,47300.0,382.0,5624.0,4128.0,1
187334,012450,2021-06-30 09:06:00,47150.0,47300.0,47150.0,47250.0,1082.0,5503.0,3867.0,1
187335,012450,2021-06-30 09:05:00,47200.0,47250.0,47150.0,47200.0,1224.0,4817.0,3471.0,1
187336,012450,2021-06-30 09:04:00,47200.0,47200.0,47150.0,47150.0,941.0,4542.0,2522.0,0
187337,012450,2021-06-30 09:03:00,47200.0,47200.0,47150.0,47200.0,1170.0,3642.0,2481.0,1
187338,012450,2021-06-30 09:02:00,47350.0,47400.0,47200.0,47200.0,1382.0,2745.0,2208.0,0
187339,012450,2021-06-30 09:01:00,47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [53]:
news.reset_index(drop=True, inplace=True)
news

,stock_id,date,title,content,token
0,012450,2023-02-28 16:56:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,"[주식, 상담, 쇼, 일, 오전, 시월, 상승, 랠리, 를, 잇, 어, 간, 국내,..."
1,012450,2023-02-27 20:31:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현..."
2,012450,2023-02-27 19:29:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하..."
3,012450,2023-02-26 16:31:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,"[생방송, 부동산, 투데이, 일, 오후, 시, 올해, 주택, 시장, 이, 지나, ㄴ..."
4,012450,2023-02-25 21:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,"[엔, 스, 어, 유나, 기자, 스, 어, 장훈이, 슈카, 의, 아형, 디스, 과거..."
...,...,...,...,...,...
31912,012450,2021-06-28 03:06:03,주간 경제지표,주간 경제지표,"[주간, 경제, 지표]"
31913,012450,2021-06-28 03:04:03,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,"[미량, 초우, 판매, 전, 에서, 기념, 을, 찍, 고, 있, 다, 왼쪽, 에서,..."
31914,012450,2021-06-28 03:03:16,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,"[피의, 자로, 입건, 에, 수사, 통보, 해당, 검사, 부부장, 으로, 강등, 발..."
31915,012450,2021-06-28 00:13:50,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,"[어른, 들, 을, 위하, ㄴ, 수요, 과학, 강연, 격주, 수요일, 강원, 일보,..."
31916,012450,2021-06-28 00:13:22,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,"[손, 은, 락, 강원, 지방, 통계, 지청, 장년, 월, 부터, 전, 세계, 를,..."

In [54]:
news.insert(1, 'date_str', pd.to_datetime(news['date']).dt.strftime('%Y%m%d%H%M%S'))
news.insert(2, 'date_int', pd.to_datetime(news['date']).dt.strftime('%Y%m%d%H%M'))
news = news.astype({'date_str':'string', 'date_int':'int64'})
news.loc[news['date_str'].str.endswith('00'), 'date_str'] = news['date_str'].str[:12]
news

,stock_id,date_str,date_int,date,title,content,token
0,012450,202302281656,202302281656,2023-02-28 16:56:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,"[주식, 상담, 쇼, 일, 오전, 시월, 상승, 랠리, 를, 잇, 어, 간, 국내,..."
1,012450,202302272031,202302272031,2023-02-27 20:31:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현..."
2,012450,202302271929,202302271929,2023-02-27 19:29:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하..."
3,012450,202302261631,202302261631,2023-02-26 16:31:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,"[생방송, 부동산, 투데이, 일, 오후, 시, 올해, 주택, 시장, 이, 지나, ㄴ..."
4,012450,202302252101,202302252101,2023-02-25 21:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,"[엔, 스, 어, 유나, 기자, 스, 어, 장훈이, 슈카, 의, 아형, 디스, 과거..."
...,...,...,...,...,...,...,...
31912,012450,20210628030603,202106280306,2021-06-28 03:06:03,주간 경제지표,주간 경제지표,"[주간, 경제, 지표]"
31913,012450,20210628030403,202106280304,2021-06-28 03:04:03,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,"[미량, 초우, 판매, 전, 에서, 기념, 을, 찍, 고, 있, 다, 왼쪽, 에서,..."
31914,012450,20210628030316,202106280303,2021-06-28 03:03:16,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,"[피의, 자로, 입건, 에, 수사, 통보, 해당, 검사, 부부장, 으로, 강등, 발..."
31915,012450,20210628001350,202106280013,2021-06-28 00:13:50,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,"[어른, 들, 을, 위하, ㄴ, 수요, 과학, 강연, 격주, 수요일, 강원, 일보,..."
31916,012450,20210628001322,202106280013,2021-06-28 00:13:22,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,"[손, 은, 락, 강원, 지방, 통계, 지청, 장년, 월, 부터, 전, 세계, 를,..."

In [55]:
list = []

for da in news['date_str']:
    list.append(len(da))

news['len'] = list
news.loc[news['len']==14, 'date_int'] = news['date_int'] + 1

In [56]:
news['str'] = news['date_str'].str[:10]
news = news.astype({'str':'int64'})
news['len'].unique()

array([12, 14])

In [57]:
news

,stock_id,date_str,date_int,date,title,content,token,len,str
0,012450,202302281656,202302281656,2023-02-28 16:56:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,"[주식, 상담, 쇼, 일, 오전, 시월, 상승, 랠리, 를, 잇, 어, 간, 국내,...",12,2023022816
1,012450,202302272031,202302272031,2023-02-27 20:31:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",12,2023022720
2,012450,202302271929,202302271929,2023-02-27 19:29:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",12,2023022719
3,012450,202302261631,202302261631,2023-02-26 16:31:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,"[생방송, 부동산, 투데이, 일, 오후, 시, 올해, 주택, 시장, 이, 지나, ㄴ...",12,2023022616
4,012450,202302252101,202302252101,2023-02-25 21:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,"[엔, 스, 어, 유나, 기자, 스, 어, 장훈이, 슈카, 의, 아형, 디스, 과거...",12,2023022521
...,...,...,...,...,...,...,...,...,...
31912,012450,20210628030603,202106280307,2021-06-28 03:06:03,주간 경제지표,주간 경제지표,"[주간, 경제, 지표]",14,2021062803
31913,012450,20210628030403,202106280305,2021-06-28 03:04:03,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,"[미량, 초우, 판매, 전, 에서, 기념, 을, 찍, 고, 있, 다, 왼쪽, 에서,...",14,2021062803
31914,012450,20210628030316,202106280304,2021-06-28 03:03:16,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,"[피의, 자로, 입건, 에, 수사, 통보, 해당, 검사, 부부장, 으로, 강등, 발...",14,2021062803
31915,012450,20210628001350,202106280014,2021-06-28 00:13:50,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,"[어른, 들, 을, 위하, ㄴ, 수요, 과학, 강연, 격주, 수요일, 강원, 일보,...",14,2021062800
31916,012450,20210628001322,202106280014,2021-06-28 00:13:22,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,"[손, 은, 락, 강원, 지방, 통계, 지청, 장년, 월, 부터, 전, 세계, 를,...",14,2021062800

In [58]:
news.loc[news['date_str'].str[10:12]=='59', 'date_int'] = news['str']+ 1
news = news.astype({'date_int':'string'})
news.loc[news['date_str'].str[10:12]=='59', 'date_int'] = news['date_int'].str[:8] + news['date_int'].str[8:] +'00'
news[news['date_str'].str[10:12]=='59']

,stock_id,date_str,date_int,date,title,content,token,len,str
183,012450,20230227195902,202302272000,2023-02-27 19:59:02,경기도경제과학진흥원 전경데일리안 윤종열 기자 경기도경제과학진흥원이하 경과원은 경기도...,경기도경제과학진흥원 전경데일리안 윤종열 기자 경기도경제과학진흥원이하 경과원은 경기도...,"[경기도, 경제, 과학, 진흥원, 전경, 데일리, 안, 윤, 종, 열, 기자, 경기...",14,2023022719
197,012450,20230227175925,202302271800,2023-02-27 17:59:25,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 월요일 대담 윤석천 경제평론가...,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 월요일 대담 윤석천 경제평론가...,"[방송, 라디오, 진행, 박, 귀빈, 아나운서, 방송일, 년, 월, 일, 월요일, ...",14,2023022717
411,012450,20230224175901,202302241800,2023-02-24 17:59:01,신현송 국장 달러화 가치 커질수록 대비 무역 비중 줄어투자 환경이 국가 간 교역 조...,신현송 국장 달러화 가치 커질수록 대비 무역 비중 줄어투자 환경이 국가 간 교역 조...,"[신, 현송, 국장, 달러화, 가치, 커지, ㄹ, 수록, 대비, 무역, 비중, 줄,...",14,2023022417
489,012450,20230224075901,202302240800,2023-02-24 07:59:01,수입 주류 시장에서 위스키와 와인이 뜨고 맥주는 지고 있습니다 관세청에 따르면 지난...,수입 주류 시장에서 위스키와 와인이 뜨고 맥주는 지고 있습니다 관세청에 따르면 지난...,"[수입, 주류, 시장, 에서, 위스키, 와, 와인, 이, 뜨, 고, 맥주, 는, 지...",14,2023022407
630,012450,20230223135942,202302231400,2023-02-23 13:59:42,이찬선 기자 충남경제진흥원은 지난 일 보령시 소재 중소기업을 대상으로 충남 경제인...,이찬선 기자 충남경제진흥원은 지난 일 보령시 소재 중소기업을 대상으로 충남 경제인...,"[이찬, 선, 기자, 충남, 경제, 진흥원, 은, 지나, ㄴ, 일, 보령시, 소재,...",14,2023022313
...,...,...,...,...,...,...,...,...,...
31513,012450,20210628205902,202106282100,2021-06-28 20:59:02,용인시 반도체클러스터 조성직접 일자리 만여 개 창출반도체 로봇 판매 위 기업도 유치...,용인시 반도체클러스터 조성직접 일자리 만여 개 창출반도체 로봇 판매 위 기업도 유치...,"[용인시, 반도체, 크, ㄹ, 러스, 터, 조성, 직접, 일자리, 말, ㄴ, 여, ...",14,2021062820
31566,012450,20210628175902,202106281800,2021-06-28 17:59:02,분기 월평균보다 증가액 대상인 최대 만원 문화체육 등 소비쿠폰 재개월 말 온오프라인...,분기 월평균보다 증가액 대상인 최대 만원 문화체육 등 소비쿠폰 재개월 말 온오프라인...,"[분기, 월평균, 보다, 증가액, 대상인, 최대, 만원, 문화, 체육, 등, 소비,...",14,2021062817
31621,012450,20210628165919,202106281700,2021-06-28 16:59:19,홍남기 경제부총리오른쪽 등 인사들이 일 서울 종로구 세종대로 정부서울청사에서 하반...,홍남기 경제부총리오른쪽 등 인사들이 일 서울 종로구 세종대로 정부서울청사에서 하반...,"[홍, 남기, 경제, 부총리, 오른쪽, 등, 인사, 들, 이, 일, 서울, 종로구,...",14,2021062816
31622,012450,20210628165906,202106281700,2021-06-28 16:59:06,미중러 등 주요국과 경제협력 확대홍남기 부총리 겸 기획재정부 장관가운데이 일 오후 ...,미중러 등 주요국과 경제협력 확대홍남기 부총리 겸 기획재정부 장관가운데이 일 오후 ...,"[미, 중, 러, 등, 주요국, 과, 경제, 협력, 확대, 홍, 남기, 부총리, 겸...",14,2021062816
31885,012450,20210628065922,202106280700,2021-06-28 06:59:22,투데이대부업법과 이자제한법 시행령이 개정되면서 다음 달 일부터 기존 에서 로 법정...,투데이대부업법과 이자제한법 시행령이 개정되면서 다음 달 일부터 기존 에서 로 법정...,"[투데이, 대부, 업, 법과, 이자, 제한, 법, 시행령, 이, 개정, 되, 면서,...",14,2021062806

In [59]:
list = []

for da in news['date_int']:
    list.append(len(da))

news['len2'] = list
news['len2'].unique()

array([12])

In [60]:
news['date_int'] = news['date_int'].str[:4] + '-' + news['date_int'].str[4:6] + '-' + news['date_int'].str[6:8] + ' ' + news['date_int'].str[8:10] + ':' + news['date_int'].str[10:12] + ':' + '00'
news

,stock_id,date_str,date_int,date,title,content,token,len,str,len2
0,012450,202302281656,2023-02-28 16:56:00,2023-02-28 16:56:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,"[주식, 상담, 쇼, 일, 오전, 시월, 상승, 랠리, 를, 잇, 어, 간, 국내,...",12,2023022816,12
1,012450,202302272031,2023-02-27 20:31:00,2023-02-27 20:31:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",12,2023022720,12
2,012450,202302271929,2023-02-27 19:29:00,2023-02-27 19:29:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",12,2023022719,12
3,012450,202302261631,2023-02-26 16:31:00,2023-02-26 16:31:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,"[생방송, 부동산, 투데이, 일, 오후, 시, 올해, 주택, 시장, 이, 지나, ㄴ...",12,2023022616,12
4,012450,202302252101,2023-02-25 21:01:00,2023-02-25 21:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,"[엔, 스, 어, 유나, 기자, 스, 어, 장훈이, 슈카, 의, 아형, 디스, 과거...",12,2023022521,12
...,...,...,...,...,...,...,...,...,...,...
31912,012450,20210628030603,2021-06-28 03:07:00,2021-06-28 03:06:03,주간 경제지표,주간 경제지표,"[주간, 경제, 지표]",14,2021062803,12
31913,012450,20210628030403,2021-06-28 03:05:00,2021-06-28 03:04:03,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,"[미량, 초우, 판매, 전, 에서, 기념, 을, 찍, 고, 있, 다, 왼쪽, 에서,...",14,2021062803,12
31914,012450,20210628030316,2021-06-28 03:04:00,2021-06-28 03:03:16,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,"[피의, 자로, 입건, 에, 수사, 통보, 해당, 검사, 부부장, 으로, 강등, 발...",14,2021062803,12
31915,012450,20210628001350,2021-06-28 00:14:00,2021-06-28 00:13:50,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,"[어른, 들, 을, 위하, ㄴ, 수요, 과학, 강연, 격주, 수요일, 강원, 일보,...",14,2021062800,12
31916,012450,20210628001322,2021-06-28 00:14:00,2021-06-28 00:13:22,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,"[손, 은, 락, 강원, 지방, 통계, 지청, 장년, 월, 부터, 전, 세계, 를,...",14,2021062800,12

In [61]:
news.to_csv("./Token.csv", index=True)

In [62]:
news.loc[news['date_int'].str.endswith('24:00:00'), 'date_int']

1780     2022-10-27 24:00:00
2017     2022-01-31 24:00:00
7483     2022-06-26 24:00:00
7484     2022-06-26 24:00:00
10084    2022-05-27 24:00:00
17231    2022-01-31 24:00:00
Name: date_int, dtype: string

In [63]:
len(news.loc[news['date_int'].str.endswith('24:00:00'), 'date_int'])

6

In [68]:
news.drop(news.loc[news['date_int'].str.endswith('24:00:00'), 'date_int'].index, inplace=True)
news['date_time'] = pd.to_datetime(news['date_int'])

In [70]:
news.drop(labels=['date_str', 'date_int', 'date', 'len', 'len2', 'str'], axis=1, inplace=True)

In [71]:
news

,stock_id,title,content,token,date_time
0,012450,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,"[주식, 상담, 쇼, 일, 오전, 시월, 상승, 랠리, 를, 잇, 어, 간, 국내,...",2023-02-28 16:56:00
1,012450,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",2023-02-27 20:31:00
2,012450,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",2023-02-27 19:29:00
3,012450,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,"[생방송, 부동산, 투데이, 일, 오후, 시, 올해, 주택, 시장, 이, 지나, ㄴ...",2023-02-26 16:31:00
4,012450,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,"[엔, 스, 어, 유나, 기자, 스, 어, 장훈이, 슈카, 의, 아형, 디스, 과거...",2023-02-25 21:01:00
...,...,...,...,...,...
31912,012450,주간 경제지표,주간 경제지표,"[주간, 경제, 지표]",2021-06-28 03:07:00
31913,012450,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,"[미량, 초우, 판매, 전, 에서, 기념, 을, 찍, 고, 있, 다, 왼쪽, 에서,...",2021-06-28 03:05:00
31914,012450,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,"[피의, 자로, 입건, 에, 수사, 통보, 해당, 검사, 부부장, 으로, 강등, 발...",2021-06-28 03:04:00
31915,012450,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,"[어른, 들, 을, 위하, ㄴ, 수요, 과학, 강연, 격주, 수요일, 강원, 일보,...",2021-06-28 00:14:00
31916,012450,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,"[손, 은, 락, 강원, 지방, 통계, 지청, 장년, 월, 부터, 전, 세계, 를,...",2021-06-28 00:14:00

In [72]:
# 열 순서를 변경하여 DataFrame 재정렬
news = news.reindex(columns=['stock_id', 'date_time', 'title', 'content', 'token'])

# 결과 출력
news.to_csv("./Token.csv", index=True)

In [74]:
news['date_time'] = pd.to_datetime(news['date_time'])

# 범위 내의 데이터만 처리하고, 범위를 벗어나면 다음 날의 시작 시간으로 날짜 변경
start_time = pd.to_datetime('09:01:00').time()
end_time = pd.to_datetime('15:20:00').time()
next_day_start_time = pd.to_datetime('09:01:00') + pd.DateOffset(days=1)

mask = (news['date_time'].dt.time < start_time) | (news['date_time'].dt.time > end_time)
news.loc[mask, 'date_time'] = news.loc[mask, 'date_time'].apply(lambda x: x + pd.DateOffset(days=1)).dt.strftime('%Y-%m-%d') + ' ' + next_day_start_time.strftime('%H:%M:%S')

# 결과 출력
news

,stock_id,date_time,title,content,token
0,012450,2023-03-01 09:01:00,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,주식 상담쇼 일 오전 시월 상승 랠리를 이어간 국내 증시가 월에는 긴축 우려로 잠시...,"[주식, 상담, 쇼, 일, 오전, 시월, 상승, 랠리, 를, 잇, 어, 간, 국내,..."
1,012450,2023-02-28 09:01:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현..."
2,012450,2023-02-28 09:01:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하..."
3,012450,2023-02-27 09:01:00,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,생방송 부동산 투데이일 오후 시올해 주택시장이 지난 글로벌 금융위기 때보다 더 악화...,"[생방송, 부동산, 투데이, 일, 오후, 시, 올해, 주택, 시장, 이, 지나, ㄴ..."
4,012450,2023-02-26 09:01:00,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,엔 서유나 기자 서장훈이 슈카의 아형 디스 과거에 분노했다 월 일 방송된 예능 아...,"[엔, 스, 어, 유나, 기자, 스, 어, 장훈이, 슈카, 의, 아형, 디스, 과거..."
...,...,...,...,...,...
31912,012450,2021-06-29 09:01:00,주간 경제지표,주간 경제지표,"[주간, 경제, 지표]"
31913,012450,2021-06-29 09:01:00,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,미량초우 판매전에서 기념 을 찍고 있다왼쪽에서 번째 밀양축협 박재종조합장 번째 농...,"[미량, 초우, 판매, 전, 에서, 기념, 을, 찍, 고, 있, 다, 왼쪽, 에서,..."
31914,012450,2021-06-29 09:01:00,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,피의자로 입건 에 수사 통보해당 검사 부부장으로 강등 발령부정한 금품 등 받은 사실...,"[피의, 자로, 입건, 에, 수사, 통보, 해당, 검사, 부부장, 으로, 강등, 발..."
31915,012450,2021-06-29 09:01:00,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,어른들을 위한 수요 과학 강연 격주 수요일 강원일보 유튜브강원도의 주요 미래 사업과...,"[어른, 들, 을, 위하, ㄴ, 수요, 과학, 강연, 격주, 수요일, 강원, 일보,..."
31916,012450,2021-06-29 09:01:00,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,손은락 강원지방통계지청장년 월부터 전 세계를 급습한 코로나로 사회경제문화 등 모든 ...,"[손, 은, 락, 강원, 지방, 통계, 지청, 장년, 월, 부터, 전, 세계, 를,..."

In [76]:
news.sort_values(by='date_time')
news['stock_id'] = '012450'

In [78]:
news_all = pd.merge(news, df, on=['date_time', 'stock_id'])

In [79]:
news_all.sort_values(by='date_time')

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
25130,012450,2021-06-30 09:01:00,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,"[정부, 는, 일, 문, 재인, 대통령, 주재, 로, 열린, 확대, 경제, 장관, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
24904,012450,2021-06-30 09:01:00,서울경제 서울경제의 명사 칼럼 로터리 필진이 바뀝니다 월 로터리 칼럼을 맡아주실 분...,서울경제 서울경제의 명사 칼럼 로터리 필진이 바뀝니다 월 로터리 칼럼을 맡아주실 분...,"[서울, 경제, 서울, 경제, 의, 명사, 칼럼, 로터리, 필진, 이, 바뀌, ㅂ니...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
24905,012450,2021-06-30 09:01:00,삼성전자 정부와 손잡고 디지털인재 육성 대폭 확대포스코상의도 동참정부 비용 절반 지...,삼성전자 정부와 손잡고 디지털인재 육성 대폭 확대포스코상의도 동참정부 비용 절반 지...,"[삼성전자, 정부, 와, 손잡, 고, 디지털, 인재, 육성, 대폭, 확대, 포스, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
24906,012450,2021-06-30 09:01:00,광주뉴시스 배상현기자 대구와 광주 국회의원들이 일 달빛내륙철도 국가계획 확정과 관련...,광주뉴시스 배상현기자 대구와 광주 국회의원들이 일 달빛내륙철도 국가계획 확정과 관련...,"[광주, 뉴, 시스, 배상, 현, 기자, 대구, 와, 광주, 국회의원, 들, 이, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
24907,012450,2021-06-30 09:01:00,내년도 최저임금 업종별 차등 적용이 불발된 가운데 한국경영자총협회는 깊은 우려와 ...,내년도 최저임금 업종별 차등 적용이 불발된 가운데 한국경영자총협회는 깊은 우려와 ...,"[내년도, 최저, 임금, 업종별, 차등, 적용, 이, 불발, 되, ㄴ, 가운데, 한...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,012450,2023-02-28 14:47:00,는 시간 여러분의 제보를 기다립니다 전화 이메일 카카오톡 제보,는 시간 여러분의 제보를 기다립니다 전화 이메일 카카오톡 제보,"[늘, ㄴ, 시간, 여러분, 의, 제보, 를, 기다리, ㅂ니다, 전화, 이메일, 카...",90000.0,90200.0,90000.0,90100.0,1270.0,266021.0,310045.0,1
448,012450,2023-02-28 14:52:00,한국과 미국이 북한의 핵 미사일에 대응하는 확장억제의 수단을 더 다양하게 확보하려...,한국과 미국이 북한의 핵 미사일에 대응하는 확장억제의 수단을 더 다양하게 확보하려...,"[한국, 과, 미국, 이, 북한, 의, 핵, 미사일, 에, 대응, 하, 는, 확장,...",90000.0,90100.0,90000.0,90100.0,291.0,267963.0,312403.0,1
447,012450,2023-02-28 15:01:00,안형준 유상증자 대금 납부 안 된 이유 함구상법상 주식 대금 납부하지 않으면 실권 ...,안형준 유상증자 대금 납부 안 된 이유 함구상법상 주식 대금 납부하지 않으면 실권 ...,"[안, 형, 주, ㄴ, 유상, 증자, 대금, 납부, 안, 되, ㄴ, 이유, 함구, ...",89800.0,89800.0,89700.0,89800.0,1061.0,275189.0,316657.0,1
446,012450,2023-02-28 15:04:00,기사내용 요약과 무등산 빛 반도체 등을 대표하는 브랜드는광주 도시브랜드 주제 전문가...,기사내용 요약과 무등산 빛 반도체 등을 대표하는 브랜드는광주 도시브랜드 주제 전문가...,"[기사, 내용, 요약, 과, 무등산, 빛, 반도체, 등, 을, 대표, 하, 는, 브...",89800.0,90000.0,89700.0,90000.0,3734.0,275994.0,320916.0,1
445,012450,2023-02-28 15:11:00,기자가 선출됐다,기자가 선출됐다,"[기자, 가, 선출, 되, 었, 다]",90000.0,90000.0,89900.0,90000.0,1130.0,279514.0,325975.0,1

In [83]:
news_all.to_csv("./Label.csv", index=True)

In [84]:
news_all

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-02-28 09:01:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
1,012450,2023-02-28 09:01:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
2,012450,2023-02-28 09:01:00,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,"[홍, 국기, 기자, 일, 현지, 시간, 스페인, 바, 르, 셀, 로, 나, 아, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
3,012450,2023-02-28 09:01:00,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,"[박희, 창, 경제부, 기자, 칩, 스법, 반도체, 산업, 강화법, 의, 핵심, 이...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
4,012450,2023-02-28 09:01:00,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,"[앵커, 전국, 동시, 조합장, 선거, 에, 출마, 후보, 들, 의, 표, 심, 공...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25126,012450,2021-06-30 09:01:00,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,"[본보, 수요, 과학, 강연, 편, 내일, 유, 튜브, 통해, 선보이, 어, 코로나...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25127,012450,2021-06-30 09:01:00,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,"[코로나, 장기화, 돌파구, 찾, 는, 동해, 시대, 권역, 별, 개발, 계획, 올...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25128,012450,2021-06-30 09:01:00,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,"[정부, 가, 일, 하반기, 경제, 정책, 방향, 을, 발표, 하, 면서, 선도, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25129,012450,2021-06-30 09:01:00,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,"[일, 산업, 연구원, 은, 년, 하반기, 경제, 산업, 전망, 보고서, 를, 통하...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25130,012450,2021-06-30 09:01:00,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,"[정부, 는, 일, 문, 재인, 대통령, 주재, 로, 열린, 확대, 경제, 장관, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [85]:
news_all['label'] = news_all.label.astype('int64')
news_all

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-02-28 09:01:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
1,012450,2023-02-28 09:01:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
2,012450,2023-02-28 09:01:00,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,"[홍, 국기, 기자, 일, 현지, 시간, 스페인, 바, 르, 셀, 로, 나, 아, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
3,012450,2023-02-28 09:01:00,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,"[박희, 창, 경제부, 기자, 칩, 스법, 반도체, 산업, 강화법, 의, 핵심, 이...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
4,012450,2023-02-28 09:01:00,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,"[앵커, 전국, 동시, 조합장, 선거, 에, 출마, 후보, 들, 의, 표, 심, 공...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25126,012450,2021-06-30 09:01:00,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,"[본보, 수요, 과학, 강연, 편, 내일, 유, 튜브, 통해, 선보이, 어, 코로나...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25127,012450,2021-06-30 09:01:00,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,"[코로나, 장기화, 돌파구, 찾, 는, 동해, 시대, 권역, 별, 개발, 계획, 올...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25128,012450,2021-06-30 09:01:00,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,"[정부, 가, 일, 하반기, 경제, 정책, 방향, 을, 발표, 하, 면서, 선도, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25129,012450,2021-06-30 09:01:00,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,"[일, 산업, 연구원, 은, 년, 하반기, 경제, 산업, 전망, 보고서, 를, 통하...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25130,012450,2021-06-30 09:01:00,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,"[정부, 는, 일, 문, 재인, 대통령, 주재, 로, 열린, 확대, 경제, 장관, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [86]:
news_all['label'] = news_all.label.astype('int64')
news_all['stock_id'] = news_all.stock_id.astype('str')
news_all

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-02-28 09:01:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
1,012450,2023-02-28 09:01:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
2,012450,2023-02-28 09:01:00,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,"[홍, 국기, 기자, 일, 현지, 시간, 스페인, 바, 르, 셀, 로, 나, 아, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
3,012450,2023-02-28 09:01:00,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,"[박희, 창, 경제부, 기자, 칩, 스법, 반도체, 산업, 강화법, 의, 핵심, 이...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
4,012450,2023-02-28 09:01:00,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,"[앵커, 전국, 동시, 조합장, 선거, 에, 출마, 후보, 들, 의, 표, 심, 공...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25126,012450,2021-06-30 09:01:00,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,"[본보, 수요, 과학, 강연, 편, 내일, 유, 튜브, 통해, 선보이, 어, 코로나...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25127,012450,2021-06-30 09:01:00,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,"[코로나, 장기화, 돌파구, 찾, 는, 동해, 시대, 권역, 별, 개발, 계획, 올...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25128,012450,2021-06-30 09:01:00,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,"[정부, 가, 일, 하반기, 경제, 정책, 방향, 을, 발표, 하, 면서, 선도, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25129,012450,2021-06-30 09:01:00,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,"[일, 산업, 연구원, 은, 년, 하반기, 경제, 산업, 전망, 보고서, 를, 통하...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1
25130,012450,2021-06-30 09:01:00,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,"[정부, 는, 일, 문, 재인, 대통령, 주재, 로, 열린, 확대, 경제, 장관, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1

In [87]:
news_all['stock_id'] = news_all.stock_id.apply(lambda x : x.zfill(6))
news_all.head(30)

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label
0,012450,2023-02-28 09:01:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
1,012450,2023-02-28 09:01:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
2,012450,2023-02-28 09:01:00,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,"[홍, 국기, 기자, 일, 현지, 시간, 스페인, 바, 르, 셀, 로, 나, 아, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
3,012450,2023-02-28 09:01:00,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,"[박희, 창, 경제부, 기자, 칩, 스법, 반도체, 산업, 강화법, 의, 핵심, 이...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
4,012450,2023-02-28 09:01:00,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,"[앵커, 전국, 동시, 조합장, 선거, 에, 출마, 후보, 들, 의, 표, 심, 공...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
5,012450,2023-02-28 09:01:00,경기도경제과학진흥원 전경데일리안 윤종열 기자 경기도경제과학진흥원이하 경과원은 경기도...,경기도경제과학진흥원 전경데일리안 윤종열 기자 경기도경제과학진흥원이하 경과원은 경기도...,"[경기도, 경제, 과학, 진흥원, 전경, 데일리, 안, 윤, 종, 열, 기자, 경기...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
6,012450,2023-02-28 09:01:00,서주희입니다 영상취재 김민석 권재우 영상편집 김민정,서주희입니다 영상취재 김민석 권재우 영상편집 김민정,"[서주희, 이, ㅂ니다, 영상, 취재, 김, 민, 석, 권, 재우, 영상, 편집, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
7,012450,2023-02-28 09:01:00,영상에서 확인하세요기획 하현종 프로듀서 권재경 촬영 박상현 편집 안송아 담당인턴 ...,영상에서 확인하세요기획 하현종 프로듀서 권재경 촬영 박상현 편집 안송아 담당인턴 ...,"[영상, 에서, 확인, 하세, 요, 기획, 하, 현종, 프로듀서, 권, 재경, 촬영...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
8,012450,2023-02-28 09:01:00,이만영입니다 촬영기자김현기,이만영입니다 촬영기자김현기,"[이만, 영, 이, ㅂ니다, 촬영기, 자, 김, 현기]",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
9,012450,2023-02-28 09:01:00,정부는 대인 물가 상승률이 일정 정도까지 내려가야 추가경정예산 등도 고려할 수 있...,정부는 대인 물가 상승률이 일정 정도까지 내려가야 추가경정예산 등도 고려할 수 있...,"[정부, 는, 대인, 물가, 상승률, 이, 일정, 정도, 까지, 내려가, 아야, 추...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
10,012450,2023-02-28 09:01:00,온통대전지역사랑카드 명칭 바꿔 월 발행할인혜택 특정시기 회 발행억 규모결제액 적립복...,온통대전지역사랑카드 명칭 바꿔 월 발행할인혜택 특정시기 회 발행억 규모결제액 적립복...,"[온통, 대전, 지역, 사랑, 카드, 명칭, 바꾸, 어, 월, 발행, 할인, 혜택,...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
11,012450,2023-02-28 09:01:00,앵커중국이 코로나 봉쇄 정책을 풀고 경제활동을 재개하면서 대중 수출 의존도가 높은 ...,앵커중국이 코로나 봉쇄 정책을 풀고 경제활동을 재개하면서 대중 수출 의존도가 높은 ...,"[앵커, 중국, 이, 코로나, 봉쇄, 정책, 을, 풀, 고, 경제, 활동, 을, 재...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
12,012450,2023-02-28 09:01:00,년 하반기 고용지표 개 분야 위산업단지 조성 투자유치 성과 가시화음성음성군은 그간 ...,년 하반기 고용지표 개 분야 위산업단지 조성 투자유치 성과 가시화음성음성군은 그간 ...,"[년, 하반기, 고용, 지표, 개, 분야, 위, 산업, 단지, 조성, 투자, 유치,...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
13,012450,2023-02-28 09:01:00,장기채권에 돈이 몰리는 이유지난해 역대급 손실을 낸 장기채 상장지수펀드의 수익률이...,장기채권에 돈이 몰리는 이유지난해 역대급 손실을 낸 장기채 상장지수펀드의 수익률이...,"[장기, 채권, 에, 돈, 이, 몰리, 는, 이유, 지난해, 역대, 급, 손실, 을...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
14,012450,2023-02-28 09:01:00,가 됩니다카카오톡 검색해 채널 추가전화 메일,가 됩니다카카오톡 검색해 채널 추가전화 메일,"[가, 아, 되, ㅂ니다, 카카오, 톡, 검색, 하, 어, 채널, 추가, 전화, 메일]",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
15,012450,2023-02-28 09:01:00,오색케이블카 사업이 결국 마지막 능선을 넘었다 환경단체의 반대와 각종 규제 환경부...,오색케이블카 사업이 결국 마지막 능선을 넘었다 환경단체의 반대와 각종 규제 환경부...,"[오색, 케이블카, 사업, 이, 결국, 마지막, 능선, 을, 넘, 었, 다, 환경,...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
16,012450,2023-02-28 09:01:00,년간 억 투입해 멘토링 부산경제진흥원은 앞으로 년간 명 규모의 신사업 창업가를 양성...,년간 억 투입해 멘토링 부산경제진흥원은 앞으로 년간 명 규모의 신사업 창업가를 양성...,"[년, 간, 억, 투입, 하, 어, 멘토링, 부산, 경제, 진흥원, 은, 앞, 으로...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
17,012450,2023-02-28 09:01:00,순창군청 전경 재판매 및 금지순창뉴시스 김종효 기자 전북 순창군이 고물가와 경기불황...,순창군청 전경 재판매 및 금지순창뉴시스 김종효 기자 전북 순창군이 고물가와 경기불황...,"[순창, 군청, 전경, 재판매, 및, 금지, 순창, 뉴, 시스, 김, 종효, 기자,...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
18,012450,2023-02-28 09:01:00,대통령 지지율 주째 대 이재명 더불어민주당 대표에 대한 체포동의안이 일 국회 본회...,대통령 지지율 주째 대 이재명 더불어민주당 대표에 대한 체포동의안이 일 국회 본회...,"[대통령, 지지율, 주, 째, 대, 이재명, 더불, 어, 민주당, 대표, 에, 대하...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
19,012450,2023-02-28 09:01:00,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 월요일 대담 윤석천 경제평론가...,방송 라디오 진행 박귀빈 아나운서 방송일 년 월 일 월요일 대담 윤석천 경제평론가...,"[방송, 라디오, 진행, 박, 귀빈, 아나운서, 방송일, 년, 월, 일, 월요일, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
20,012450,2023-02-28 09:01:00,환경규제 대못 제거 설악산 케이블카 환경평가 통과 강원도 대 정책과제 추진환경부도 ...,환경규제 대못 제거 설악산 케이블카 환경평가 통과 강원도 대 정책과제 추진환경부도 ...,"[환경, 규제, 대못, 제거, 설악산, 케이블카, 환경, 평가, 통과, 강원도, 대...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
21,012450,2023-02-28 09:01:00,셔먼법에도 깊은 조예윤석열 대통령은 자신의 인생 책으로 꼽은 밀턴 프리드먼의 선택...,셔먼법에도 깊은 조예윤석열 대통령은 자신의 인생 책으로 꼽은 밀턴 프리드먼의 선택...,"[셔먼법, 에, 도, 깊, 은, 조예, 윤, 석, 열, 대통령, 은, 자신, 의, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
22,012450,2023-02-28 09:01:00,매일경제신문사는 장래 우리 경제를 이끌어갈 초등학생을 대상으로 쉽고 재미있게 경제 ...,매일경제신문사는 장래 우리 경제를 이끌어갈 초등학생을 대상으로 쉽고 재미있게 경제 ...,"[매이, ㄹ, 경제, 신문사, 는, 장래, 우리, 경제, 를, 이끌어가, ㄹ, 초등...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
23,012450,2023-02-28 09:01:00,소상공인 공동체와 유관 기관 공무원 여명 참석단계별 지원사업 내용과 참여 방법 절차...,소상공인 공동체와 유관 기관 공무원 여명 참석단계별 지원사업 내용과 참여 방법 절차...,"[소, 상공인, 공동체, 와, 유관, 기관, 공무원, 여명, 참석, 단계별, 지원,...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
24,012450,2023-02-28 09:01:00,신병남 기자 공정거래위원회가 은행업계의 예금대출 금리 수수료 등 담합 여부를 조사...,신병남 기자 공정거래위원회가 은행업계의 예금대출 금리 수수료 등 담합 여부를 조사...,"[신병, 남, 기자, 공정, 거래, 위원회, 가, 은행, 업계, 의, 예금, 대출,...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
25,012450,2023-02-28 09:01:00,경세제민 촉오후 시올해 시작부터 전기요금 인상이 화제가 되고 있다 오일 쇼크 이후 ...,경세제민 촉오후 시올해 시작부터 전기요금 인상이 화제가 되고 있다 오일 쇼크 이후 ...,"[경, 세제, 민, 촉, 오후, 시, 올해, 시작, 부터, 전기, 요금, 인상, 이...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
26,012450,2023-02-28 09:01:00,자립지원전담기관과 협약 경제교육정보 지원창원대학교 경남지역 경제교육센터가 경남자립지...,자립지원전담기관과 협약 경제교육정보 지원창원대학교 경남지역 경제교육센터가 경남자립지...,"[자립, 지원, 전담, 기관, 과, 협약, 경제, 교육, 정보, 지원, 창원, 대학...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
27,012450,2023-02-28 09:01:00,올해 우리 경제 최대 변수로 꼽히는 중국 경제활동 재개리오프닝 효과가 과거만 못하...,올해 우리 경제 최대 변수로 꼽히는 중국 경제활동 재개리오프닝 효과가 과거만 못하...,"[올해, 우리, 경제, 최대, 변수, 로, 꼽히, 는, 중국, 경제, 활동, 재개,...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
28,012450,2023-02-28 09:01:00,일 서울 명동 주류 배송 트럭 뉴시스자유시장경제를 표방한 윤석열 정부가 치솟는 물가...,일 서울 명동 주류 배송 트럭 뉴시스자유시장경제를 표방한 윤석열 정부가 치솟는 물가...,"[일, 서울, 명동, 주류, 배송, 트럭, 뉴, 시스, 자유, 시장, 경제, 를, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0
29,012450,2023-02-28 09:01:00,중국인 대유행 동안 조 위안 저축저축률 로 수년 내 최고 수준부동산과 일자리 불안 ...,중국인 대유행 동안 조 위안 저축저축률 로 수년 내 최고 수준부동산과 일자리 불안 ...,"[중국인, 대유행, 동안, 조, 위안, 저축, 저축률, 로, 수년, 내, 최고, 수...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0

In [ ]:
# from tqdm import tqdm

# for row in tqdm(news.itertuples()):

#     sql = (row[1], row[2], row[3], row[4], row[5])
#     cur.execute('INSERT IGNORE INTO Token (stock_id, text, date, token, label) VALUES (%s ,%s, %s, %s, %s)', sql)
#     conn.commit()
# conn.close()

In [ ]:
# sql = 'SELECT stock_id, text, date, token, label FROM Token'
# news = pd.read_sql(sql, conn)
# news

In [88]:
from konlpy.tag import Okt
from tqdm import tqdm
tqdm.pandas()
news_all['token_okt'] = news_all.content.progress_apply(Okt().morphs)
news_all

  0%|          | 0/25131 [00:00<?, ?it/s]

100%|██████████| 25131/25131 [14:50<00:00, 28.21it/s]

,stock_id,date_time,title,content,token,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,label,token_okt
0,012450,2023-02-28 09:01:00,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,유튜브 채널 황현희 조사하면 돈 나와개그맨 황현희가 경제적 자유가 있을 때 좋은 ...,"[유, 튜브, 채널, 황, 현희, 조사, 하, 면, 돈, 나오, 아, 개그맨, 황현...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0,"[유튜브, 채널, 황현희, 조사, 하면, 돈, 나와, 개그맨, 황현희, 가, 경제,..."
1,012450,2023-02-28 09:01:00,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,최지연 기자 코미디언 황현희가 경제적 자유를 얻기 위해 해야하는 노력을 강조했다 ...,"[최, 지연, 기자, 코미디언, 황현희, 가, 경제적, 자유, 를, 얻, 기, 위하...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0,"[최지연, 기자, 코미디언, 황현희, 가, 경제, 적, 자유, 를, 얻기, 위해, ..."
2,012450,2023-02-28 09:01:00,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,홍국기 기자 일현지시간 스페인 바르셀로나 피라 그란 비아 전시장에서 열린 세계 최...,"[홍, 국기, 기자, 일, 현지, 시간, 스페인, 바, 르, 셀, 로, 나, 아, ...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0,"[홍, 국기, 기자, 일, 현, 지, 시간, 스페인, 바르셀로나, 피, 라, 그란,..."
3,012450,2023-02-28 09:01:00,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,박희창 경제부 기자칩스법반도체산업강화법의 핵심인 조세특례제한법 개정과 재정준칙 법제...,"[박희, 창, 경제부, 기자, 칩, 스법, 반도체, 산업, 강화법, 의, 핵심, 이...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0,"[박희, 창, 경제, 부, 기자, 칩스, 법, 반도체, 산업, 강화, 법, 의, 핵..."
4,012450,2023-02-28 09:01:00,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,앵커 전국 동시조합장 선거에 출마후보들의 표심 공략 대상자는 조합원입니다인구 유입 ...,"[앵커, 전국, 동시, 조합장, 선거, 에, 출마, 후보, 들, 의, 표, 심, 공...",89400.0,89500.0,89100.0,89300.0,11653.0,3915.0,6559.0,0,"[앵커, 전국, 동, 시, 조합, 장, 선거, 에, 출마, 후보, 들, 의, 표심,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25126,012450,2021-06-30 09:01:00,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,본보 수요 과학 강연 편 내일 유튜브 통해 선보여코로나 여파에도 수출액 역대 최고바...,"[본보, 수요, 과학, 강연, 편, 내일, 유, 튜브, 통해, 선보이, 어, 코로나...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1,"[본보, 수요, 과학, 강연, 편, 내일, 유튜브, 통해, 선보여, 코로나, 여파,..."
25127,012450,2021-06-30 09:01:00,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,코로나 장기화 돌파구 찾는 동해시대 권역별 개발계획 올해 완성 앞둬웰니스해양캠핑 등...,"[코로나, 장기화, 돌파구, 찾, 는, 동해, 시대, 권역, 별, 개발, 계획, 올...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1,"[코로나, 장기, 화, 돌파구, 찾는, 동해시, 대, 권역별, 개발, 계획, 올해,..."
25128,012450,2021-06-30 09:01:00,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,정부가 일 하반기 경제정책방향을 발표하면서 선도형 경제로의 구조 대전환을 추진하겠다...,"[정부, 가, 일, 하반기, 경제, 정책, 방향, 을, 발표, 하, 면서, 선도, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1,"[정부, 가, 일, 하반기, 경제정책, 방향, 을, 발표, 하면서, 선도, 형, 경..."
25129,012450,2021-06-30 09:01:00,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,일 산업연구원은 년 하반기 경제산업 전망 보고서를 통해 코로나 불확실성이 소비 회복...,"[일, 산업, 연구원, 은, 년, 하반기, 경제, 산업, 전망, 보고서, 를, 통하...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1,"[일, 산업, 연구원, 은, 년, 하반기, 경제, 산업, 전망, 보고서, 를, 통해..."
25130,012450,2021-06-30 09:01:00,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,정부는 일 문재인 대통령 주재로 열린 확대경제장관회의에서 이같은 년 하반기 경제정...,"[정부, 는, 일, 문, 재인, 대통령, 주재, 로, 열린, 확대, 경제, 장관, ...",47450.0,47500.0,47350.0,47400.0,3572.0,1705.0,1866.0,-1,"[정부, 는, 일, 문재인, 대통령, 주재, 로, 열린, 확대경, 제, 장관, 회의..."

In [89]:
news_all.to_csv('./Okt.csv')