In [28]:
import pandas as pd
from glob import glob
import os

In [29]:
file_list = os.listdir('data')
file_list

file_name=[]
for file in file_list:
    if file.count('.') == 1:
        name = file.split('.')[0]
        file_name.append(name)
    else:
        for k in range(len(file-1,0,-1)):
            if file[k]=='.':
                file_name.append(file[:k])
                break
file_name

['A003010',
 'A003570',
 'A005810',
 'A005870',
 'A007120',
 'A009540',
 'A011210',
 'A012450',
 'A013810',
 'A015710',
 'A024740',
 'A035460',
 'A038060',
 'A040300',
 'A041190',
 'A064960',
 'A065450',
 'A065570',
 'A068790',
 'A076080',
 'A077360',
 'A077970',
 'A079550',
 'A088800',
 'A090080',
 'A095190',
 'A095270',
 'A096630',
 'A103140',
 'A108380',
 'A119500',
 'A214430',
 'A230980',
 'A272210',
 'A274090',
 'A361390',
 'A368770',
 'A372910',
 'A377330']

import pandas as pd
from glob import glob

file_names = glob("data/*.csv") #폴더 내의 모든 csv파일 목록을 불러온다
total = pd.DataFrame() #빈 데이터프레임 하나를 생성한다

for file_name in file_names:
    temp = pd.read_csv(file_name, encoding='utf-8') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
    total = pd.concat([total, temp]) #전체 데이터프레임에 추가하여 넣는다

total.to_csv("data/total.csv")

In [31]:
file_csv = glob("data/A*.csv") # data 폴더 내의 모든 csv파일 목록을 불러오기
total = pd.DataFrame() # 빈 DF 생성

for file in file_csv:
    temp = pd.read_csv(file, encoding='utf-8')
    temp.sort_values(['date','time'], inplace=True) # 내림차순 정렬
    total = pd.concat([total, temp]) # 전체 DF에 추가

total.to_csv("data/total.csv")
print("1분봉 엑셀 data 취합 완료")

MemoryError: Unable to allocate 37.4 MiB for an array with shape (9, 544668) and data type int64

In [30]:
file_csv = glob("data/A*.csv") # data 폴더 내의 모든 csv파일 목록을 불러오기
total = pd.DataFrame() # 빈 DF 생성

for file in file_csv:
    temp = pd.read_csv(file, encoding='utf-8')
    temp.sort_values(['date','time'], inplace=True) # 내림차순 정렬
    #for name in file_name:
        #temp['name'] = name
    total = pd.concat([total, temp]) # 전체 DF에 추가

total.to_csv("data/total.csv")
print("1분봉 엑셀 data 취합 완료")

MemoryError: Unable to allocate 60.0 MiB for an array with shape (9, 873650) and data type int64

In [ ]:
for file in file_csv:
    for i in len(file_name):
        temp = pd.read_csv(file, encoding='utf-8')
        temp['name'] = file

TypeError: 'int' object is not iterable

In [ ]:
temp

,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,name
0,20230630,1530,10970,10970,10970,10970,526,13979,17585,A377330
1,20230630,1520,10950,10970,10950,10970,15,13979,17067,A377330
2,20230630,1519,10950,10950,10950,10950,1,13979,17052,A377330
3,20230630,1518,10950,10950,10950,10950,5,13979,17051,A377330
4,20230630,1517,10950,10950,10950,10950,2,13979,17046,A377330
...,...,...,...,...,...,...,...,...,...,...
106538,20220204,905,22800,23100,22400,22550,128160,730368,940406,A377330
106539,20220204,904,23300,24000,22700,22850,287873,636075,906539,A377330
106540,20220204,903,22550,23750,22500,23300,277563,484707,770034,A377330
106541,20220204,902,22400,22650,22200,22550,160339,357266,619912,A377330
106542,20220204,901,23450,24000,22100,22400,816839,273615,543224,A377330

In [ ]:
df = pd.read_csv('data/total.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df
#df.name.unique()

,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,20210623,901,7360,7390,7360,7390,3137,22,3115
1,20210623,902,7420,7420,7420,7420,870,22,3985
2,20210623,903,7440,7440,7440,7440,21,37,3991
3,20210623,904,7420,7420,7420,7420,35,72,3991
4,20210623,905,7420,7420,7400,7400,4,73,3994
...,...,...,...,...,...,...,...,...,...
5566669,20230630,1517,10950,10950,10950,10950,2,13979,17046
5566670,20230630,1518,10950,10950,10950,10950,5,13979,17051
5566671,20230630,1519,10950,10950,10950,10950,1,13979,17052
5566672,20230630,1520,10950,10970,10950,10970,15,13979,17067
5566673,20230630,1530,10970,10970,10970,10970,526,13979,17585

In [ ]:
# 위에 코드로 돌렸을 때 너무 오래 걸리면 사용할 예정

import pandas as pd
import os
 
minute_candles = os.listdir('C:/Users/User/Desktop/concat')
dir_1 = 'C:/Users/User/Desktop/concat'
dir_2 = r'C:/Users/User/Desktop/concat/minute_bong.xlsx'
 
for i in range(len(minute_candles)):
    minute_candles[i] = pd.read_excel(dir_1 + "/" + minute_candles[i], engine='xlrd')
 
    minute_candles[i] = minute_candles[i][0:601] 
 
minute_candles_total = pd.concat(minute_candles)
 
if not os.path.exists(dir_2):
    with pd.ExcelWriter(dir_2, mode='w', engine='openpyxl') as writer:
        minute_candles_total.to_excel(writer, index=False, sheet_name='Sheet1')

print("1분봉 엑셀 취합 완료")