In [4]:
import pandas as pd
from glob import glob

file_names = glob("data/*.csv") # data 폴더 내의 모든 csv파일 목록을 불러오기
total = pd.DataFrame() # 빈 DF 생성

for file_name in file_names:
    temp = pd.read_csv(file_name, encoding='utf-8') # csv파일을 하나씩 열어 임시 DF 생성
    total = pd.concat([total, temp]) # 전체 DF에 추가

total.to_csv("data/total.csv")
print("1분봉 엑셀 data 취합 완료")

c:\Users\tj\anaconda3\envs\project\lib\site-packages\IPython\core\interactiveshell.py:3257: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1분봉 엑셀 data 취합 완료

In [5]:
data = pd.read_csv('data/total.csv')
data

c:\Users\tj\anaconda3\envs\project\lib\site-packages\IPython\core\interactiveshell.py:3257: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,Unnamed: 0.1,Unnamed: 0.1.1,"date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract"
0,0,20230630.0,1530.0,6300.0,6300.0,6300.0,6300.0,1797.0,46711.0,29214.0,NaN,NaN,NaN
1,1,20230630.0,1520.0,6310.0,6320.0,6300.0,6300.0,838.0,46711.0,28636.0,NaN,NaN,NaN
2,2,20230630.0,1519.0,6320.0,6320.0,6310.0,6310.0,900.0,45973.0,28536.0,NaN,NaN,NaN
3,3,20230630.0,1518.0,6320.0,6320.0,6320.0,6320.0,100.0,45673.0,27936.0,NaN,NaN,NaN
4,4,20230630.0,1517.0,6320.0,6320.0,6320.0,6320.0,20.0,45673.0,27836.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16700017,11133343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5566669.0,106538.0,"20220204,905,22800,23100,22400,22550,128160,73..."
16700018,11133344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5566670.0,106539.0,"20220204,904,23300,24000,22700,22850,287873,63..."
16700019,11133345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5566671.0,106540.0,"20220204,903,22550,23750,22500,23300,277563,48..."
16700020,11133346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5566672.0,106541.0,"20220204,902,22400,22650,22200,22550,160339,35..."
16700021,11133347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5566673.0,106542.0,"20220204,901,23450,24000,22100,22400,816839,27..."

In [ ]:
# 위에 코드로 돌렸을 때 너무 오래 걸리면 사용할 예정

import pandas as pd
import os
 
minute_candles = os.listdir('C:/Users/User/Desktop/concat')
dir_1 = 'C:/Users/User/Desktop/concat'
dir_2 = r'C:/Users/User/Desktop/concat/minute_bong.xlsx'
 
for i in range(len(minute_candles)):
    minute_candles[i] = pd.read_excel(dir_1 + "/" + minute_candles[i], engine='xlrd')
 
    minute_candles[i] = minute_candles[i][0:601] 
 
minute_candles_total = pd.concat(minute_candles)
 
if not os.path.exists(dir_2):
    with pd.ExcelWriter(dir_2, mode='w', engine='openpyxl') as writer:
        minute_candles_total.to_excel(writer, index=False, sheet_name='Sheet1')

print("1분봉 엑셀 취합 완료")