In [1]:
import requests
from bs4 import BeautifulSoup
import bs4.element
import datetime
import warnings
warnings.filterwarnings('ignore')
import re
import pandas as pd
import time
from datetime import datetime

In [2]:
import pymysql
conn = pymysql.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8'
)
cur = conn.cursor()

In [7]:
news_df = pd.DataFrame(
    data=[{'date':'20230706', 'title':'test1', 'link':'test1', 'content':'test1'}, {'date':'20230706', 'title':'test2', 'link':'test2', 'content':'test2'}, {'date':'20230706', 'title':'test2', 'link':'test2', 'content':'test2'}],
    columns=['date','title','link','content']
)

In [8]:
news_df.head()

       date  title   link content
0  20230706  test1  test1   test1
1  20230706  test2  test2   test2
2  20230706  test2  test2   test2

In [9]:
NewsDate = news_df['date'].to_list()
NewsTItle = news_df['title'].to_list()
NewsUrl = news_df['link'].to_list()
NewsContent = news_df['content'].to_list()

In [10]:
for date,title,url,content in zip(NewsDate, NewsTItle, NewsUrl, NewsContent):
    sql = "INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES (%s, %s, %s, %s)" % ("'"+date+"'", "'"+title+"'", "'"+url+"'", "'"+content+"'")
    print(sql)
    cur.execute(sql)
conn.commit()
conn.close()

INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES ('20230706', 'test1', 'test1', 'test1')
INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES ('20230706', 'test2', 'test2', 'test2')
INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES ('20230706', 'test2', 'test2', 'test2')