In [1]:
import pythoncom
import win32com.client as winAPI
import time

In [2]:
import pymysql
conn = pymysql.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8'
)
cur = conn.cursor()

In [3]:
STAND_BY = 0
RECEIVED = 1


class XASessionEvents:
    login_state = STAND_BY

    def OnLogin(self, code, msg):
        XASessionEvents.login_state = RECEIVED
        print(msg)

    def OnDisconnect(self, code, msg):
        pass


class XAQueryEvents:
    query_state = STAND_BY

    def OnReceiveData(self, code):
        XAQueryEvents.query_state = RECEIVED

    def OnReceiveMessage(self, error, nMessageCode, szMessage):
        print(szMessage)

In [4]:
import datetime
import time

SERVER_PORT = 20001
SHOW_CERTIFICATE_ERROR_DIALOG = False
REPEATED_DATA_QUERY = 1
TRANSACTION_REQUEST_EXCESS = -21
TODAY = datetime.datetime.now().strftime('%Y%m%d')

if __name__ == "__main__":
    id = "ssuyan"
    password = "tndus1!!"
    certificate_password = "qkrtndus1!!"
    xa_session = winAPI.DispatchWithEvents("XA_Session.XASession", XASessionEvents)

    # demo.ebestsec.co.kr => 모의투자 
    # hts.ebestsec.co.kr => 실투자
    xa_session.ConnectServer("hts.ebestsec.co.kr", SERVER_PORT)
    xa_session.Login(id, password, certificate_password, SERVER_PORT, SHOW_CERTIFICATE_ERROR_DIALOG)

    while XASessionEvents.login_state is STAND_BY:
        pythoncom.PumpWaitingMessages()
    XASessionEvents.login_state = STAND_BY

로그인 성공

In [5]:
TR = "t1310"
xa_query = winAPI.DispatchWithEvents("XA_DataSet.XAQuery", XAQueryEvents)
xa_query.ResFileName = "C:\\eBEST\\xingAPI\\Res\\" + TR + ".res"

xa_query.SetFieldData("t1310InBlock", "timegb", 0, 1)

while True:
    ret = xa_query.Request(False)
    """ Receiving error message, keep requesting until accepted """
    if ret is TRANSACTION_REQUEST_EXCESS:  # -34
        time.sleep(0.8)
    else:
        break
""" Wait window's event message """
while XAQueryEvents.query_state is STAND_BY:
    pythoncom.PumpWaitingMessages()
XAQueryEvents.query_state = STAND_BY

조회처리시 오류가 발생했습니다.

In [6]:
import win32com.client
import pythoncom
import time
import pandas as pd
import numpy as np

list = []
ebset_df = pd.DataFrame(columns=['종목코드', '시간', '현재가', '체결수량', '거래량', '매도체결수량', '매수체결수량'])

class XQuery_t1310:
    def __init__(self):
        super().__init__()
        self.is_data_received = False

    def OnReceiveData(self, tr_code):
        """
        이베스트 서버에서 ReceiveData 이벤트 받으면 실행되는 event handler
        """
        self.is_data_received = True
        stockcode = self.GetFieldData("t1310OutBlock1", "shcode", 0)
        chetime = self.GetFieldData("t1310OutBlock1", "chetime", 0)
        price = self.GetFieldData("t1310OutBlock1", "price", 0)
        cvolume = self.GetFieldData("t1310OutBlock1", "cvolume", 0)
        volume = self.GetFieldData("t1310OutBlock1", "volume", 0)
        mdvolume = self.GetFieldData("t1310OutBlock1", "mdvolume", 0)
        msvolume = self.GetFieldData("t1310OutBlock1", "msvolume", 0)
        print("종목코드;{0}, 시간;{1}, 현재가;{2}, 체결수량;{3}, 거래량;{4}, 매도체결수량;{5}, 매수체결수량;{6}".format(stockcode, chetime, price, cvolume, volume, mdvolume, msvolume))

        print("TR code => {0}".format(tr_code))

        list.append([stockcode, chetime, price, cvolume, volume, mdvolume, msvolume])
        app_df = pd.DataFrame(data=list, columns=['종목코드', '시간', '현재가', '체결수량', '거래량', '매도체결수량', '매수체결수량'])
        df = pd.concat([ebset_df,app_df], ignore_index=True)
        print(df)

        StockCode = df['종목코드'].to_list()
        CheTime = df['시간'].to_list()
        Price = df['현재가'].to_list()
        CVolume = df['체결수량'].to_list()
        Volume = df['거래량'].to_list()
        MdVolume = df['매도체결수량'].to_list()
        MsVolume = df['매수체결수량'].to_list()
        print(StockCode)
        for stockcode, chetime, price, cvolume, volume, mdvolume, msvolume in zip(StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume):
            sql = "INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES (%s, %s, %s, %s, %s, %s, %s)" % ("'"+str(stockcode)+"'", "'"+str(chetime)+"'", "'"+str(price)+"'", "'"+str(cvolume)+"'","'"+str(volume)+"'","'"+str(mdvolume)+"'","'"+str(msvolume)+"'")
            print(sql)
            cur.execute(sql)
        conn.commit()

    def request(self):
    # 매수 매도 체결 수량 컬럼추가

        """
        이베스트 서버에 일회성 TR data 요청함.
        """
        self.ResFileName = "C:\\eBEST\\xingAPI\\Res\\t1310.res"  # RES 파일 등록
        self.SetFieldData("t1310InBlock", "shcode", 0, "012450")  # 한화에어로스페이스
        err_code = self.Request(False)  # data 요청하기 --  연속조회인경우만 True

        if err_code < 0:
            print("error... {0}".format(err_code)) # data 요청하기 --  연속조회인경우만 True

    @classmethod
    def get_instance(cls):
        xq_t1310 = win32com.client.DispatchWithEvents("XA_DataSet.XAQuery", cls)
        return xq_t1310

list = []
ebset_df = pd.DataFrame(columns=['종목코드', '시간', '현재가', '체결수량', '거래량', '매도체결수량', '매수체결수량'])

class XReal_S3_:
    def __init__(self):
        super().__init__()
        self.count = 0

    def OnReceiveRealData(self, tr_code):  # event handler
        """
        이베스트 서버에서 ReceiveRealData 이벤트 받으면 실행되는 event handler
        """
        self.count += 1
        stockcode = self.GetFieldData("OutBlock", "shcode")
        chetime = self.GetFieldData("OutBlock", "chetime")
        price = self.GetFieldData("OutBlock", "price")
        cvolume = self.GetFieldData("OutBlock", "cvolume")
        volume = self.GetFieldData("OutBlock", "volume")
        mdvolume = self.GetFieldData("OutBlock", "mdvolume")
        msvolume = self.GetFieldData("OutBlock", "msvolume")
        print("종목코드;{0}, 시간;{1}, 현재가;{2}, 체결수량;{3}, 거래량;{4}, 매도체결수량;{5}, 매수체결수량;{6}".format(stockcode, chetime, price, cvolume, volume, mdvolume, msvolume))
        print(self.count, stockcode, chetime, price, cvolume, volume, mdvolume, msvolume)
        
        list.append([stockcode, chetime, price, cvolume, volume, mdvolume, msvolume])
        app_df = pd.DataFrame(data=list, columns=['종목코드', '시간', '현재가', '체결수량', '거래량', '매도체결수량', '매수체결수량'])
        df = pd.concat([ebset_df,app_df], ignore_index=True)
        print(df)

        StockCode = df['종목코드'].to_list()
        CheTime = df['시간'].to_list()
        Price = df['현재가'].to_list()
        CVolume = df['체결수량'].to_list()
        Volume = df['거래량'].to_list()
        MdVolume = df['매도체결수량'].to_list()
        MsVolume = df['매수체결수량'].to_list()
        print(StockCode)
        
        for stockcode, chetime, price, cvolume, volume, mdvolume, msvolume in zip(StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume):
            sql = "INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES (%s, %s, %s, %s, %s, %s, %s)" % ("'"+str(stockcode)+"'", "'"+str(chetime)+"'", "'"+str(price)+"'", "'"+str(cvolume)+"'","'"+str(volume)+"'","'"+str(mdvolume)+"'","'"+str(msvolume)+"'")
            print(sql)
            cur.execute(sql)
        conn.commit()

    def start(self):
        """
        이베스트 서버에 실시간 data 요청함.
        """
        self.ResFileName = "C:\\eBEST\\xingAPI\\Res\\S3_.res"  # RES 파일 등록
        self.SetFieldData("InBlock", "shcode", "012450")
        self.AdviseRealData()   # 실시간데이터 요청

    def add_item(self, stockcode):
        # 실시간데이터 요청 종목 추가
        self.SetFieldData("InBlock", "shcode", stockcode)
        self.AdviseRealData()

    def remove_item(self, stockcode):
        # stockcode 종목만 실시간데이터 요청 취소
        self.UnadviseRealDataWithKey(stockcode)

    def end(self):
        self.UnadviseRealData()  # 실시간데이터 요청 모두 취소

    @classmethod
    def get_instance(cls):
        xreal = win32com.client.DispatchWithEvents("XA_DataSet.XAReal", cls)
        return xreal



if __name__ == "__main__":
    def get_single_data():
        xq_t1310 = XQuery_t1310.get_instance()
        xq_t1310.request()

        while xq_t1310.is_data_received == False:
            pythoncom.PumpWaitingMessages()


    def get_real_data():
        xreal = XReal_S3_.get_instance()
        xreal.start()

        while True:
            pythoncom.PumpWaitingMessages()
            xreal.add_item("012450")  # 한화에어로스페이스 주식

    # get_single_data()
    get_real_data()

종목코드;012450, 시간;090012, 현재가;138100, 체결수량;109, 거래량;6064, 매도체결수량;388, 매수체결수량;585
1 012450 090012 138100 109 6064 388 585
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
['012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090012, 현재가;138100, 체결수량;40, 거래량;6104, 매도체결수량;428, 매수체결수량;585
2 012450 090012 138100 40 6104 428 585
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
['012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
종목코드;012450, 시간;090012, 현재가;138300, 체결수량;4, 거래량;6108, 매도체결수량;428, 매수체결수량;589
3 012450 090012 138300 4 6108 428 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
['012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
종목코드;012450, 시간;090012, 현재가;138100, 체결수량;16, 거래량;6124, 매도체결수량;444, 매수체결수량;589
4 012450 090012 138100 16 6124 444 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
3  012450  090012  138100   16  6124    444    589
['012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;4, 거래량;6128, 매도체결수량;448, 매수체결수량;589
5 012450 090013 138000 4 6128 448 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
3  012450  090012  138100   16  6124    444    589
4  012450  090013  138000    4  6128    448    589
['012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;1, 거래량;6129, 매도체결수량;449, 매수체결수량;589
6 012450 090013 138000 1 6129 449 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
3  012450  090012  138100   16  6124    444    589
4  012450  090013  138000    4  6128    448    589
5  012450  090013  138000    1  6129    449    589
['012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6129', '449', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;5, 거래량;6134, 매도체결수량;454, 매수체결수량;589
7 012450 090013 138000 5 6134 454 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
3  012450  090012  138100   16  6124    444    589
4  012450  090013  138000    4  6128    448    589
5  012450  090013  138000    1  6129    449    589
6  012450  090013  138000    5  6134    454    589
['012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6129', '449', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '5', '6134', '454', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;10, 거래량;6144, 매도체결수량;464, 매수체결수량;589
8 012450 090013 138000 10 6144 464 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
3  012450  090012  138100   16  6124    444    589
4  012450  090013  138000    4  6128    448    589
5  012450  090013  138000    1  6129    449    589
6  012450  090013  138000    5  6134    454    589
7  012450  090013  138000   10  6144    464    589
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6129', '449', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '5', '6134', '454', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '10', '6144', '464', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;1, 거래량;6145, 매도체결수량;465, 매수체결수량;589
9 012450 090013 138000 1 6145 465 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
3  012450  090012  138100   16  6124    444    589
4  012450  090013  138000    4  6128    448    589
5  012450  090013  138000    1  6129    449    589
6  012450  090013  138000    5  6134    454    589
7  012450  090013  138000   10  6144    464    589
8  012450  090013  138000    1  6145    465    589
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6129', '449', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '5', '6134', '454', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '10', '6144', '464', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6145', '465', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;1, 거래량;6146, 매도체결수량;466, 매수체결수량;589
10 012450 090013 138000 1 6146 466 589
     종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0  012450  090012  138100  109  6064    388    585
1  012450  090012  138100   40  6104    428    585
2  012450  090012  138300    4  6108    428    589
3  012450  090012  138100   16  6124    444    589
4  012450  090013  138000    4  6128    448    589
5  012450  090013  138000    1  6129    449    589
6  012450  090013  138000    5  6134    454    589
7  012450  090013  138000   10  6144    464    589
8  012450  090013  138000    1  6145    465    589
9  012450  090013  138000    1  6146    466    589
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6129', '449', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '5', '6134', '454', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '10', '6144', '464', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6145', '465', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6146', '466', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;2, 거래량;6148, 매도체결수량;468, 매수체결수량;589
11 012450 090013 138000 2 6148 468 589
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
5   012450  090013  138000    1  6129    449    589
6   012450  090013  138000    5  6134    454    589
7   012450  090013  138000   10  6144    464    589
8   012450  090013  138000    1  6145    465    589
9   012450  090013  138000    1  6146    466    589
10  012450  090013  138000    2  6148    468    589
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6129', '449', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '5', '6134', '454', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '10', '6144', '464', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6145', '465', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6146', '466', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '2', '6148', '468', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;2, 거래량;6150, 매도체결수량;470, 매수체결수량;589
12 012450 090013 138000 2 6150 470 589
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
5   012450  090013  138000    1  6129    449    589
6   012450  090013  138000    5  6134    454    589
7   012450  090013  138000   10  6144    464    589
8   012450  090013  138000    1  6145    465    589
9   012450  090013  138000    1  6146    466    589
10  012450  090013  138000    2  6148    468    589
11  012450  090013  138000    2  6150    470    589
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '40', '6104', '428', '585')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138300', '4', '6108', '428', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '16', '6124', '444', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '4', '6128', '448', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6129', '449', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '5', '6134', '454', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '10', '6144', '464', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6145', '465', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '1', '6146', '466', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '2', '6148', '468', '589')
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090013', '138000', '2', '6150', '470', '589')
종목코드;012450, 시간;090013, 현재가;138000, 체결수량;3, 거래량;6153, 매도체결수량;473, 매수체결수량;589
13 012450 090013 138000 3 6153 473 589
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
5   012450  090013  138000    1  6129    449    589
6   012450  090013  138000    5  6134    454    589
7   012450  090013  138000   10  6144    464    589
8   012450  090013  138000    1  6145    465    589
9   012450  090013  138000    1  6146    466    589
10  012450  090013  138000    2  6148    468    589
11  012450  090013  138000    2  6150    470    589
12  012450  090013  138000    3  6153    473    589

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 558, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 822, in _read_query_result
    result.read()
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 1200, in read
    first_packet = self.connection._read_packet()
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 739, in _read_packet
    packet_header = self._read_bytes(4)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 787, in _read_bytes
    f"Lost connection to MySQL server during query ({e})",
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query ([WinError 10053] 현재 연결은 사용자의 호스트 시스템의 소프트웨어의 의해 중단되었습니다)')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

종목코드;012450, 시간;090058, 현재가;138000, 체결수량;123, 거래량;7249, 매도체결수량;1209, 매수체결수량;949
68 012450 090058 138000 123 7249 1209 949
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
63  012450  090054  138000    4  7079   1039    949
64  012450  090054  138000   10  7089   1049    949
65  012450  090054  138000   30  7119   1079    949
66  012450  090055  138000    7  7126   1086    949
67  012450  090058  138000  123  7249   1209    949

[68 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090058, 현재가;138000, 체결수량;53, 거래량;7302, 매도체결수량;1262, 매수체결수량;949
69 012450 090058 138000 53 7302 1262 949
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
64  012450  090054  138000   10  7089   1049    949
65  012450  090054  138000   30  7119   1079    949
66  012450  090055  138000    7  7126   1086    949
67  012450  090058  138000  123  7249   1209    949
68  012450  090058  138000   53  7302   1262    949

[69 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090059, 현재가;138000, 체결수량;1, 거래량;7303, 매도체결수량;1263, 매수체결수량;949
70 012450 090059 138000 1 7303 1263 949
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
65  012450  090054  138000   30  7119   1079    949
66  012450  090055  138000    7  7126   1086    949
67  012450  090058  138000  123  7249   1209    949
68  012450  090058  138000   53  7302   1262    949
69  012450  090059  138000    1  7303   1263    949

[70 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090059, 현재가;138000, 체결수량;1, 거래량;7304, 매도체결수량;1264, 매수체결수량;949
71 012450 090059 138000 1 7304 1264 949
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
66  012450  090055  138000    7  7126   1086    949
67  012450  090058  138000  123  7249   1209    949
68  012450  090058  138000   53  7302   1262    949
69  012450  090059  138000    1  7303   1263    949
70  012450  090059  138000    1  7304   1264    949

[71 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090100, 현재가;138000, 체결수량;20, 거래량;7324, 매도체결수량;1284, 매수체결수량;949
72 012450 090100 138000 20 7324 1284 949
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
67  012450  090058  138000  123  7249   1209    949
68  012450  090058  138000   53  7302   1262    949
69  012450  090059  138000    1  7303   1263    949
70  012450  090059  138000    1  7304   1264    949
71  012450  090100  138000   20  7324   1284    949

[72 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090100, 현재가;138100, 체결수량;5, 거래량;7329, 매도체결수량;1284, 매수체결수량;954
73 012450 090100 138100 5 7329 1284 954
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
68  012450  090058  138000   53  7302   1262    949
69  012450  090059  138000    1  7303   1263    949
70  012450  090059  138000    1  7304   1264    949
71  012450  090100  138000   20  7324   1284    949
72  012450  090100  138100    5  7329   1284    954

[73 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090100, 현재가;138000, 체결수량;21, 거래량;7350, 매도체결수량;1305, 매수체결수량;954
74 012450 090100 138000 21 7350 1305 954
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
69  012450  090059  138000    1  7303   1263    949
70  012450  090059  138000    1  7304   1264    949
71  012450  090100  138000   20  7324   1284    949
72  012450  090100  138100    5  7329   1284    954
73  012450  090100  138000   21  7350   1305    954

[74 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090104, 현재가;138100, 체결수량;8, 거래량;7358, 매도체결수량;1305, 매수체결수량;962
75 012450 090104 138100 8 7358 1305 962
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
70  012450  090059  138000    1  7304   1264    949
71  012450  090100  138000   20  7324   1284    949
72  012450  090100  138100    5  7329   1284    954
73  012450  090100  138000   21  7350   1305    954
74  012450  090104  138100    8  7358   1305    962

[75 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090106, 현재가;138000, 체결수량;24, 거래량;7382, 매도체결수량;1329, 매수체결수량;962
76 012450 090106 138000 24 7382 1329 962
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
71  012450  090100  138000   20  7324   1284    949
72  012450  090100  138100    5  7329   1284    954
73  012450  090100  138000   21  7350   1305    954
74  012450  090104  138100    8  7358   1305    962
75  012450  090106  138000   24  7382   1329    962

[76 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090107, 현재가;137900, 체결수량;5, 거래량;7387, 매도체결수량;1334, 매수체결수량;962
77 012450 090107 137900 5 7387 1334 962
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
72  012450  090100  138100    5  7329   1284    954
73  012450  090100  138000   21  7350   1305    954
74  012450  090104  138100    8  7358   1305    962
75  012450  090106  138000   24  7382   1329    962
76  012450  090107  137900    5  7387   1334    962

[77 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090107, 현재가;138000, 체결수량;100, 거래량;7487, 매도체결수량;1334, 매수체결수량;1062
78 012450 090107 138000 100 7487 1334 1062
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
73  012450  090100  138000   21  7350   1305    954
74  012450  090104  138100    8  7358   1305    962
75  012450  090106  138000   24  7382   1329    962
76  012450  090107  137900    5  7387   1334    962
77  012450  090107  138000  100  7487   1334   1062

[78 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

종목코드;012450, 시간;090107, 현재가;138000, 체결수량;20, 거래량;7507, 매도체결수량;1334, 매수체결수량;1082
79 012450 090107 138000 20 7507 1334 1082
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
74  012450  090104  138100    8  7358   1305    962
75  012450  090106  138000   24  7382   1329    962
76  012450  090107  137900    5  7387   1334    962
77  012450  090107  138000  100  7487   1334   1062
78  012450  090107  138000   20  7507   1334   1082

[79 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090107, 현재가;137900, 체결수량;20, 거래량;7527, 매도체결수량;1354, 매수체결수량;1082
80 012450 090107 137900 20 7527 1354 1082
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
75  012450  090106  138000   24  7382   1329    962
76  012450  090107  137900    5  7387   1334    962
77  012450  090107  138000  100  7487   1334   1062
78  012450  090107  138000   20  7507   1334   1082
79  012450  090107  137900   20  7527   1354   1082

[80 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090108, 현재가;138000, 체결수량;2, 거래량;7529, 매도체결수량;1354, 매수체결수량;1084
81 012450 090108 138000 2 7529 1354 1084
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
76  012450  090107  137900    5  7387   1334    962
77  012450  090107  138000  100  7487   1334   1062
78  012450  090107  138000   20  7507   1334   1082
79  012450  090107  137900   20  7527   1354   1082
80  012450  090108  138000    2  7529   1354   1084

[81 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;1, 거래량;7530, 매도체결수량;1354, 매수체결수량;1085
82 012450 090109 138000 1 7530 1354 1085
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
77  012450  090107  138000  100  7487   1334   1062
78  012450  090107  138000   20  7507   1334   1082
79  012450  090107  137900   20  7527   1354   1082
80  012450  090108  138000    2  7529   1354   1084
81  012450  090109  138000    1  7530   1354   1085

[82 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090109, 현재가;138000, 체결수량;2, 거래량;7532, 매도체결수량;1354, 매수체결수량;1087
83 012450 090109 138000 2 7532 1354 1087
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
78  012450  090107  138000   20  7507   1334   1082
79  012450  090107  137900   20  7527   1354   1082
80  012450  090108  138000    2  7529   1354   1084
81  012450  090109  138000    1  7530   1354   1085
82  012450  090109  138000    2  7532   1354   1087

[83 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;8, 거래량;7540, 매도체결수량;1354, 매수체결수량;1095
84 012450 090109 138000 8 7540 1354 1095
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
79  012450  090107  137900   20  7527   1354   1082
80  012450  090108  138000    2  7529   1354   1084
81  012450  090109  138000    1  7530   1354   1085
82  012450  090109  138000    2  7532   1354   1087
83  012450  090109  138000    8  7540   1354   1095

[84 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;10, 거래량;7550, 매도체결수량;1354, 매수체결수량;1105
85 012450 090109 138000 10 7550 1354 1105
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
80  012450  090108  138000    2  7529   1354   1084
81  012450  090109  138000    1  7530   1354   1085
82  012450  090109  138000    2  7532   1354   1087
83  012450  090109  138000    8  7540   1354   1095
84  012450  090109  138000   10  7550   1354   1105

[85 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;10, 거래량;7560, 매도체결수량;1354, 매수체결수량;1115
86 012450 090109 138000 10 7560 1354 1115
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
81  012450  090109  138000    1  7530   1354   1085
82  012450  090109  138000    2  7532   1354   1087
83  012450  090109  138000    8  7540   1354   1095
84  012450  090109  138000   10  7550   1354   1105
85  012450  090109  138000   10  7560   1354   1115

[86 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

종목코드;012450, 시간;090109, 현재가;138000, 체결수량;10, 거래량;7570, 매도체결수량;1354, 매수체결수량;1125
87 012450 090109 138000 10 7570 1354 1125
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
82  012450  090109  138000    2  7532   1354   1087
83  012450  090109  138000    8  7540   1354   1095
84  012450  090109  138000   10  7550   1354   1105
85  012450  090109  138000   10  7560   1354   1115
86  012450  090109  138000   10  7570   1354   1125

[87 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;4, 거래량;7574, 매도체결수량;1354, 매수체결수량;1129
88 012450 090109 138000 4 7574 1354 1129
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
83  012450  090109  138000    8  7540   1354   1095
84  012450  090109  138000   10  7550   1354   1105
85  012450  090109  138000   10  7560   1354   1115
86  012450  090109  138000   10  7570   1354   1125
87  012450  090109  138000    4  7574   1354   1129

[88 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;6, 거래량;7580, 매도체결수량;1354, 매수체결수량;1135
89 012450 090109 138000 6 7580 1354 1135
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
84  012450  090109  138000   10  7550   1354   1105
85  012450  090109  138000   10  7560   1354   1115
86  012450  090109  138000   10  7570   1354   1125
87  012450  090109  138000    4  7574   1354   1129
88  012450  090109  138000    6  7580   1354   1135

[89 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;20, 거래량;7600, 매도체결수량;1354, 매수체결수량;1155
90 012450 090109 138000 20 7600 1354 1155
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
85  012450  090109  138000   10  7560   1354   1115
86  012450  090109  138000   10  7570   1354   1125
87  012450  090109  138000    4  7574   1354   1129
88  012450  090109  138000    6  7580   1354   1135
89  012450  090109  138000   20  7600   1354   1155

[90 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;10, 거래량;7610, 매도체결수량;1354, 매수체결수량;1165
91 012450 090109 138000 10 7610 1354 1165
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
86  012450  090109  138000   10  7570   1354   1125
87  012450  090109  138000    4  7574   1354   1129
88  012450  090109  138000    6  7580   1354   1135
89  012450  090109  138000   20  7600   1354   1155
90  012450  090109  138000   10  7610   1354   1165

[91 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;50, 거래량;7660, 매도체결수량;1354, 매수체결수량;1215
92 012450 090109 138000 50 7660 1354 1215
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
87  012450  090109  138000    4  7574   1354   1129
88  012450  090109  138000    6  7580   1354   1135
89  012450  090109  138000   20  7600   1354   1155
90  012450  090109  138000   10  7610   1354   1165
91  012450  090109  138000   50  7660   1354   1215

[92 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090109, 현재가;138000, 체결수량;50, 거래량;7710, 매도체결수량;1354, 매수체결수량;1265
93 012450 090109 138000 50 7710 1354 1265
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
88  012450  090109  138000    6  7580   1354   1135
89  012450  090109  138000   20  7600   1354   1155
90  012450  090109  138000   10  7610   1354   1165
91  012450  090109  138000   50  7660   1354   1215
92  012450  090109  138000   50  7710   1354   1265

[93 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138000, 체결수량;26, 거래량;7736, 매도체결수량;1354, 매수체결수량;1291
94 012450 090109 138000 26 7736 1354 1291
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
89  012450  090109  138000   20  7600   1354   1155
90  012450  090109  138000   10  7610   1354   1165
91  012450  090109  138000   50  7660   1354   1215
92  012450  090109  138000   50  7710   1354   1265
93  012450  090109  138000   26  7736   1354   1291

[94 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138100, 체결수량;10, 거래량;7746, 매도체결수량;1354, 매수체결수량;1301
95 012450 090109 138100 10 7746 1354 1301
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
90  012450  090109  138000   10  7610   1354   1165
91  012450  090109  138000   50  7660   1354   1215
92  012450  090109  138000   50  7710   1354   1265
93  012450  090109  138000   26  7736   1354   1291
94  012450  090109  138100   10  7746   1354   1301

[95 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138100, 체결수량;5, 거래량;7751, 매도체결수량;1354, 매수체결수량;1306
96 012450 090109 138100 5 7751 1354 1306
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
91  012450  090109  138000   50  7660   1354   1215
92  012450  090109  138000   50  7710   1354   1265
93  012450  090109  138000   26  7736   1354   1291
94  012450  090109  138100   10  7746   1354   1301
95  012450  090109  138100    5  7751   1354   1306

[96 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138100, 체결수량;5, 거래량;7756, 매도체결수량;1354, 매수체결수량;1311
97 012450 090109 138100 5 7756 1354 1311
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
92  012450  090109  138000   50  7710   1354   1265
93  012450  090109  138000   26  7736   1354   1291
94  012450  090109  138100   10  7746   1354   1301
95  012450  090109  138100    5  7751   1354   1306
96  012450  090109  138100    5  7756   1354   1311

[97 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138100, 체결수량;5, 거래량;7761, 매도체결수량;1354, 매수체결수량;1316
98 012450 090109 138100 5 7761 1354 1316
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
93  012450  090109  138000   26  7736   1354   1291
94  012450  090109  138100   10  7746   1354   1301
95  012450  090109  138100    5  7751   1354   1306
96  012450  090109  138100    5  7756   1354   1311
97  012450  090109  138100    5  7761   1354   1316

[98 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138100, 체결수량;5, 거래량;7766, 매도체결수량;1354, 매수체결수량;1321
99 012450 090109 138100 5 7766 1354 1321
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
94  012450  090109  138100   10  7746   1354   1301
95  012450  090109  138100    5  7751   1354   1306
96  012450  090109  138100    5  7756   1354   1311
97  012450  090109  138100    5  7761   1354   1316
98  012450  090109  138100    5  7766   1354   1321

[99 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138100, 체결수량;20, 거래량;7786, 매도체결수량;1354, 매수체결수량;1341
100 012450 090109 138100 20 7786 1354 1341
      종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0   012450  090012  138100  109  6064    388    585
1   012450  090012  138100   40  6104    428    585
2   012450  090012  138300    4  6108    428    589
3   012450  090012  138100   16  6124    444    589
4   012450  090013  138000    4  6128    448    589
..     ...     ...     ...  ...   ...    ...    ...
95  012450  090109  138100    5  7751   1354   1306
96  012450  090109  138100    5  7756   1354   1311
97  012450  090109  138100    5  7761   1354   1316
98  012450  090109  138100    5  7766   1354   1321
99  012450  090109  138100   20  7786   1354   1341

[100 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090109, 현재가;138100, 체결수량;50, 거래량;7836, 매도체결수량;1354, 매수체결수량;1391
101 012450 090109 138100 50 7836 1354 1391
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
96   012450  090109  138100    5  7756   1354   1311
97   012450  090109  138100    5  7761   1354   1316
98   012450  090109  138100    5  7766   1354   1321
99   012450  090109  138100   20  7786   1354   1341
100  012450  090109  138100   50  7836   1354   1391

[101 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138000, 체결수량;39, 거래량;7875, 매도체결수량;1393, 매수체결수량;1391
102 012450 090110 138000 39 7875 1393 1391
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
97   012450  090109  138100    5  7761   1354   1316
98   012450  090109  138100    5  7766   1354   1321
99   012450  090109  138100   20  7786   1354   1341
100  012450  090109  138100   50  7836   1354   1391
101  012450  090110  138000   39  7875   1393   1391

[102 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138000, 체결수량;8, 거래량;7883, 매도체결수량;1401, 매수체결수량;1391
103 012450 090110 138000 8 7883 1401 1391
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
98   012450  090109  138100    5  7766   1354   1321
99   012450  090109  138100   20  7786   1354   1341
100  012450  090109  138100   50  7836   1354   1391
101  012450  090110  138000   39  7875   1393   1391
102  012450  090110  138000    8  7883   1401   1391

[103 rows x 7 columns]

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
100  012450  090109  138100   50  7836   1354   1391
101  012450  090110  138000   39  7875   1393   1391
102  012450  090110  138000    8  7883   1401   1391
103  012450  090110  138100   40  7923   1401   1431
104  012450  090110  138100    9  7932   1401   1440

[105 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;3, 거래량;7935, 매도체결수량;1401, 매수체결수량;1443
106 012450 090110 138200 3 7935 1401 1443
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
101  012450  090110  138000   39  7875   1393   1391
102  012450  090110  138000    8  7883   1401   1391
103  012450  090110  138100   40  7923   1401   1431
104  012450  090110  138100    9  7932   1401   1440
105  012450  090110  138200    3  7935   1401   1443

[106 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;7, 거래량;7942, 매도체결수량;1401, 매수체결수량;1450
107 012450 090110 138200 7 7942 1401 1450
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
102  012450  090110  138000    8  7883   1401   1391
103  012450  090110  138100   40  7923   1401   1431
104  012450  090110  138100    9  7932   1401   1440
105  012450  090110  138200    3  7935   1401   1443
106  012450  090110  138200    7  7942   1401   1450

[107 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;3, 거래량;7945, 매도체결수량;1401, 매수체결수량;1453
108 012450 090110 138200 3 7945 1401 1453
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
103  012450  090110  138100   40  7923   1401   1431
104  012450  090110  138100    9  7932   1401   1440
105  012450  090110  138200    3  7935   1401   1443
106  012450  090110  138200    7  7942   1401   1450
107  012450  090110  138200    3  7945   1401   1453

[108 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;2, 거래량;7947, 매도체결수량;1401, 매수체결수량;1455
109 012450 090110 138200 2 7947 1401 1455
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
104  012450  090110  138100    9  7932   1401   1440
105  012450  090110  138200    3  7935   1401   1443
106  012450  090110  138200    7  7942   1401   1450
107  012450  090110  138200    3  7945   1401   1453
108  012450  090110  138200    2  7947   1401   1455

[109 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;5, 거래량;7952, 매도체결수량;1401, 매수체결수량;1460
110 012450 090110 138200 5 7952 1401 1460
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
105  012450  090110  138200    3  7935   1401   1443
106  012450  090110  138200    7  7942   1401   1450
107  012450  090110  138200    3  7945   1401   1453
108  012450  090110  138200    2  7947   1401   1455
109  012450  090110  138200    5  7952   1401   1460

[110 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;7962, 매도체결수량;1401, 매수체결수량;1470
111 012450 090110 138200 10 7962 1401 1470
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
106  012450  090110  138200    7  7942   1401   1450
107  012450  090110  138200    3  7945   1401   1453
108  012450  090110  138200    2  7947   1401   1455
109  012450  090110  138200    5  7952   1401   1460
110  012450  090110  138200   10  7962   1401   1470

[111 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;7972, 매도체결수량;1401, 매수체결수량;1480
112 012450 090110 138200 10 7972 1401 1480

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
107  012450  090110  138200    3  7945   1401   1453
108  012450  090110  138200    2  7947   1401   1455
109  012450  090110  138200    5  7952   1401   1460
110  012450  090110  138200   10  7962   1401   1470
111  012450  090110  138200   10  7972   1401   1480

[112 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;7982, 매도체결수량;1401, 매수체결수량;1490
113 012450 090110 138200 10 7982 1401 1490
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
108  012450  090110  138200    2  7947   1401   1455
109  012450  090110  138200    5  7952   1401   1460
110  012450  090110  138200   10  7962   1401   1470
111  012450  090110  138200   10  7972   1401   1480
112  012450  090110  138200   10  7982   1401   1490

[113 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;7992, 매도체결수량;1401, 매수체결수량;1500
114 012450 090110 138200 10 7992 1401 1500
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
109  012450  090110  138200    5  7952   1401   1460
110  012450  090110  138200   10  7962   1401   1470
111  012450  090110  138200   10  7972   1401   1480
112  012450  090110  138200   10  7982   1401   1490
113  012450  090110  138200   10  7992   1401   1500

[114 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;8002, 매도체결수량;1401, 매수체결수량;1510
115 012450 090110 138200 10 8002 1401 1510
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
110  012450  090110  138200   10  7962   1401   1470
111  012450  090110  138200   10  7972   1401   1480
112  012450  090110  138200   10  7982   1401   1490
113  012450  090110  138200   10  7992   1401   1500
114  012450  090110  138200   10  8002   1401   1510

[115 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;20, 거래량;8022, 매도체결수량;1401, 매수체결수량;1530
116 012450 090110 138200 20 8022 1401 1530
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
111  012450  090110  138200   10  7972   1401   1480
112  012450  090110  138200   10  7982   1401   1490
113  012450  090110  138200   10  7992   1401   1500
114  012450  090110  138200   10  8002   1401   1510
115  012450  090110  138200   20  8022   1401   1530

[116 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;8032, 매도체결수량;1401, 매수체결수량;1540
117 012450 090110 138200 10 8032 1401 1540
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
112  012450  090110  138200   10  7982   1401   1490
113  012450  090110  138200   10  7992   1401   1500
114  012450  090110  138200   10  8002   1401   1510
115  012450  090110  138200   20  8022   1401   1530
116  012450  090110  138200   10  8032   1401   1540

[117 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;8042, 매도체결수량;1401, 매수체결수량;1550
118 012450 090110 138200 10 8042 1401 1550
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
113  012450  090110  138200   10  7992   1401   1500
114  012450  090110  138200   10  8002   1401   1510
115  012450  090110  138200   20  8022   1401   1530
116  012450  090110  138200   10  8032   1401   1540
117  012450  090110  138200   10  8042   1401   1550

[118 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;30, 거래량;8072, 매도체결수량;1401, 매수체결수량;1580
119 012450 090110 138200 30 8072 1401 1580
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
114  012450  090110  138200   10  8002   1401   1510
115  012450  090110  138200   20  8022   1401   1530
116  012450  090110  138200   10  8032   1401   1540
117  012450  090110  138200   10  8042   1401   1550
118  012450  090110  138200   30  8072   1401   1580

[119 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;84, 거래량;8156, 매도체결수량;1401, 매수체결수량;1664
120 012450 090110 138200 84 8156 1401 1664
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
115  012450  090110  138200   20  8022   1401   1530
116  012450  090110  138200   10  8032   1401   1540
117  012450  090110  138200   10  8042   1401   1550
118  012450  090110  138200   30  8072   1401   1580
119  012450  090110  138200   84  8156   1401   1664

[120 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;102, 거래량;8258, 매도체결수량;1401, 매수체결수량;1766
121 012450 090110 138200 102 8258 1401 1766
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
116  012450  090110  138200   10  8032   1401   1540
117  012450  090110  138200   10  8042   1401   1550
118  012450  090110  138200   30  8072   1401   1580
119  012450  090110  138200   84  8156   1401   1664
120  012450  090110  138200  102  8258   1401   1766

[121 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;2, 거래량;8260, 매도체결수량;1401, 매수체결수량;1768
122 012450 090110 138200 2 8260 1401 1768
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
117  012450  090110  138200   10  8042   1401   1550
118  012450  090110  138200   30  8072   1401   1580
119  012450  090110  138200   84  8156   1401   1664
120  012450  090110  138200  102  8258   1401   1766
121  012450  090110  138200    2  8260   1401   1768

[122 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090110, 현재가;138200, 체결수량;30, 거래량;8290, 매도체결수량;1401, 매수체결수량;1798
123 012450 090110 138200 30 8290 1401 1798
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
118  012450  090110  138200   30  8072   1401   1580
119  012450  090110  138200   84  8156   1401   1664
120  012450  090110  138200  102  8258   1401   1766
121  012450  090110  138200    2  8260   1401   1768
122  012450  090110  138200   30  8290   1401   1798

[123 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;10, 거래량;8300, 매도체결수량;1401, 매수체결수량;1808
124 012450 090110 138200 10 8300 1401 1808
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
119  012450  090110  138200   84  8156   1401   1664
120  012450  090110  138200  102  8258   1401   1766
121  012450  090110  138200    2  8260   1401   1768
122  012450  090110  138200   30  8290   1401   1798
123  012450  090110  138200   10  8300   1401   1808

[124 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138200, 체결수량;2, 거래량;8302, 매도체결수량;1401, 매수체결수량;1810
125 012450 090110 138200 2 8302 1401 1810
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
120  012450  090110  138200  102  8258   1401   1766
121  012450  090110  138200    2  8260   1401   1768
122  012450  090110  138200   30  8290   1401   1798
123  012450  090110  138200   10  8300   1401   1808
124  012450  090110  138200    2  8302   1401   1810

[125 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138300, 체결수량;28, 거래량;8330, 매도체결수량;1401, 매수체결수량;1838
126 012450 090110 138300 28 8330 1401 1838
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
121  012450  090110  138200    2  8260   1401   1768
122  012450  090110  138200   30  8290   1401   1798
123  012450  090110  138200   10  8300   1401   1808
124  012450  090110  138200    2  8302   1401   1810
125  012450  090110  138300   28  8330   1401   1838

[126 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138300, 체결수량;459, 거래량;8789, 매도체결수량;1401, 매수체결수량;2297
127 012450 090110 138300 459 8789 1401 2297
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
122  012450  090110  138200   30  8290   1401   1798
123  012450  090110  138200   10  8300   1401   1808
124  012450  090110  138200    2  8302   1401   1810
125  012450  090110  138300   28  8330   1401   1838
126  012450  090110  138300  459  8789   1401   2297

[127 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090110, 현재가;138300, 체결수량;50, 거래량;8839, 매도체결수량;1451, 매수체결수량;2297
128 012450 090110 138300 50 8839 1451 2297
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
123  012450  090110  138200   10  8300   1401   1808
124  012450  090110  138200    2  8302   1401   1810
125  012450  090110  138300   28  8330   1401   1838
126  012450  090110  138300  459  8789   1401   2297
127  012450  090110  138300   50  8839   1451   2297

[128 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090111, 현재가;138400, 체결수량;35, 거래량;8874, 매도체결수량;1451, 매수체결수량;2332
129 012450 090111 138400 35 8874 1451 2332
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
124  012450  090110  138200    2  8302   1401   1810
125  012450  090110  138300   28  8330   1401   1838
126  012450  090110  138300  459  8789   1401   2297
127  012450  090110  138300   50  8839   1451   2297
128  012450  090111  138400   35  8874   1451   2332

[129 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090111, 현재가;138400, 체결수량;5, 거래량;8879, 매도체결수량;1451, 매수체결수량;2337
130 012450 090111 138400 5 8879 1451 2337
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
125  012450  090110  138300   28  8330   1401   1838
126  012450  090110  138300  459  8789   1401   2297
127  012450  090110  138300   50  8839   1451   2297
128  012450  090111  138400   35  8874   1451   2332
129  012450  090111  138400    5  8879   1451   2337

[130 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

종목코드;012450, 시간;090111, 현재가;138400, 체결수량;119, 거래량;8998, 매도체결수량;1570, 매수체결수량;2337
131 012450 090111 138400 119 8998 1570 2337
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
126  012450  090110  138300  459  8789   1401   2297
127  012450  090110  138300   50  8839   1451   2297
128  012450  090111  138400   35  8874   1451   2332
129  012450  090111  138400    5  8879   1451   2337
130  012450  090111  138400  119  8998   1570   2337

[131 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090111, 현재가;138400, 체결수량;5, 거래량;9003, 매도체결수량;1575, 매수체결수량;2337
132 012450 090111 138400 5 9003 1575 2337
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
127  012450  090110  138300   50  8839   1451   2297
128  012450  090111  138400   35  8874   1451   2332
129  012450  090111  138400    5  8879   1451   2337
130  012450  090111  138400  119  8998   1570   2337
131  012450  090111  138400    5  9003   1575   2337

[132 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090112, 현재가;138400, 체결수량;1, 거래량;9004, 매도체결수량;1576, 매수체결수량;2337
133 012450 090112 138400 1 9004 1576 2337
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
128  012450  090111  138400   35  8874   1451   2332
129  012450  090111  138400    5  8879   1451   2337
130  012450  090111  138400  119  8998   1570   2337
131  012450  090111  138400    5  9003   1575   2337
132  012450  090112  138400    1  9004   1576   2337

[133 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090113, 현재가;138400, 체결수량;19, 거래량;9023, 매도체결수량;1595, 매수체결수량;2337
134 012450 090113 138400 19 9023 1595 2337
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
129  012450  090111  138400    5  8879   1451   2337
130  012450  090111  138400  119  8998   1570   2337
131  012450  090111  138400    5  9003   1575   2337
132  012450  090112  138400    1  9004   1576   2337
133  012450  090113  138400   19  9023   1595   2337

[134 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090113, 현재가;138400, 체결수량;5, 거래량;9028, 매도체결수량;1600, 매수체결수량;2337
135 012450 090113 138400 5 9028 1600 2337
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
130  012450  090111  138400  119  8998   1570   2337
131  012450  090111  138400    5  9003   1575   2337
132  012450  090112  138400    1  9004   1576   2337
133  012450  090113  138400   19  9023   1595   2337
134  012450  090113  138400    5  9028   1600   2337

[135 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090114, 현재가;138400, 체결수량;20, 거래량;9048, 매도체결수량;1620, 매수체결수량;2337
136 012450 090114 138400 20 9048 1620 2337

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
131  012450  090111  138400    5  9003   1575   2337
132  012450  090112  138400    1  9004   1576   2337
133  012450  090113  138400   19  9023   1595   2337
134  012450  090113  138400    5  9028   1600   2337
135  012450  090114  138400   20  9048   1620   2337

[136 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090114, 현재가;138400, 체결수량;2, 거래량;9050, 매도체결수량;1622, 매수체결수량;2337
137 012450 090114 138400 2 9050 1622 2337
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
132  012450  090112  138400    1  9004   1576   2337
133  012450  090113  138400   19  9023   1595   2337
134  012450  090113  138400    5  9028   1600   2337
135  012450  090114  138400   20  9048   1620   2337
136  012450  090114  138400    2  9050   1622   2337

[137 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090116, 현재가;138500, 체결수량;1, 거래량;9051, 매도체결수량;1622, 매수체결수량;2338
138 012450 090116 138500 1 9051 1622 2338
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
133  012450  090113  138400   19  9023   1595   2337
134  012450  090113  138400    5  9028   1600   2337
135  012450  090114  138400   20  9048   1620   2337
136  012450  090114  138400    2  9050   1622   2337
137  012450  090116  138500    1  9051   1622   2338

[138 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090120, 현재가;138400, 체결수량;1, 거래량;9052, 매도체결수량;1623, 매수체결수량;2338
139 012450 090120 138400 1 9052 1623 2338
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
134  012450  090113  138400    5  9028   1600   2337
135  012450  090114  138400   20  9048   1620   2337
136  012450  090114  138400    2  9050   1622   2337
137  012450  090116  138500    1  9051   1622   2338
138  012450  090120  138400    1  9052   1623   2338

[139 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090120, 현재가;138400, 체결수량;20, 거래량;9072, 매도체결수량;1643, 매수체결수량;2338
140 012450 090120 138400 20 9072 1643 2338
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
135  012450  090114  138400   20  9048   1620   2337
136  012450  090114  138400    2  9050   1622   2337
137  012450  090116  138500    1  9051   1622   2338
138  012450  090120  138400    1  9052   1623   2338
139  012450  090120  138400   20  9072   1643   2338

[140 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090120, 현재가;138500, 체결수량;3, 거래량;9075, 매도체결수량;1643, 매수체결수량;2341
141 012450 090120 138500 3 9075 1643 2341
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
136  012450  090114  138400    2  9050   1622   2337
137  012450  090116  138500    1  9051   1622   2338
138  012450  090120  138400    1  9052   1623   2338
139  012450  090120  138400   20  9072   1643   2338
140  012450  090120  138500    3  9075   1643   2341

[141 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090121, 현재가;138500, 체결수량;2, 거래량;9077, 매도체결수량;1643, 매수체결수량;2343
142 012450 090121 138500 2 9077 1643 2343

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
137  012450  090116  138500    1  9051   1622   2338
138  012450  090120  138400    1  9052   1623   2338
139  012450  090120  138400   20  9072   1643   2338
140  012450  090120  138500    3  9075   1643   2341
141  012450  090121  138500    2  9077   1643   2343

[142 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090122, 현재가;138500, 체결수량;70, 거래량;9147, 매도체결수량;1643, 매수체결수량;2413
143 012450 090122 138500 70 9147 1643 2413
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
138  012450  090120  138400    1  9052   1623   2338
139  012450  090120  138400   20  9072   1643   2338
140  012450  090120  138500    3  9075   1643   2341
141  012450  090121  138500    2  9077   1643   2343
142  012450  090122  138500   70  9147   1643   2413

[143 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090122, 현재가;138400, 체결수량;90, 거래량;9237, 매도체결수량;1733, 매수체결수량;2413
144 012450 090122 138400 90 9237 1733 2413
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
139  012450  090120  138400   20  9072   1643   2338
140  012450  090120  138500    3  9075   1643   2341
141  012450  090121  138500    2  9077   1643   2343
142  012450  090122  138500   70  9147   1643   2413
143  012450  090122  138400   90  9237   1733   2413

[144 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090123, 현재가;138500, 체결수량;1, 거래량;9238, 매도체결수량;1733, 매수체결수량;2414
145 012450 090123 138500 1 9238 1733 2414
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
140  012450  090120  138500    3  9075   1643   2341
141  012450  090121  138500    2  9077   1643   2343
142  012450  090122  138500   70  9147   1643   2413
143  012450  090122  138400   90  9237   1733   2413
144  012450  090123  138500    1  9238   1733   2414

[145 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090123, 현재가;138400, 체결수량;241, 거래량;9479, 매도체결수량;1974, 매수체결수량;2414
146 012450 090123 138400 241 9479 1974 2414

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
141  012450  090121  138500    2  9077   1643   2343
142  012450  090122  138500   70  9147   1643   2413
143  012450  090122  138400   90  9237   1733   2413
144  012450  090123  138500    1  9238   1733   2414
145  012450  090123  138400  241  9479   1974   2414

[146 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090124, 현재가;138400, 체결수량;10, 거래량;9489, 매도체결수량;1974, 매수체결수량;2424
147 012450 090124 138400 10 9489 1974 2424
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
142  012450  090122  138500   70  9147   1643   2413
143  012450  090122  138400   90  9237   1733   2413
144  012450  090123  138500    1  9238   1733   2414
145  012450  090123  138400  241  9479   1974   2414
146  012450  090124  138400   10  9489   1974   2424

[147 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;41, 거래량;9530, 매도체결수량;1974, 매수체결수량;2465
148 012450 090125 138400 41 9530 1974 2465
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
143  012450  090122  138400   90  9237   1733   2413
144  012450  090123  138500    1  9238   1733   2414
145  012450  090123  138400  241  9479   1974   2414
146  012450  090124  138400   10  9489   1974   2424
147  012450  090125  138400   41  9530   1974   2465

[148 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;193, 거래량;9723, 매도체결수량;1974, 매수체결수량;2658
149 012450 090125 138400 193 9723 1974 2658
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
144  012450  090123  138500    1  9238   1733   2414
145  012450  090123  138400  241  9479   1974   2414
146  012450  090124  138400   10  9489   1974   2424
147  012450  090125  138400   41  9530   1974   2465
148  012450  090125  138400  193  9723   1974   2658

[149 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;17, 거래량;9740, 매도체결수량;1974, 매수체결수량;2675
150 012450 090125 138400 17 9740 1974 2675

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
145  012450  090123  138400  241  9479   1974   2414
146  012450  090124  138400   10  9489   1974   2424
147  012450  090125  138400   41  9530   1974   2465
148  012450  090125  138400  193  9723   1974   2658
149  012450  090125  138400   17  9740   1974   2675

[150 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;41, 거래량;9781, 매도체결수량;2015, 매수체결수량;2675
151 012450 090125 138400 41 9781 2015 2675
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
146  012450  090124  138400   10  9489   1974   2424
147  012450  090125  138400   41  9530   1974   2465
148  012450  090125  138400  193  9723   1974   2658
149  012450  090125  138400   17  9740   1974   2675
150  012450  090125  138400   41  9781   2015   2675

[151 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;29, 거래량;9810, 매도체결수량;2044, 매수체결수량;2675
152 012450 090125 138400 29 9810 2044 2675
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
147  012450  090125  138400   41  9530   1974   2465
148  012450  090125  138400  193  9723   1974   2658
149  012450  090125  138400   17  9740   1974   2675
150  012450  090125  138400   41  9781   2015   2675
151  012450  090125  138400   29  9810   2044   2675

[152 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;100, 거래량;9910, 매도체결수량;2044, 매수체결수량;2775
153 012450 090125 138400 100 9910 2044 2775
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
148  012450  090125  138400  193  9723   1974   2658
149  012450  090125  138400   17  9740   1974   2675
150  012450  090125  138400   41  9781   2015   2675
151  012450  090125  138400   29  9810   2044   2675
152  012450  090125  138400  100  9910   2044   2775

[153 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;50, 거래량;9960, 매도체결수량;2044, 매수체결수량;2825
154 012450 090125 138400 50 9960 2044 2825
       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
149  012450  090125  138400   17  9740   1974   2675
150  012450  090125  138400   41  9781   2015   2675
151  012450  090125  138400   29  9810   2044   2675
152  012450  090125  138400  100  9910   2044   2775
153  012450  090125  138400   50  9960   2044   2825

[154 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;20, 거래량;9980, 매도체결수량;2044, 매수체결수량;2845
155 012450 090125 138400 20 9980 2044 2845

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

       종목코드      시간     현재가 체결수량   거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109  6064    388    585
1    012450  090012  138100   40  6104    428    585
2    012450  090012  138300    4  6108    428    589
3    012450  090012  138100   16  6124    444    589
4    012450  090013  138000    4  6128    448    589
..      ...     ...     ...  ...   ...    ...    ...
150  012450  090125  138400   41  9781   2015   2675
151  012450  090125  138400   29  9810   2044   2675
152  012450  090125  138400  100  9910   2044   2775
153  012450  090125  138400   50  9960   2044   2825
154  012450  090125  138400   20  9980   2044   2845

[155 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;400, 거래량;10380, 매도체결수량;2044, 매수체결수량;3245
156 012450 090125 138400 400 10380 2044 3245
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
151  012450  090125  138400   29   9810   2044   2675
152  012450  090125  138400  100   9910   2044   2775
153  012450  090125  138400   50   9960   2044   2825
154  012450  090125  138400   20   9980   2044   2845
155  012450  090125  138400  400  10380   2044   3245

[156 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;46, 거래량;10426, 매도체결수량;2044, 매수체결수량;3291
157 012450 090125 138400 46 10426 2044 3291
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
152  012450  090125  138400  100   9910   2044   2775
153  012450  090125  138400   50   9960   2044   2825
154  012450  090125  138400   20   9980   2044   2845
155  012450  090125  138400  400  10380   2044   3245
156  012450  090125  138400   46  10426   2044   3291

[157 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;80, 거래량;10506, 매도체결수량;2044, 매수체결수량;3371
158 012450 090125 138400 80 10506 2044 3371
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
153  012450  090125  138400   50   9960   2044   2825
154  012450  090125  138400   20   9980   2044   2845
155  012450  090125  138400  400  10380   2044   3245
156  012450  090125  138400   46  10426   2044   3291
157  012450  090125  138400   80  10506   2044   3371

[158 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;20, 거래량;10526, 매도체결수량;2044, 매수체결수량;3391
159 012450 090125 138400 20 10526 2044 3391
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
154  012450  090125  138400   20   9980   2044   2845
155  012450  090125  138400  400  10380   2044   3245
156  012450  090125  138400   46  10426   2044   3291
157  012450  090125  138400   80  10506   2044   3371
158  012450  090125  138400   20  10526   2044   3391

[159 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;13, 거래량;10539, 매도체결수량;2044, 매수체결수량;3404
160 012450 090125 138400 13 10539 2044 3404

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
155  012450  090125  138400  400  10380   2044   3245
156  012450  090125  138400   46  10426   2044   3291
157  012450  090125  138400   80  10506   2044   3371
158  012450  090125  138400   20  10526   2044   3391
159  012450  090125  138400   13  10539   2044   3404

[160 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;100, 거래량;10639, 매도체결수량;2044, 매수체결수량;3504
161 012450 090125 138400 100 10639 2044 3504
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
156  012450  090125  138400   46  10426   2044   3291
157  012450  090125  138400   80  10506   2044   3371
158  012450  090125  138400   20  10526   2044   3391
159  012450  090125  138400   13  10539   2044   3404
160  012450  090125  138400  100  10639   2044   3504

[161 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;20, 거래량;10659, 매도체결수량;2044, 매수체결수량;3524
162 012450 090125 138400 20 10659 2044 3524
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
157  012450  090125  138400   80  10506   2044   3371
158  012450  090125  138400   20  10526   2044   3391
159  012450  090125  138400   13  10539   2044   3404
160  012450  090125  138400  100  10639   2044   3504
161  012450  090125  138400   20  10659   2044   3524

[162 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138400, 체결수량;4, 거래량;10663, 매도체결수량;2044, 매수체결수량;3528
163 012450 090125 138400 4 10663 2044 3528
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
158  012450  090125  138400   20  10526   2044   3391
159  012450  090125  138400   13  10539   2044   3404
160  012450  090125  138400  100  10639   2044   3504
161  012450  090125  138400   20  10659   2044   3524
162  012450  090125  138400    4  10663   2044   3528

[163 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090125, 현재가;138500, 체결수량;1, 거래량;10664, 매도체결수량;2044, 매수체결수량;3529
164 012450 090125 138500 1 10664 2044 3529
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
159  012450  090125  138400   13  10539   2044   3404
160  012450  090125  138400  100  10639   2044   3504
161  012450  090125  138400   20  10659   2044   3524
162  012450  090125  138400    4  10663   2044   3528
163  012450  090125  138500    1  10664   2044   3529

[164 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090126, 현재가;138500, 체결수량;43, 거래량;10707, 매도체결수량;2044, 매수체결수량;3572
165 012450 090126 138500 43 10707 2044 3572
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
160  012450  090125  138400  100  10639   2044   3504
161  012450  090125  138400   20  10659   2044   3524
162  012450  090125  138400    4  10663   2044   3528
163  012450  090125  138500    1  10664   2044   3529
164  012450  090126  138500   43  10707   2044   3572

[165 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090126, 현재가;138500, 체결수량;17, 거래량;10724, 매도체결수량;2044, 매수체결수량;3589
166 012450 090126 138500 17 10724 2044 3589
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
161  012450  090125  138400   20  10659   2044   3524
162  012450  090125  138400    4  10663   2044   3528
163  012450  090125  138500    1  10664   2044   3529
164  012450  090126  138500   43  10707   2044   3572
165  012450  090126  138500   17  10724   2044   3589

[166 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090126, 현재가;138400, 체결수량;5, 거래량;10729, 매도체결수량;2049, 매수체결수량;3589
167 012450 090126 138400 5 10729 2049 3589
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
162  012450  090125  138400    4  10663   2044   3528
163  012450  090125  138500    1  10664   2044   3529
164  012450  090126  138500   43  10707   2044   3572
165  012450  090126  138500   17  10724   2044   3589
166  012450  090126  138400    5  10729   2049   3589

[167 rows x 7 columns]

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
163  012450  090125  138500    1  10664   2044   3529
164  012450  090126  138500   43  10707   2044   3572
165  012450  090126  138500   17  10724   2044   3589
166  012450  090126  138400    5  10729   2049   3589
167  012450  090126  138400   10  10739   2059   3589

[168 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090127, 현재가;138400, 체결수량;158, 거래량;10897, 매도체결수량;2217, 매수체결수량;3589
169 012450 090127 138400 158 10897 2217 3589
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
164  012450  090126  138500   43  10707   2044   3572
165  012450  090126  138500   17  10724   2044   3589
166  012450  090126  138400    5  10729   2049   3589
167  012450  090126  138400   10  10739   2059   3589
168  012450  090127  138400  158  10897   2217   3589

[169 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090127, 현재가;138400, 체결수량;49, 거래량;10946, 매도체결수량;2217, 매수체결수량;3638
170 012450 090127 138400 49 10946 2217 3638
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
165  012450  090126  138500   17  10724   2044   3589
166  012450  090126  138400    5  10729   2049   3589
167  012450  090126  138400   10  10739   2059   3589
168  012450  090127  138400  158  10897   2217   3589
169  012450  090127  138400   49  10946   2217   3638

[170 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090128, 현재가;138400, 체결수량;24, 거래량;10970, 매도체결수량;2217, 매수체결수량;3662
171 012450 090128 138400 24 10970 2217 3662
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
166  012450  090126  138400    5  10729   2049   3589
167  012450  090126  138400   10  10739   2059   3589
168  012450  090127  138400  158  10897   2217   3589
169  012450  090127  138400   49  10946   2217   3638
170  012450  090128  138400   24  10970   2217   3662

[171 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090128, 현재가;138400, 체결수량;1, 거래량;10971, 매도체결수량;2217, 매수체결수량;3663
172 012450 090128 138400 1 10971 2217 3663
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
167  012450  090126  138400   10  10739   2059   3589
168  012450  090127  138400  158  10897   2217   3589
169  012450  090127  138400   49  10946   2217   3638
170  012450  090128  138400   24  10970   2217   3662
171  012450  090128  138400    1  10971   2217   3663

[172 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090130, 현재가;138400, 체결수량;1, 거래량;10972, 매도체결수량;2217, 매수체결수량;3664
173 012450 090130 138400 1 10972 2217 3664
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
168  012450  090127  138400  158  10897   2217   3589
169  012450  090127  138400   49  10946   2217   3638
170  012450  090128  138400   24  10970   2217   3662
171  012450  090128  138400    1  10971   2217   3663
172  012450  090130  138400    1  10972   2217   3664

[173 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090131, 현재가;138300, 체결수량;10, 거래량;10982, 매도체결수량;2227, 매수체결수량;3664
174 012450 090131 138300 10 10982 2227 3664
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
169  012450  090127  138400   49  10946   2217   3638
170  012450  090128  138400   24  10970   2217   3662
171  012450  090128  138400    1  10971   2217   3663
172  012450  090130  138400    1  10972   2217   3664
173  012450  090131  138300   10  10982   2227   3664

[174 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090131, 현재가;138300, 체결수량;10, 거래량;10992, 매도체결수량;2227, 매수체결수량;3674
175 012450 090131 138300 10 10992 2227 3674
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
170  012450  090128  138400   24  10970   2217   3662
171  012450  090128  138400    1  10971   2217   3663
172  012450  090130  138400    1  10972   2217   3664
173  012450  090131  138300   10  10982   2227   3664
174  012450  090131  138300   10  10992   2227   3674

[175 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090131, 현재가;138400, 체결수량;5, 거래량;10997, 매도체결수량;2227, 매수체결수량;3679
176 012450 090131 138400 5 10997 2227 3679
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
171  012450  090128  138400    1  10971   2217   3663
172  012450  090130  138400    1  10972   2217   3664
173  012450  090131  138300   10  10982   2227   3664
174  012450  090131  138300   10  10992   2227   3674
175  012450  090131  138400    5  10997   2227   3679

[176 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090131, 현재가;138400, 체결수량;27, 거래량;11024, 매도체결수량;2227, 매수체결수량;3706
177 012450 090131 138400 27 11024 2227 3706
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
172  012450  090130  138400    1  10972   2217   3664
173  012450  090131  138300   10  10982   2227   3664
174  012450  090131  138300   10  10992   2227   3674
175  012450  090131  138400    5  10997   2227   3679
176  012450  090131  138400   27  11024   2227   3706

[177 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090132, 현재가;138400, 체결수량;36, 거래량;11060, 매도체결수량;2227, 매수체결수량;3742
178 012450 090132 138400 36 11060 2227 3742
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
173  012450  090131  138300   10  10982   2227   3664
174  012450  090131  138300   10  10992   2227   3674
175  012450  090131  138400    5  10997   2227   3679
176  012450  090131  138400   27  11024   2227   3706
177  012450  090132  138400   36  11060   2227   3742

[178 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090132, 현재가;138200, 체결수량;6, 거래량;11066, 매도체결수량;2233, 매수체결수량;3742
179 012450 090132 138200 6 11066 2233 3742

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
174  012450  090131  138300   10  10992   2227   3674
175  012450  090131  138400    5  10997   2227   3679
176  012450  090131  138400   27  11024   2227   3706
177  012450  090132  138400   36  11060   2227   3742
178  012450  090132  138200    6  11066   2233   3742

[179 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090132, 현재가;138300, 체결수량;7, 거래량;11073, 매도체결수량;2240, 매수체결수량;3742
180 012450 090132 138300 7 11073 2240 3742
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
175  012450  090131  138400    5  10997   2227   3679
176  012450  090131  138400   27  11024   2227   3706
177  012450  090132  138400   36  11060   2227   3742
178  012450  090132  138200    6  11066   2233   3742
179  012450  090132  138300    7  11073   2240   3742

[180 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090132, 현재가;138300, 체결수량;3, 거래량;11076, 매도체결수량;2243, 매수체결수량;3742
181 012450 090132 138300 3 11076 2243 3742
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
176  012450  090131  138400   27  11024   2227   3706
177  012450  090132  138400   36  11060   2227   3742
178  012450  090132  138200    6  11066   2233   3742
179  012450  090132  138300    7  11073   2240   3742
180  012450  090132  138300    3  11076   2243   3742

[181 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090133, 현재가;138300, 체결수량;1, 거래량;11077, 매도체결수량;2243, 매수체결수량;3743
182 012450 090133 138300 1 11077 2243 3743
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
177  012450  090132  138400   36  11060   2227   3742
178  012450  090132  138200    6  11066   2233   3742
179  012450  090132  138300    7  11073   2240   3742
180  012450  090132  138300    3  11076   2243   3742
181  012450  090133  138300    1  11077   2243   3743

[182 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090133, 현재가;138300, 체결수량;6, 거래량;11083, 매도체결수량;2243, 매수체결수량;3749
183 012450 090133 138300 6 11083 2243 3749
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
178  012450  090132  138200    6  11066   2233   3742
179  012450  090132  138300    7  11073   2240   3742
180  012450  090132  138300    3  11076   2243   3742
181  012450  090133  138300    1  11077   2243   3743
182  012450  090133  138300    6  11083   2243   3749

[183 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090133, 현재가;138300, 체결수량;20, 거래량;11103, 매도체결수량;2243, 매수체결수량;3769
184 012450 090133 138300 20 11103 2243 3769
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
179  012450  090132  138300    7  11073   2240   3742
180  012450  090132  138300    3  11076   2243   3742
181  012450  090133  138300    1  11077   2243   3743
182  012450  090133  138300    6  11083   2243   3749
183  012450  090133  138300   20  11103   2243   3769

[184 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090133, 현재가;138300, 체결수량;1, 거래량;11104, 매도체결수량;2244, 매수체결수량;3769
185 012450 090133 138300 1 11104 2244 3769
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
180  012450  090132  138300    3  11076   2243   3742
181  012450  090133  138300    1  11077   2243   3743
182  012450  090133  138300    6  11083   2243   3749
183  012450  090133  138300   20  11103   2243   3769
184  012450  090133  138300    1  11104   2244   3769

[185 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090135, 현재가;138300, 체결수량;36, 거래량;11140, 매도체결수량;2280, 매수체결수량;3769
186 012450 090135 138300 36 11140 2280 3769
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
181  012450  090133  138300    1  11077   2243   3743
182  012450  090133  138300    6  11083   2243   3749
183  012450  090133  138300   20  11103   2243   3769
184  012450  090133  138300    1  11104   2244   3769
185  012450  090135  138300   36  11140   2280   3769

[186 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090135, 현재가;138400, 체결수량;26, 거래량;11166, 매도체결수량;2280, 매수체결수량;3795
187 012450 090135 138400 26 11166 2280 3795
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
182  012450  090133  138300    6  11083   2243   3749
183  012450  090133  138300   20  11103   2243   3769
184  012450  090133  138300    1  11104   2244   3769
185  012450  090135  138300   36  11140   2280   3769
186  012450  090135  138400   26  11166   2280   3795

[187 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090138, 현재가;138400, 체결수량;20, 거래량;11186, 매도체결수량;2280, 매수체결수량;3815
188 012450 090138 138400 20 11186 2280 3815
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
183  012450  090133  138300   20  11103   2243   3769
184  012450  090133  138300    1  11104   2244   3769
185  012450  090135  138300   36  11140   2280   3769
186  012450  090135  138400   26  11166   2280   3795
187  012450  090138  138400   20  11186   2280   3815

[188 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090140, 현재가;138300, 체결수량;121, 거래량;11307, 매도체결수량;2401, 매수체결수량;3815
189 012450 090140 138300 121 11307 2401 3815
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
184  012450  090133  138300    1  11104   2244   3769
185  012450  090135  138300   36  11140   2280   3769
186  012450  090135  138400   26  11166   2280   3795
187  012450  090138  138400   20  11186   2280   3815
188  012450  090140  138300  121  11307   2401   3815

[189 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090140, 현재가;138200, 체결수량;29, 거래량;11336, 매도체결수량;2430, 매수체결수량;3815
190 012450 090140 138200 29 11336 2430 3815
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
185  012450  090135  138300   36  11140   2280   3769
186  012450  090135  138400   26  11166   2280   3795
187  012450  090138  138400   20  11186   2280   3815
188  012450  090140  138300  121  11307   2401   3815
189  012450  090140  138200   29  11336   2430   3815

[190 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090141, 현재가;138300, 체결수량;72, 거래량;11408, 매도체결수량;2430, 매수체결수량;3887
191 012450 090141 138300 72 11408 2430 3887
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
186  012450  090135  138400   26  11166   2280   3795
187  012450  090138  138400   20  11186   2280   3815
188  012450  090140  138300  121  11307   2401   3815
189  012450  090140  138200   29  11336   2430   3815
190  012450  090141  138300   72  11408   2430   3887

[191 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090142, 현재가;138300, 체결수량;26, 거래량;11434, 매도체결수량;2430, 매수체결수량;3913
192 012450 090142 138300 26 11434 2430 3913

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
188  012450  090140  138300  121  11307   2401   3815
189  012450  090140  138200   29  11336   2430   3815
190  012450  090141  138300   72  11408   2430   3887
191  012450  090142  138300   26  11434   2430   3913
192  012450  090143  138300    3  11437   2430   3916

[193 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090143, 현재가;138300, 체결수량;80, 거래량;11517, 매도체결수량;2430, 매수체결수량;3996
194 012450 090143 138300 80 11517 2430 3996
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
189  012450  090140  138200   29  11336   2430   3815
190  012450  090141  138300   72  11408   2430   3887
191  012450  090142  138300   26  11434   2430   3913
192  012450  090143  138300    3  11437   2430   3916
193  012450  090143  138300   80  11517   2430   3996

[194 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090143, 현재가;138300, 체결수량;68, 거래량;11585, 매도체결수량;2430, 매수체결수량;4064
195 012450 090143 138300 68 11585 2430 4064
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
190  012450  090141  138300   72  11408   2430   3887
191  012450  090142  138300   26  11434   2430   3913
192  012450  090143  138300    3  11437   2430   3916
193  012450  090143  138300   80  11517   2430   3996
194  012450  090143  138300   68  11585   2430   4064

[195 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090143, 현재가;138400, 체결수량;12, 거래량;11597, 매도체결수량;2430, 매수체결수량;4076
196 012450 090143 138400 12 11597 2430 4076
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
191  012450  090142  138300   26  11434   2430   3913
192  012450  090143  138300    3  11437   2430   3916
193  012450  090143  138300   80  11517   2430   3996
194  012450  090143  138300   68  11585   2430   4064
195  012450  090143  138400   12  11597   2430   4076

[196 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090143, 현재가;138300, 체결수량;10, 거래량;11607, 매도체결수량;2440, 매수체결수량;4076
197 012450 090143 138300 10 11607 2440 4076

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
192  012450  090143  138300    3  11437   2430   3916
193  012450  090143  138300   80  11517   2430   3996
194  012450  090143  138300   68  11585   2430   4064
195  012450  090143  138400   12  11597   2430   4076
196  012450  090143  138300   10  11607   2440   4076

[197 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090143, 현재가;138400, 체결수량;4, 거래량;11611, 매도체결수량;2440, 매수체결수량;4080
198 012450 090143 138400 4 11611 2440 4080
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
193  012450  090143  138300   80  11517   2430   3996
194  012450  090143  138300   68  11585   2430   4064
195  012450  090143  138400   12  11597   2430   4076
196  012450  090143  138300   10  11607   2440   4076
197  012450  090143  138400    4  11611   2440   4080

[198 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090144, 현재가;138400, 체결수량;56, 거래량;11667, 매도체결수량;2440, 매수체결수량;4136
199 012450 090144 138400 56 11667 2440 4136
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
194  012450  090143  138300   68  11585   2430   4064
195  012450  090143  138400   12  11597   2430   4076
196  012450  090143  138300   10  11607   2440   4076
197  012450  090143  138400    4  11611   2440   4080
198  012450  090144  138400   56  11667   2440   4136

[199 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090144, 현재가;138400, 체결수량;70, 거래량;11737, 매도체결수량;2440, 매수체결수량;4206
200 012450 090144 138400 70 11737 2440 4206
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
195  012450  090143  138400   12  11597   2430   4076
196  012450  090143  138300   10  11607   2440   4076
197  012450  090143  138400    4  11611   2440   4080
198  012450  090144  138400   56  11667   2440   4136
199  012450  090144  138400   70  11737   2440   4206

[200 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090145, 현재가;138300, 체결수량;53, 거래량;11790, 매도체결수량;2493, 매수체결수량;4206
201 012450 090145 138300 53 11790 2493 4206
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
196  012450  090143  138300   10  11607   2440   4076
197  012450  090143  138400    4  11611   2440   4080
198  012450  090144  138400   56  11667   2440   4136
199  012450  090144  138400   70  11737   2440   4206
200  012450  090145  138300   53  11790   2493   4206

[201 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090146, 현재가;138300, 체결수량;2, 거래량;11792, 매도체결수량;2495, 매수체결수량;4206
202 012450 090146 138300 2 11792 2495 4206
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
197  012450  090143  138400    4  11611   2440   4080
198  012450  090144  138400   56  11667   2440   4136
199  012450  090144  138400   70  11737   2440   4206
200  012450  090145  138300   53  11790   2493   4206
201  012450  090146  138300    2  11792   2495   4206

[202 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090147, 현재가;138300, 체결수량;5, 거래량;11797, 매도체결수량;2495, 매수체결수량;4211
203 012450 090147 138300 5 11797 2495 4211
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
198  012450  090144  138400   56  11667   2440   4136
199  012450  090144  138400   70  11737   2440   4206
200  012450  090145  138300   53  11790   2493   4206
201  012450  090146  138300    2  11792   2495   4206
202  012450  090147  138300    5  11797   2495   4211

[203 rows x 7 columns]

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
200  012450  090145  138300   53  11790   2493   4206
201  012450  090146  138300    2  11792   2495   4206
202  012450  090147  138300    5  11797   2495   4211
203  012450  090148  138300   15  11812   2495   4226
204  012450  090149  138300   10  11822   2495   4236

[205 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090149, 현재가;138300, 체결수량;1, 거래량;11823, 매도체결수량;2495, 매수체결수량;4237
206 012450 090149 138300 1 11823 2495 4237
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
201  012450  090146  138300    2  11792   2495   4206
202  012450  090147  138300    5  11797   2495   4211
203  012450  090148  138300   15  11812   2495   4226
204  012450  090149  138300   10  11822   2495   4236
205  012450  090149  138300    1  11823   2495   4237

[206 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090149, 현재가;138300, 체결수량;174, 거래량;11997, 매도체결수량;2495, 매수체결수량;4411
207 012450 090149 138300 174 11997 2495 4411
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
202  012450  090147  138300    5  11797   2495   4211
203  012450  090148  138300   15  11812   2495   4226
204  012450  090149  138300   10  11822   2495   4236
205  012450  090149  138300    1  11823   2495   4237
206  012450  090149  138300  174  11997   2495   4411

[207 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090149, 현재가;138300, 체결수량;30, 거래량;12027, 매도체결수량;2495, 매수체결수량;4441
208 012450 090149 138300 30 12027 2495 4441
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
203  012450  090148  138300   15  11812   2495   4226
204  012450  090149  138300   10  11822   2495   4236
205  012450  090149  138300    1  11823   2495   4237
206  012450  090149  138300  174  11997   2495   4411
207  012450  090149  138300   30  12027   2495   4441

[208 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090149, 현재가;138300, 체결수량;10, 거래량;12037, 매도체결수량;2505, 매수체결수량;4441
209 012450 090149 138300 10 12037 2505 4441
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
204  012450  090149  138300   10  11822   2495   4236
205  012450  090149  138300    1  11823   2495   4237
206  012450  090149  138300  174  11997   2495   4411
207  012450  090149  138300   30  12027   2495   4441
208  012450  090149  138300   10  12037   2505   4441

[209 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090149, 현재가;138400, 체결수량;2, 거래량;12039, 매도체결수량;2505, 매수체결수량;4443
210 012450 090149 138400 2 12039 2505 4443
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
205  012450  090149  138300    1  11823   2495   4237
206  012450  090149  138300  174  11997   2495   4411
207  012450  090149  138300   30  12027   2495   4441
208  012450  090149  138300   10  12037   2505   4441
209  012450  090149  138400    2  12039   2505   4443

[210 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090150, 현재가;138300, 체결수량;100, 거래량;12139, 매도체결수량;2605, 매수체결수량;4443
211 012450 090150 138300 100 12139 2605 4443
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
206  012450  090149  138300  174  11997   2495   4411
207  012450  090149  138300   30  12027   2495   4441
208  012450  090149  138300   10  12037   2505   4441
209  012450  090149  138400    2  12039   2505   4443
210  012450  090150  138300  100  12139   2605   4443

[211 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090150, 현재가;138300, 체결수량;50, 거래량;12189, 매도체결수량;2655, 매수체결수량;4443
212 012450 090150 138300 50 12189 2655 4443
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
207  012450  090149  138300   30  12027   2495   4441
208  012450  090149  138300   10  12037   2505   4441
209  012450  090149  138400    2  12039   2505   4443
210  012450  090150  138300  100  12139   2605   4443
211  012450  090150  138300   50  12189   2655   4443

[212 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090150, 현재가;138400, 체결수량;80, 거래량;12269, 매도체결수량;2655, 매수체결수량;4523
213 012450 090150 138400 80 12269 2655 4523
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
208  012450  090149  138300   10  12037   2505   4441
209  012450  090149  138400    2  12039   2505   4443
210  012450  090150  138300  100  12139   2605   4443
211  012450  090150  138300   50  12189   2655   4443
212  012450  090150  138400   80  12269   2655   4523

[213 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090150, 현재가;138400, 체결수량;80, 거래량;12349, 매도체결수량;2655, 매수체결수량;4603
214 012450 090150 138400 80 12349 2655 4603
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
209  012450  090149  138400    2  12039   2505   4443
210  012450  090150  138300  100  12139   2605   4443
211  012450  090150  138300   50  12189   2655   4443
212  012450  090150  138400   80  12269   2655   4523
213  012450  090150  138400   80  12349   2655   4603

[214 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090150, 현재가;138400, 체결수량;80, 거래량;12429, 매도체결수량;2655, 매수체결수량;4683
215 012450 090150 138400 80 12429 2655 4683
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
210  012450  090150  138300  100  12139   2605   4443
211  012450  090150  138300   50  12189   2655   4443
212  012450  090150  138400   80  12269   2655   4523
213  012450  090150  138400   80  12349   2655   4603
214  012450  090150  138400   80  12429   2655   4683

[215 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090151, 현재가;138300, 체결수량;50, 거래량;12479, 매도체결수량;2705, 매수체결수량;4683
216 012450 090151 138300 50 12479 2705 4683
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
211  012450  090150  138300   50  12189   2655   4443
212  012450  090150  138400   80  12269   2655   4523
213  012450  090150  138400   80  12349   2655   4603
214  012450  090150  138400   80  12429   2655   4683
215  012450  090151  138300   50  12479   2705   4683

[216 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090151, 현재가;138400, 체결수량;80, 거래량;12559, 매도체결수량;2705, 매수체결수량;4763
217 012450 090151 138400 80 12559 2705 4763
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
212  012450  090150  138400   80  12269   2655   4523
213  012450  090150  138400   80  12349   2655   4603
214  012450  090150  138400   80  12429   2655   4683
215  012450  090151  138300   50  12479   2705   4683
216  012450  090151  138400   80  12559   2705   4763

[217 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090151, 현재가;138400, 체결수량;29, 거래량;12588, 매도체결수량;2705, 매수체결수량;4792
218 012450 090151 138400 29 12588 2705 4792
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
213  012450  090150  138400   80  12349   2655   4603
214  012450  090150  138400   80  12429   2655   4683
215  012450  090151  138300   50  12479   2705   4683
216  012450  090151  138400   80  12559   2705   4763
217  012450  090151  138400   29  12588   2705   4792

[218 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090153, 현재가;138400, 체결수량;1, 거래량;12589, 매도체결수량;2705, 매수체결수량;4793
219 012450 090153 138400 1 12589 2705 4793
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
214  012450  090150  138400   80  12429   2655   4683
215  012450  090151  138300   50  12479   2705   4683
216  012450  090151  138400   80  12559   2705   4763
217  012450  090151  138400   29  12588   2705   4792
218  012450  090153  138400    1  12589   2705   4793

[219 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090154, 현재가;138300, 체결수량;5, 거래량;12594, 매도체결수량;2710, 매수체결수량;4793
220 012450 090154 138300 5 12594 2710 4793
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
215  012450  090151  138300   50  12479   2705   4683
216  012450  090151  138400   80  12559   2705   4763
217  012450  090151  138400   29  12588   2705   4792
218  012450  090153  138400    1  12589   2705   4793
219  012450  090154  138300    5  12594   2710   4793

[220 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090155, 현재가;138400, 체결수량;10, 거래량;12604, 매도체결수량;2710, 매수체결수량;4803
221 012450 090155 138400 10 12604 2710 4803

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
216  012450  090151  138400   80  12559   2705   4763
217  012450  090151  138400   29  12588   2705   4792
218  012450  090153  138400    1  12589   2705   4793
219  012450  090154  138300    5  12594   2710   4793
220  012450  090155  138400   10  12604   2710   4803

[221 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090156, 현재가;138300, 체결수량;68, 거래량;12672, 매도체결수량;2778, 매수체결수량;4803
222 012450 090156 138300 68 12672 2778 4803
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
217  012450  090151  138400   29  12588   2705   4792
218  012450  090153  138400    1  12589   2705   4793
219  012450  090154  138300    5  12594   2710   4793
220  012450  090155  138400   10  12604   2710   4803
221  012450  090156  138300   68  12672   2778   4803

[222 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090156, 현재가;138400, 체결수량;1, 거래량;12673, 매도체결수량;2778, 매수체결수량;4804
223 012450 090156 138400 1 12673 2778 4804
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
218  012450  090153  138400    1  12589   2705   4793
219  012450  090154  138300    5  12594   2710   4793
220  012450  090155  138400   10  12604   2710   4803
221  012450  090156  138300   68  12672   2778   4803
222  012450  090156  138400    1  12673   2778   4804

[223 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

종목코드;012450, 시간;090201, 현재가;138300, 체결수량;6, 거래량;12679, 매도체결수량;2784, 매수체결수량;4804
224 012450 090201 138300 6 12679 2784 4804
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
219  012450  090154  138300    5  12594   2710   4793
220  012450  090155  138400   10  12604   2710   4803
221  012450  090156  138300   68  12672   2778   4803
222  012450  090156  138400    1  12673   2778   4804
223  012450  090201  138300    6  12679   2784   4804

[224 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090201, 현재가;138300, 체결수량;226, 거래량;12905, 매도체결수량;3010, 매수체결수량;4804
225 012450 090201 138300 226 12905 3010 4804
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
220  012450  090155  138400   10  12604   2710   4803
221  012450  090156  138300   68  12672   2778   4803
222  012450  090156  138400    1  12673   2778   4804
223  012450  090201  138300    6  12679   2784   4804
224  012450  090201  138300  226  12905   3010   4804

[225 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090204, 현재가;138200, 체결수량;40, 거래량;12945, 매도체결수량;3050, 매수체결수량;4804
226 012450 090204 138200 40 12945 3050 4804
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
221  012450  090156  138300   68  12672   2778   4803
222  012450  090156  138400    1  12673   2778   4804
223  012450  090201  138300    6  12679   2784   4804
224  012450  090201  138300  226  12905   3010   4804
225  012450  090204  138200   40  12945   3050   4804

[226 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090204, 현재가;138200, 체결수량;30, 거래량;12975, 매도체결수량;3080, 매수체결수량;4804
227 012450 090204 138200 30 12975 3080 4804
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
222  012450  090156  138400    1  12673   2778   4804
223  012450  090201  138300    6  12679   2784   4804
224  012450  090201  138300  226  12905   3010   4804
225  012450  090204  138200   40  12945   3050   4804
226  012450  090204  138200   30  12975   3080   4804

[227 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090204, 현재가;138200, 체결수량;16, 거래량;12991, 매도체결수량;3096, 매수체결수량;4804
228 012450 090204 138200 16 12991 3096 4804

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
223  012450  090201  138300    6  12679   2784   4804
224  012450  090201  138300  226  12905   3010   4804
225  012450  090204  138200   40  12945   3050   4804
226  012450  090204  138200   30  12975   3080   4804
227  012450  090204  138200   16  12991   3096   4804

[228 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090205, 현재가;138200, 체결수량;37, 거래량;13028, 매도체결수량;3096, 매수체결수량;4841
229 012450 090205 138200 37 13028 3096 4841
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
224  012450  090201  138300  226  12905   3010   4804
225  012450  090204  138200   40  12945   3050   4804
226  012450  090204  138200   30  12975   3080   4804
227  012450  090204  138200   16  12991   3096   4804
228  012450  090205  138200   37  13028   3096   4841

[229 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090205, 현재가;138100, 체결수량;10, 거래량;13038, 매도체결수량;3106, 매수체결수량;4841
230 012450 090205 138100 10 13038 3106 4841
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
225  012450  090204  138200   40  12945   3050   4804
226  012450  090204  138200   30  12975   3080   4804
227  012450  090204  138200   16  12991   3096   4804
228  012450  090205  138200   37  13028   3096   4841
229  012450  090205  138100   10  13038   3106   4841

[230 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090208, 현재가;138100, 체결수량;72, 거래량;13110, 매도체결수량;3106, 매수체결수량;4913
231 012450 090208 138100 72 13110 3106 4913
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
226  012450  090204  138200   30  12975   3080   4804
227  012450  090204  138200   16  12991   3096   4804
228  012450  090205  138200   37  13028   3096   4841
229  012450  090205  138100   10  13038   3106   4841
230  012450  090208  138100   72  13110   3106   4913

[231 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090209, 현재가;138100, 체결수량;9, 거래량;13119, 매도체결수량;3106, 매수체결수량;4922
232 012450 090209 138100 9 13119 3106 4922
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
227  012450  090204  138200   16  12991   3096   4804
228  012450  090205  138200   37  13028   3096   4841
229  012450  090205  138100   10  13038   3106   4841
230  012450  090208  138100   72  13110   3106   4913
231  012450  090209  138100    9  13119   3106   4922

[232 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090211, 현재가;138100, 체결수량;10, 거래량;13129, 매도체결수량;3106, 매수체결수량;4932
233 012450 090211 138100 10 13129 3106 4932
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
228  012450  090205  138200   37  13028   3096   4841
229  012450  090205  138100   10  13038   3106   4841
230  012450  090208  138100   72  13110   3106   4913
231  012450  090209  138100    9  13119   3106   4922
232  012450  090211  138100   10  13129   3106   4932

[233 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090212, 현재가;138000, 체결수량;80, 거래량;13209, 매도체결수량;3186, 매수체결수량;4932
234 012450 090212 138000 80 13209 3186 4932
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...

pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
230  012450  090208  138100   72  13110   3106   4913
231  012450  090209  138100    9  13119   3106   4922
232  012450  090211  138100   10  13129   3106   4932
233  012450  090212  138000   80  13209   3186   4932
234  012450  090212  138100   11  13220   3186   4943

[235 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090215, 현재가;138000, 체결수량;85, 거래량;13305, 매도체결수량;3271, 매수체결수량;4943
236 012450 090215 138000 85 13305 3271 4943
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
231  012450  090209  138100    9  13119   3106   4922
232  012450  090211  138100   10  13129   3106   4932
233  012450  090212  138000   80  13209   3186   4932
234  012450  090212  138100   11  13220   3186   4943
235  012450  090215  138000   85  13305   3271   4943

[236 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090217, 현재가;138100, 체결수량;1, 거래량;13306, 매도체결수량;3271, 매수체결수량;4944
237 012450 090217 138100 1 13306 3271 4944
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
232  012450  090211  138100   10  13129   3106   4932
233  012450  090212  138000   80  13209   3186   4932
234  012450  090212  138100   11  13220   3186   4943
235  012450  090215  138000   85  13305   3271   4943
236  012450  090217  138100    1  13306   3271   4944

[237 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090219, 현재가;138000, 체결수량;13, 거래량;13319, 매도체결수량;3284, 매수체결수량;4944
238 012450 090219 138000 13 13319 3284 4944
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
233  012450  090212  138000   80  13209   3186   4932
234  012450  090212  138100   11  13220   3186   4943
235  012450  090215  138000   85  13305   3271   4943
236  012450  090217  138100    1  13306   3271   4944
237  012450  090219  138000   13  13319   3284   4944

[238 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090219, 현재가;138100, 체결수량;1, 거래량;13320, 매도체결수량;3284, 매수체결수량;4945
239 012450 090219 138100 1 13320 3284 4945
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
234  012450  090212  138100   11  13220   3186   4943
235  012450  090215  138000   85  13305   3271   4943
236  012450  090217  138100    1  13306   3271   4944
237  012450  090219  138000   13  13319   3284   4944
238  012450  090219  138100    1  13320   3284   4945

[239 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')
종목코드;012450, 시간;090222, 현재가;138100, 체결수량;1, 거래량;13321, 매도체결수량;3284, 매수체결수량;4946
240 012450 090222 138100 1 13321 3284 4946
       종목코드      시간     현재가 체결수량    거래량 매도체결수량 매수체결수량
0    012450  090012  138100  109   6064    388    585
1    012450  090012  138100   40   6104    428    585
2    012450  090012  138300    4   6108    428    589
3    012450  090012  138100   16   6124    444    589
4    012450  090013  138000    4   6128    448    589
..      ...     ...     ...  ...    ...    ...    ...
235  012450  090215  138000   85  13305   3271   4943
236  012450  090217  138100    1  13306   3271   4944
237  012450  090219  138000   13  13319   3284   4944
238  012450  090219  138100    1  13320   3284   4945
239  012450  090222  138100    1  13321   3284   4946

[240 rows x 7 columns]
['012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450', '012450']
INSERT INTO ebest_real_tic (StockCode, CheTime, Price, CVolume, Volume, MdVolume, MsVolume) VALUES ('012450', '090012', '138100', '109', '6064', '388', '585')

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')
pythoncom error: Python error invoking COM method.

Traceback (most recent call last):
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 305, in _Invoke_
    return self._invoke_(dispid, lcid, wFlags, args)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 310, in _invoke_
    return S_OK, -1, self._invokeex_(dispid, lcid, wFlags, args, None, None)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\win32com\server\policy.py", line 639, in _invokeex_
    return func(*args)
  File "C:\Users\green\AppData\Local\Temp\ipykernel_12436\288785544.py", line 108, in OnReceiveRealData
    cur.execute(sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 153, in execute
    result = self._query(query)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\cursors.py", line 322, in _query
    conn.query(q)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 557, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "c:\Users\green\anaconda3\envs\trading_32\lib\site-packages\pymysql\connections.py", line 840, in _execute_command
    raise err.InterfaceError(0, "")
pymysql.err.InterfaceError: (0, '')

:

: