In [21]:
import pandas as pd
import mysql.connector
import numpy as np

# CSV 파일 읽기
data = pd.read_csv('./A012450분봉데이터.csv')

# MySQL에 연결
cnx = mysql.connector.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8')

# 데이터베이스 커서 생성
cursor = cnx.cursor()

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187690 entries, 0 to 187689
Data columns (total 10 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      187690 non-null  int64
 1   date                            187690 non-null  int64
 2   time                            187690 non-null  int64
 3   open                            187690 non-null  int64
 4   high                            187690 non-null  int64
 5   low                             187690 non-null  int64
 6   close                           187690 non-null  int64
 7   volume                          187690 non-null  int64
 8   Accumulated sales volume        187690 non-null  int64
 9   Accumulated number of contract  187690 non-null  int64
dtypes: int64(10)
memory usage: 14.3 MB

In [23]:

# 데이터 삽입
for index, row in data.iterrows():
    query = "INSERT INTO past_jusik_012450_hanwhaairospace (date, time, open, high, low, close, volume, Accumulated sales volume, Accumulated number of contract) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    # values = (row['date'], row['time'], row['open'], row['high'], row['low'], row['close'], row['value'])
    values = (
        int(row['date']) if isinstance(row['date'], np.int64) else row['date'],
        int(row['time']) if isinstance(row['time'], np.int64) else row['time'],
        int(row['open']) if isinstance(row['open'], np.int64) else row['open'],
        int(row['high']) if isinstance(row['high'], np.int64) else row['high'],
        int(row['low']) if isinstance(row['low'], np.int64) else row['low'],
        int(row['close']) if isinstance(row['close'], np.int64) else row['close'],
        int(row['volume']) if isinstance(row['volume'], np.int64) else row['volume'],
        int(row['Accumulated sales volume']) if isinstance(row['Accumulated sales volume'], np.int64) else row['Accumulated sales volume'],
        int(row['Accumulated number of contract']) if isinstance(row['Accumulated number of contract'], np.int64) else row['Accumulated number of contract']
    )
    cursor.execute(query, values)

# 변경사항 커밋
cnx.commit()

# 커서와 연결 해제
cursor.close()
cnx.close()

ProgrammingError: Not all parameters were used in the SQL statement