---
### pip install finance-datareader
---

In [1]:
import FinanceDataReader as fdr

In [2]:
krx = fdr.StockListing('KRX')
NASDAQ = fdr.StockListing('NASDAQ')

100%|██████████| 4250/4250 [00:13<00:00, 315.42it/s]

In [3]:
AAPL = fdr.DataReader('AAPL') ## 애플
AAPL_2023 = fdr.DataReader('AAPL','2023')
AAPL_1990_2023 = fdr.DataReader('AAPL','1990-01-01','2023-06-22')

In [4]:
IXIC = fdr.DataReader('IXIC') ## 나스닥 종합
IXIC_2023 = fdr.DataReader('IXIC','2023')
IXIC_1990_2023 = fdr.DataReader('IXIC','1990-01-01','2023-06-22')

In [5]:
BTC_KRW = fdr.DataReader('BTC/KRW') # 비트코인 원화 가격
ETH_KRW = fdr.DataReader('ETH/KRW') # 이더리움 원화 가격
XRP_KRW = fdr.DataReader('XRP/KRW') # 리플 원화 가격

In [6]:
USD_KRW = fdr.DataReader('USD/KRW') # 달러당 원화 환율
USD_EUR = fdr.DataReader('USD/EUR') # 달러당 유로화 환율
JPY_KRW = fdr.DataReader('JPY/KRW') # 엔화당 원화 환율
EUR_KRW = fdr.DataReader('EUR/KRW') # 유로화 원화 환율

In [7]:
NG = fdr.DataReader('ng') # 천연가스 선물
ZG = fdr.DataReader('zg') # 금 선물
ZI = fdr.DataReader('zi') # 은 선물
# HG = fdr.DataReader('hg') # 구리 선물
CL = fdr.DataReader('cl') # WTI유 선물

In [8]:
# import time

# for N in [1,2,3,4,5,10,20,30,50]:
#     df = fdr.DataReader('KR{}YT==RR'.format(N), '2016-09-01', '2021-08-31')
#     df.reset_index(inplace=True)
#     df.to_csv('{}년만기_한국국채수익률.csv'.format(N), index=False)
#     time.sleep(1)

In [9]:
# for N in [1,2,3,4,5,7,10,30]:
#     df = fdr.DataReader('US{}YT==X'.format(N), '2016-09-01', '2021-08-31')
#     df.reset_index(inplace=True)
#     df.to_csv('{}년만기_미국국채수익률.csv'.format(N), index=False)
#     time.sleep(1)

In [10]:
IXIC

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-01-02,148.169998,148.169998,148.169998,148.169998,148.169998,0
1980-01-03,145.970001,145.970001,145.970001,145.970001,145.970001,0
1980-01-04,148.020004,148.020004,148.020004,148.020004,148.020004,0
1980-01-07,148.619995,148.619995,148.619995,148.619995,148.619995,0
1980-01-08,150.679993,150.679993,150.679993,150.679993,150.679993,0
...,...,...,...,...,...,...
2023-06-15,13572.879883,13828.169922,13561.370117,13782.820313,13782.820313,5667520000
2023-06-16,13859.070313,13864.059570,13680.950195,13689.570313,13689.570313,8076530000
2023-06-20,13642.290039,13711.179688,13561.839844,13667.290039,13667.290039,5237710000
2023-06-21,13620.870117,13638.570313,13460.940430,13502.200195,13502.200195,5194640000
2023-06-22,13443.410156,13631.849609,13441.559570,13630.610352,13630.610352,4499550000