In [99]:
# Module Imports
import mariadb
import sys

In [100]:
import pymysql
conn = pymysql.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8'
)
cur = conn.cursor()

---
##### 커서 생성

    - 순차적으로 엑세스 할 때 검색 및 현재 위치를 포함하는 데이터 요소
---

In [101]:
cur = conn.cursor()

---
##### 입력 데이터 저장
---

In [102]:
# Connect to MariaDB Platform

# try:
#     conn = mariadb.connect(
#         user="root",
#         password="tndusWkd1.",
#         host="34.64.240.96",
#         port=3306,
#         database="final_project"
#     )

In [103]:
# import pymysql 
 
# def dbconnect() : 
#     conn = pymysql.connect (host='34.64.240.96',user ='root',password='tndusWkd1.',db='final_project',charset='utf8')
#     return conn 

# def search_data(conn):
#     cur = conn.cursor()
#     sql = 'SELECT * FROM real_news'
#     cur.execute(sql)
#     results = cur.fetchall()
#     print(results)
    
# def main():
#     conn = dbconnect()  # DB 연결
#     print('연결완료')
#     search_data(conn)
    
# if __name__=="__main__" :
#     main()

# conn.commit()
# conn.close()

In [104]:
date1 = ['2023-07-02', '2023-07-03', '2023-07-04']
title1 = ['아', '너무', '졸립다']
url1 = ['하하', '호호', '히히']
content1 = ['안녕하세요','하이','하잉']
for date,title,url,content in zip(date1, title1, url1, content1):
    sql = "INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES (%s, %s, %s, %s)" % ("'"+date+"'", "'"+title+"'", "'"+url+"'", "'"+content+"'")
    print(sql)
    cur.execute(sql)
conn.commit()
conn.close()

INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES ('2023-07-02', '아', '하하', '안녕하세요')
INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES ('2023-07-03', '너무', '호호', '하이')
INSERT INTO real_news (NewsDates,NewsTitles,NewsUrls,NewsContents) VALUES ('2023-07-04', '졸립다', '히히', '하잉')