https://financedata.github.io/posts/finance-data-reader-users-guide.html

In [1]:
# ! pip install finance-datareader

In [2]:
import FinanceDataReader as fdr

In [5]:
df_krx = fdr.StockListing('KOSPI')

In [6]:
df = fdr.DataReader('KS200', '20230707')

In [7]:
df

                  Open        High         Low       Close   Adj Close  Volume
Date
2023-07-07  334.790009  334.790009  330.329987  331.829987  331.829987  114065

In [8]:
import pandas as pd

In [14]:
kospi = pd.read_csv('D:\\big16\\final project\\DATA\\KOSPI200.csv', encoding='euc-kr')

In [15]:
kospi.head()

     종목코드       종목명      종가     대비   등락률       상장시가총액
0    5930      삼성전자   70000  -1600 -2.23  417884779.0
1  373220  LG에너지솔루션  559000  -6000 -1.06  130806000.0
2     660    SK하이닉스  111700  -2100 -1.85   81317864.0
3  207940  삼성바이오로직스  721000 -28000 -3.74   51316454.0
4    6400     삼성SDI  698000  -5000 -0.71   47997642.0

In [16]:
kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    200 non-null    int64
 1   종목명     200 non-null    object
 2   종가      200 non-null    int64
 3   대비      200 non-null    int64
 4   등락률     200 non-null    float64
 5   상장시가총액  200 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 9.5+ KB

In [17]:
kospi200 = kospi['종목명']
kospi200

0          삼성전자
1      LG에너지솔루션
2        SK하이닉스
3      삼성바이오로직스
4         삼성SDI
         ...
195         지누스
196       쿠쿠홈시스
197    신세계인터내셔날
198       현대홈쇼핑
199          한섬
Name: 종목명, Length: 200, dtype: object