In [1]:
import pandas as pd
import os
import numpy as np
import requests
from bs4 import BeautifulSoup
import bs4.element
import warnings
warnings.filterwarnings('ignore')
import re
import time
from datetime import datetime

In [2]:
folders = os.listdir('D:\\big16\\final project\\DATA\\NEWS_DATA\\한화에어로스페이스')

In [3]:
df_all = pd.DataFrame()
for i in range(0,len(folders)):
    if folders[i].split('.')[1] == 'csv':
        file = 'D:\\big16\\final project\\DATA\\NEWS_DATA\\한화에어로스페이스\\'+folders[i]
        df= pd.read_csv(file,encoding='utf-8') 
        df_all = pd.concat([df_all, df])

In [4]:
folderss = os.listdir('D:\\big16\\final project\\DATA\\NEWS_DATA\\TEST\\NAVER_NEWS_DATA\\한화에어로스페이스')

In [5]:
for i in range(0,len(folderss)):
    if folderss[i].split('.')[1] == 'csv':
        file = 'D:\\big16\\final project\\DATA\\NEWS_DATA\\TEST\\NAVER_NEWS_DATA\\한화에어로스페이스\\'+folderss[i]
        df= pd.read_csv(file,encoding='utf-8') 
        df_all = pd.concat([df_all, df])

In [6]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3642 entries, 0 to 275
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3638 non-null   object
 1   title        3638 non-null   object
 2   linkcontent  0 non-null      object
 3   link         3642 non-null   object
 4   content      3642 non-null   object
 5   Unnamed: 0   1821 non-null   float64
dtypes: float64(1), object(5)
memory usage: 199.2+ KB

In [7]:
df_all.drop('link', axis=1, inplace=True)
df_all.drop('Unnamed: 0', axis=1, inplace=True)

In [12]:
df_all.drop('linkcontent', axis=1, inplace=True)

In [13]:
df_all.head()

,date,title,content
0,2021-06-28 10:24:38,"㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다",[\n\n\n\n\n저장성 이원추진제 추력기(이미지=(주)한화.)한화그룹이 미래 먹...
1,2021-06-29 04:30:19,"한화-삼성 빅딜, 누가 승자였을까","[\n방산, 화학 4개사 빅딜 6년 만에 마무리전문가들에게 손익계산서를 물어보니\n..."
2,2021-06-30 17:04:10,리노공업·더존비즈온·솔브레인…기술력 독보적인 강소기업 날았다,[\n2021 대한민국 혁신기업 30IT·플랫폼·미래기술 혁신기업한화솔루션·에어로스...
3,2021-06-28 17:38:03,비행기 뜨지도 않았는데 항공부품株는 '이륙'…두달새 주가 20% 올랐다,[\n항공기 엔진 부품 수혜 전망두달새 주가 20%넘게 올라\n\n\n\n 올 하반...
4,2021-06-28 14:35:03,"한화, 100% 해외 의존 인공위성 심장 '추력기' 국산화 한다",[\n궤도∙자세 제어 핵심 기술인 '저장성 이원추진제 추력기' 개발 나서 \n\n\...

In [14]:
import pymysql
conn = pymysql.connect(
    host='34.64.240.96'
    , user='root'
    , password='tndusWkd1.'
    , db='final_project'
    , charset='utf8'
)
cur = conn.cursor()

In [15]:
NewsDate = df_all['date'].to_list()
NewsTItle = df_all['title'].to_list()
NewsContent = df_all['content'].to_list()

In [16]:
for date,title,content in zip(NewsDate, NewsTItle, NewsContent):
    sql = "INSERT INTO past_news_hanwhaairospace (NewsDates,NewsTitles,NewsContents) VALUES (%s, %s, %s)" % ("'"+date+"'", "'"+title+"'", "'"+content+"'")
    print(sql)
    cur.execute(sql)
conn.commit()
conn.close()

INSERT INTO past_news_hanwhaairospace (NewsDates,NewsTitles,NewsContents) VALUES ('2021-06-28 10:24:38', '㈜한화, 인공위성 심장 ‘추력기’ 국산화 개발 나선다', '[




저장성 이원추진제 추력기(이미지=(주)한화.)한화그룹이 미래 먹거리로 점찍은 인공위성 사업 확장에 박차를 가한다. 이미 계열사인 한화시스템과 한화에어로스페이스가 M&amp;A 등 공격투자를 실시한 데 이어 ㈜한화가 인공위성 핵심 부품을 자체 개발하기로 결정했다.28일 ㈜한화는 지난 25일 한국항공우주연구원(이하 항우연)과 2025년까지 80억원을 투입해 ‘저장성 이원추진제 추력기’를 함께 개발해 나간다고 밝혔다.추력기는 인공위성의 궤도 수정, 자세 제어 등을 담당하는 부품이다. 위성의 수명과 직결되므로 ‘인공위성의 심장’이라고도 불린다. 그동안 정지궤도위성에 적용된 이원추진제 추력기는 전량 독일 등 해외 기업 제품에 의존해왔다. ㈜한화는 항우연과 함께 추력기를 국산화한다는 계획이다. ㈜한화가 개발키로 한 저장성 이원추진제 추력기는 연료와 산화제를 각기 다른 탱크에 저장하는 이원화 방식이 적용된다. 이 경우 연료량을 조절해 효율성이 높고 많은 연료를 장기간 저장할 수 있다는 장점이 있다. 김승모 ㈜한화 방산부문 대표이사는 “민간 주도의 뉴 스페이스(New Space) 시대를 앞두고 100% 해외에 의존하던 핵심 기술을 국산화한다는 의미가 크다”고 밝혔다.한화그룹은 최근 인공위성 사업 확장에 열을 올리고 있다. 김승연 한화그룹 회장은 올 초 신년사에서 "미래 모빌리티, 항공우주 등 신규 사업에서도 세계를 상대로 미래 성장 기회를 선점해 달라"고 주문하기도 했다. 한화그룹의 방산 계열사인 한화에어로스페이스는 올 초 소형 인공위성 기업 쎄트렉아이 지분 30%를 인수했으며 김동관 사장은 쎄트렉아이 등기임원에 올라 경영에 참여하고 있다. 한화시스템은이미 지난해 영국의 위성통신 안테나 기술 벤처기업인 ‘페이저 솔루션’의 사업 및 자산 일체를 인수한 바 있다.
		]')

KeyboardInterrupt: